<ion-view view-title="Home" cache-view="false" ng-hide="forgot_view">
    <div id="wrapper" class="clearfix" style="animation-duration: 1.5s; opacity: 1;width: 100%;height: 100%;">
        <!-- Content
        ============================================= -->
        <section id="content">
            <div class="content-wrap" style="padding-top:50px !important">
                <div class="container clearfix">
                    <div class="row center">
                        <a href="http://www.conceptowl.com"><img src="images/logologin.png" alt="Canvas Logo"></a>
                    </div>
                    <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">
                        <div class="acctitle" style="    margin-top: 35px;"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-unlock"></i>Change password </div>
                        <div class="acc_content clearfix" style="padding: 10px 10px 30px 10px;">
                            <form id="login-form" name="loginForm" class="nobottommargin">
                                <div class="col_full">
                                    <label for="login-form-username">Email:</label>
                                    <input type="email" id="login-form-username" value="" class="form-control" ng-model="forgot.mail" name="userEmail" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" style="box-shadow: 0px 0px 1px 1px #999 inset !important" required/>
                                    <div class="signInError user_error" style="color:red" ng-show="email_error">
                                        Please enter valid Email-Id.
                                    </div>
                                </div>
                                <div class="sociallogin" style="text-align: center;margin-bottom: 25px;margin-top:0px;margin-right: 6px;margin-left: -5px;">
                                    
                                    <button ng-click="forgot_pass()" class="button button-rounded si-gplus si-colored reg_social_button" style="width:143px;background-color:#0E9C55 !important">Submit</button>
                                </div>
                            </form>
                        </div>
                        <div class="Bansallog" style="margin-top: 30px  !important">
                            <a><img src="images/bansalclasses.png" alt="Bansal Classes" style="width: 90%;"></a>
                        </div>
                        <div class="copyright row center dark"><small>Copyrights © All Rights Reserved by ConceptOwl.</small></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #content end -->
    </div>
    <!-- #wrapper end -->
    <div class="submit-popup-container" ng-class="{'active':forgotSubmit}">
        <div class="row popup-style-container">
            <div class="row popup-style-row1">
                <p class="pop_para popup-style-row1-text">{{forgot_message}}</p>
            </div>
            <div class="row popup-style-row2">
                <div class="col-md-6 end_button" style="padding:0px;">
                    <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="closeforgotConfirm()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" ng-class="{'active':timeOut}">
        <div class="row popup-style-container">
            <div class="row popup-style-row1">
                <p class="pop_para popup-style-row1-text">Unable to connect with server</p>
            </div>
            <div class="row popup-style-row2">
                <div class="col-md-6 end_button" style="padding:0px;">
                    <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToLogin()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" style="opacity:0.7 !important" ng-class="{'active':overlay}">
        <div class="container app_loader" style="width:100px !important">
            <div class="row row-centered" style="margin-left: 10px;
    margin-top: 25px;">
                <div class="">
                    <ion-spinner icon="bubbles"></ion-spinner>
                </div>
            </div>
        </div>
    </div>
</ion-view>
