<ion-view view-title="Heatmap" cache-view="false" ng-hide="nav_views">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse" style="position: relative; overflow: hidden; width: auto;height:100% !important;" class="slimScrollDiv">
            <a class="logo" href="#"><img src="images/logo.png" alt="ConceptOwl Logo" /></a>
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header user-prof">
                    <div>
                        <a href="#">
                            <div class="user-logo"><img style="height:50px !important" alt="image" class="img-circle" src="{{prof_imag}}"></div>
                            <span class="block m-t-xs user-name"> 
                                <strong class="font-bold">{{prof_name}}</strong>
                            </span>
                        </a>
                    </div>
                </li>
                <!--  <li>
                        <a ng-href="#/home"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
                    </li> -->
                <!--  <li>
                        <a href="special-tests.html"><i class="fa fa-th-large"></i> <span class="nav-label">Special Tests</span></a>
                    </li> -->
                <li class="active" ng-class="{'active':practice}" ng-click="practiceClick()">
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Concept Heatmap</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-hide="!practice">
                        <li class="active"><a href="#/heatmap">Practice</a></li>
                        <li><a href="#/practice_review">Review</a></li>
                    </ul>
                </li>
                <!-- <li ng-class="{'active':doubt}" ng-click="doubtClick()">
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Doubt Clearing Desk</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-hide="!doubt">
                        <li><a ng-href="#/ask-ques">Ask a question</a></li>
                        <li><a ng-href="#/schedule">Schedule a session</a></li>
                    </ul>
                </li> -->
                <li ng-class="{'active':mock}" ng-click="mockClick()">
                    <a><i class="fa fa-th-large"></i> <span class="nav-label">JEE Mock Test</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-hide="!mock">
                        <!-- <li><a ng-href="#/dash">Overview</a></li> -->
                        <li><a ng-href="#/upcoming">Take a Test</a></li>
                        <li><a ng-href="#/prev">Previous Tests</a></li>
                    </ul>
                </li>
                <!--  <li>
                        <a href="rapid-revision-roster.html"><i class="fa fa-th-large"></i> <span class="nav-label">Rapid Revision Roster</span></a>
                    </li>
                    <li>
                        <a href="resources.html"><i class="fa fa-th-large"></i> <span class="nav-label">Resources</span></a>
                    </li>
                    <li>
                        <a href="blog.html"><i class="fa fa-th-large"></i> <span class="nav-label">Blog</span></a>
                    </li>
                    <li>
                        <a href="who-are-we.html"><i class="fa fa-th-large"></i> <span class="nav-label">Who are we?</span></a>
                    </li> -->
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="white-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " ng-click="navClick()"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right pull-right" style="float:right">
                    <li>
                        <a href="http://www.conceptowl.com" ng-click="log_out(logg_type)" style="color:#000; margin-left:20px;">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row wrapper border-bottom navy-bg" ng-click="hide_nav()">
            <div class="col-sm-12">
                <h1 class="dashboard-heading">Readiness Score (by topic)</h1>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight" ng-click="hide_nav()">
            <div class="row readiness-map">
                <div class="col-lg-12">
                    <div class="ibox collapsed physics border-bottom">
                        <div class="minimum-bar">
                            <div class="vert-text">Minimum</div>
                            <div class="vert-bar long"></div>
                        </div>
                        <div class="average-bar">
                            <div class="vert-text">Average</div>
                            <div class="vert-bar long"></div>
                        </div>
                        <div class="outstanding-bar">
                            <div class="vert-text">Outstanding</div>
                            <div class="vert-bar long"></div>
                        </div>
                        <div class="ibox-title heatmap-subject" style="border:none">
                            <h3 class="subject-name " style="font-size:18px;cursor:pointer" ng-click="phy_topics()"> PHYSICS  </h3>
                            <!--  <div class="subject-notification">
                                <div class="alert alert-increased alert-dismissable">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&#10006;</button>
                                    Your score increased by 2%!
                                </div>
                            </div> -->
                            <div class="progress collapse-subject " ng-click="phy_topics()" style="top:-16px;left:14px">
                                <i class="fa fa-plus" style="width:15px !important" ng-show="!phy_sub_topics"></i>
                                <i class="fa fa-minus" style="width:15px !important" ng-show="phy_sub_topics"></i>
                                <div style="width:{{heatData[0].score | number:0}}%" class="progress-bar progress-bar-success"></div>
                                <div class="scoreboard" style="left:{{heatData[0].score}}%;">
                                    <div class="card" style="text-align:center">{{heatData[0].score | number:0}}%</div>
                                </div>
                                <div style="width:{{(heatData[0].previous_score-heatData[0].score)/heatData[0].total_score*100 | number:0}}%" class="progress-bar progress-bar-warning"></div>
                                <!--<div style="width: 12%" class="progress-bar progress-bar-ghost"></div>
                                <div class="scoreboard" style="left:86%;"><div class="card ghost">87%</div></div>-->
                            </div>
                        </div>
                        <!-- ng-disabled="{{chapter.attempted}}" -->
                        <div class="ibox-content heatmap-chapters" ng-show="phy_sub_topics">
                            <div class="chapter" ng-repeat="chapter in heatData[0].topics" style="margin-top:-10px">
                                <div class="chapter-practice" style="left:-6px" ng-show="!chapter.locked">
                                    <button class="btn btn-sm dropdown-toggle " ng-click="practClick($index,'phy')">
                                        Practice
                                    </button>
                                </div>
                                <div class="chapter-practice" style="left:-6px" ng-show="chapter.locked">
                                    <button class="btn btn-sm dropdown-toggle " ng-click="unlock()" style="color: #DC0C0C;font-weight: 600;border-radius: 3px;background: transparent;padding: 3px 10px;border: 1px solid;">
                                        Unlock
                                    </button>
                                </div>
                                <div style="padding: 22px 10px 10px;margin-left:70px;">
                                    <span class="" style="font-weight:600;font-size: 12px;cursor:pointer;" ng-click="practClick($index,'phy')">{{chapter.topic_name}} | {{chapter.score | number:0}}%</span>
                                    <span class="chapter-name" style="padding-left: 24px;font-size: 10px;color: red;" ng-show="{{chapter.attempted}}">You have attempted all questions in this topic</span>
                                    <!-- <div class="chapter-notification" style="left: 46%;">
                                    <div class="alert alert-decreased alert-dismissable">
                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&#10006;</button>
                                        Your score decreased by 2%!
                                    </div>
                                </div> -->
                                </div>
                                <div class="progress">
                                    <div style="width: {{chapter.score | number:0}}%" class="progress-bar progress-bar-success"></div>
                                    <div class="scoreboard" style="left:{{chapter.score/chapter.total_score*100 }}%;">
                                        <div class="card">{{chapter.score | number:0}}%</div>
                                    </div>
                                    <!-- <div style="width:{{(chapter.previous_score-chapter.score)/chapter.total_score*100 | number:0}}%" class="progress-bar progress-bar-warning"></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox collapsed chemistry border-bottom">
                        <div class="minimum-bar">
                            <div class="vert-text">Minimum</div>
                            <div class="vert-bar"></div>
                        </div>
                        <div class="average-bar">
                            <div class="vert-text">Average</div>
                            <div class="vert-bar"></div>
                        </div>
                        <div class="outstanding-bar">
                            <div class="vert-text">Outstanding</div>
                            <div class="vert-bar"></div>
                        </div>
                        <div class="ibox-title heatmap-subject" style="border-color: #C3C6C9 !important;padding-top: 25px;">
                            <h3 class="subject-name " style="font-size:18px;cursor:pointer;" ng-click="che_topics()"> CHEMISTRY </h3>
                            <!-- <div class="subject-notification">
                                    <div class="alert alert-increased alert-dismissable">
                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&#10006;</button>
                                        Your score increased by 2%!
                                    </div>
                                </div> -->
                            <div class="progress collapse-subject" ng-click="che_topics()" style="top:-16px;left:14px">
                                <i class="fa fa-plus" style="width:15px !important" ng-show="!che_sub_topics"></i>
                                <i class="fa fa-minus" style="width:15px !important" ng-show="che_sub_topics"></i>
                                <div style="width:{{heatData[1].score | number:0}}%" class="progress-bar progress-bar-success"></div>
                                <div class="scoreboard" style="left:{{heatData[1].score  | number:0}}%;">
                                    <div class="card" style="text-align:center">{{heatData[1].score | number:0}}%</div>
                                </div>
                                <div style="width:width:{{(heatData[1].previous_score-heatData[1].score)/heatData[0].total_score*100 | number:0}}%" class="progress-bar progress-bar-warning"></div>
                                <!--<div style="width: 12%" class="progress-bar progress-bar-ghost"></div>
                                <div class="scoreboard" style="left:86%;"><div class="card ghost">87%</div></div>-->
                            </div>
                        </div>
                        <div class="ibox-content heatmap-chapters" style="" ng-show="che_sub_topics">
                            <div class="chapter" ng-repeat="chapter in heatData[1].topics" style="margin-top:-10px">
                                <div class="chapter-practice" style="left:-6px" ng-show="!chapter.locked">
                                    <button class="btn btn-sm dropdown-toggle " ng-click="practClick($index,'che')" >
                                        Practice
                                    </button>
                                </div>
                                <div class="chapter-practice" style="left:-6px" ng-show="chapter.locked">
                                    <button class="btn btn-sm dropdown-toggle " ng-click="unlock()" style="color: #DC0C0C;font-weight: 600;border-radius: 3px;background: transparent;padding: 3px 10px;border: 1px solid;">
                                        Unlock
                                    </button>
                                </div>
                                <div style="padding: 22px 10px 10px;margin-left:70px;">
                                    <span class="" style="font-weight:600;font-size: 12px;cursor:pointer;" ng-click="practClick($index,'che')">{{chapter.topic_name}} | {{chapter.score | number:0}}%</span>
                                    <span class="chapter-name" style="padding-left: 24px;font-size: 10px;color: red;" ng-show="{{chapter.attempted}}">You have attempted all questions in this topic</span>
                                    <!-- <div class="chapter-notification" style="left: 46%;">
                                    <div class="alert alert-decreased alert-dismissable">
                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&#10006;</button>
                                        Your score decreased by 2%!
                                    </div>
                                </div> -->
                                </div>
                                <div class="progress">
                                    <div style="width: {{chapter.score | number:0}}%" class="progress-bar progress-bar-success"></div>
                                    <div class="scoreboard" style="left:{{chapter.score/chapter.total_score*100 | number:0}}%;">
                                        <div class="card">{{chapter.score | number:0}}%</div>
                                    </div>
                                    <!-- <div style="width:{{(chapter.previous_score-chapter.score)/chapter.total_score*100 | number:0}}%" class="progress-bar progress-bar-warning"></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox collapsed maths border-bottom">
                        <div class="minimum-bar">
                            <div class="vert-text">Minimum</div>
                            <div class="vert-bar"></div>
                        </div>
                        <div class="average-bar">
                            <div class="vert-text">Average</div>
                            <div class="vert-bar"></div>
                        </div>
                        <div class="outstanding-bar">
                            <div class="vert-text">Outstanding</div>
                            <div class="vert-bar"></div>
                        </div>
                        <div class="ibox-title heatmap-subject" style="border-color: #C3C6C9 !important;padding-top: 25px;">
                            <h3 class="subject-name " style="font-size:18px;cursor:pointer;" ng-click="mat_topics()"> MATHS </h3>
                            <!--  <div class="subject-notification">
                                    <div class="alert alert-increased alert-dismissable">
                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&#10006;</button>
                                        Your score increased by 2%!
                                    </div>
                                </div> -->
                            <div class="progress collapse-subject" ng-click="mat_topics()" style="top:-16px;left:14px">
                                <i class="fa fa-plus" style="width:15px !important" ng-show="!mat_sub_topics"></i>
                                <i class="fa fa-minus" style="width:15px !important" ng-show="mat_sub_topics"></i>
                                <div style="width:{{heatData[2].score | number:0}}%" class="progress-bar progress-bar-success"></div>
                                <div class="scoreboard" style="left:{{heatData[2].score | number:0}}%;">
                                    <div class="card" style="text-align:center">{{heatData[2].score | number:0}}%</div>
                                </div>
                                <div style="width:width:{{(heatData[2].previous_score-heatData[2].score)/heatData[2].total_score*100 | number:0}}%" class="progress-bar progress-bar-warning"></div>
                                <!-- <div style="" class="progress-bar progress-bar-ghost start"></div>
                                <div class="scoreboard score-start"><div class="card ghost">87%</div></div> -->
                            </div>
                        </div>
                        <div class="ibox-content heatmap-chapters" style="" ng-show="mat_sub_topics">
                            <div class="chapter" ng-repeat="chapter in heatData[2].topics" style="margin-top:-10px">
                                <div class="chapter-practice" style="left:-6px" ng-show="!chapter.locked">
                                    <button class="btn btn-sm dropdown-toggle " ng-click="practClick($index,'mat')" >
                                        Practice
                                    </button>
                                </div>
                                <div class="chapter-practice" style="left:-6px" ng-show="chapter.locked">
                                    <button class="btn btn-sm dropdown-toggle " ng-click="unlock()" style="color: #DC0C0C;font-weight: 600;border-radius: 3px;background: transparent;padding: 3px 10px;border: 1px solid;">
                                        Unlock
                                    </button>
                                </div>
                                <div style="padding: 22px 10px 10px;margin-left:70px;">
                                    <span class="" style="font-weight:600;font-size: 12px;cursor:pointer;" ng-click="practClick($index,'mat')">{{chapter.topic_name}} | {{chapter.score | number:0}}%</span>
                                    <span class="chapter-name" style="padding-left: 24px;font-size: 10px;color: red;" ng-show="{{chapter.attempted}}">You have attempted all questions in this topic</span>
                                    <!-- <div class="chapter-notification" style="left: 46%;">
                                    <div class="alert alert-decreased alert-dismissable">
                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&#10006;</button>
                                        Your score decreased by 2%!
                                    </div>
                                </div> -->
                                </div>
                                <div class="progress">
                                    <div style="width: {{chapter.score | number:0}}%" class="progress-bar progress-bar-success"></div>
                                    <div class="scoreboard" style="left:{{chapter.score/chapter.total_score*100 | number:0}}%;">
                                        <div class="card">{{chapter.score | number:0}}%</div>
                                    </div>
                                    <!-- <div style="width:{{(chapter.previous_score-chapter.score)/chapter.total_score*100 | number:0}}%" class="progress-bar progress-bar-warning"></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                Email: <strong><a href="mailto:owl@conceptowl.com" style="color:inherit"> owl@conceptowl.com</a></strong>
            </div>
            <div>
                <strong>Copyright</strong> ConceptOwl
            </div>
        </div>
    </div>
    <div class="submit-popup-container" ng-class="{'active':timeOut}">
        <div class="row popup-style-container">
            <div class="row popup-style-row1">
                <p class="pop_para popup-style-row1-text">Unable to connect with server</p>
            </div>
            <div class="row popup-style-row2">
                <div class="col-md-6 end_button" style="padding:0px;">
                    <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToLogin()">Retry</button>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" ng-class="{'active':payment}">
        <div class="row popup-style-container">
            <div class="row popup-style-row1" style="">
                <p class="pop_para popup-style-row1-text" style="padding-bottom: 18px;padding:35px !important">Pay Rs. 4499/- to get complete access to the following</p>
                <ul style="padding-left: 20px;padding-right: 20px;color: white !important;">
                    <li class="payment" >120 concepts for unlimited practice sessions</li>
                    <li class="payment" >JEE Test Series with 46 mock tests of 3 hours duration</li>
                </ul>
            </div>
            <div class="row popup-style-row2">
                <div class="col-md-6 end_button pay" >
                    <button class="btn  pop_para popup-style-row2-button pay" style="border-radius:0px;    border-right: 1px solid white;" ng-click="cancel()">CANCEL</button>
                </div>
                <div class="col-md-6 end_button pay" >
                    <a ng-click="paynow()"  class="btn  pop_para popup-style-row2-button" style="border-radius:0px;">PAY NOW</a>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" style="opacity:0.7 !important" ng-class="{'active':overlay}">
        <div class="container app_loader" style="width:100px !important">
            <div class="row row-centered" style="margin-left: 10px;margin-top: 25px;">
                <div class="">
                    <ion-spinner icon="bubbles"></ion-spinner>
                </div>
            </div>
        </div>
    </div>
</ion-view>
<!-- href="http://imojo.in/8uy1w" -->