<ion-view view-title="Home" cache-view="false">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse" style="position: relative; overflow: hidden; width: auto; height:auto;" class="slimScrollDiv">
            <a class="logo" href="#"><img src="images/logo.png" alt="ConceptOwl Logo" /></a>
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header user-prof">
                    <div>
                        <a href="#">
                            <div class="user-logo"><img alt="image" class="img-circle" src="images/profile_small.jpg"></div>
                            <span class="block m-t-xs user-name" > 
                                <strong class="font-bold">User Name</strong>
                            </span>
                        </a>
                    </div>
                </li>
                <!-- <li class="active">
                    <a ng-href="#/home"><i class="fa fa-th-large "></i> <span class="nav-label">Dashboard</span></a>
                </li> -->
                <li ng-class="{'active':mock}" ng-click="mockClick()">
                    <a><i class="fa fa-th-large"></i> <span class="nav-label">JEE Mock Test</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-hide="!mock">
                        <!-- <li><a ng-href="#/dash">Overview</a></li> -->
                        <li><a ng-href="#/prev">Previous Tests</a></li>
                        <li><a ng-href="#/upcoming">Upcoming Tests</a></li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="special-tests.html"><i class="fa fa-th-large"></i> <span class="nav-label">Special Tests</span></a>
                </li> -->
                <li ng-class="{'active':doubt}" ng-click="doubtClick()">
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Doubt Clearing Desk</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-hide="!doubt">
                        <li><a ng-href="#/ask-ques">Ask a question</a></li>
                        <li><a ng-href="#/schedule">Schedule a session</a></li>
                    </ul>
                </li>
                <li class="" ng-class="{'active':practice}" ng-click="practiceClick()">
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Practice Pro</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-hide="!practice">
                        <li><a href="#/heatmap">Concept Heatmap</a></li>
                        <li><a href="#/practice_review">Practice Session Review</a></li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="rapid-revision-roster.html"><i class="fa fa-th-large"></i> <span class="nav-label">Rapid Revision Roster</span></a>
                </li>
                <li>
                    <a href="resources.html"><i class="fa fa-th-large"></i> <span class="nav-label">Resources</span></a>
                </li>
                <li>
                    <a href="blog.html"><i class="fa fa-th-large"></i> <span class="nav-label">Blog</span></a>
                </li>
                <li>
                    <a href="who-are-we.html"><i class="fa fa-th-large"></i> <span class="nav-label">Who are we?</span></a>
                </li> -->
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="white-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " ng-click="navClick()"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right pull-right" style="float:right">
                    <li>
                        <a ng-href="#/login" style="color:#000; margin-left:20px;">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row wrapper border-bottom navy-bg">
            <div class="col-sm-12">
                <h1 class="dashboard-heading">Welcome to ConceptOwl Dashboard</h1>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="border-div">
                <div class="col-md-12 col-sm-12 container" style="height:100%">
                    <div class="row">
                        <p class="tests-content-title">CHOOSE FROM ONE OF OUR FREE TESTS</p>
                        <hr size="30" class="title_bottom"></hr>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div style="min-height:400px;margin-top: 80px;" class="col-md-12 centered-test-selection" id="onhover_three">
                                <div class="row padd-3">
                                    <div class="back_circle_three"></div>
                                    <div class="test-icon changeColor_three" id="">
                                        <i class=" fa fa-desktop" style="font-size: 37px;color:white;padding: 29px;padding-top: 34px;"></i>
                                    </div>
                                </div>
                                <br>
                                <p style="font-size:20px;text-align:center">
                                    <span class="three_test">THREE HOUR TEST</span>
                                    <br>
                                    <hr size="30" class="three_bottom"></hr>
                                </p>
                                <p style="font-size:20px;text-align:center;">
                                    Maximum Marks - 360
                                    <br> All Subjects
                                    <br> Questions per subject - 90
                                    <br>
                                </p>
                                <div class="row padd-3">
                                    <select style="display:block;margin:0 auto" ng-model="three_testname" class="selectpicker tests-option">
                                        <option value="Select One">Select One</option>
                                        <option ng-repeat="test in three_tests">{{test.testname}}</option>
                                    </select>
                                </div>
                                <div class="row padd-3">
                                    <button class="button button-primary test-button" style="width:170px;display:block;margin:0 auto" ng-click="three_Test()">BEGIN TEST</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div style="min-height:400px;margin-top: 80px;" class="col-md-12 centered-test-selection" id="onhover_three">
                                <div class="row padd-3">
                                    <div class="test-icon changeColor_three">
                                        <i class=" fa fa-eye" style="font-size: 37px;color:white;padding:32px;padding-top: 32px;"></i>
                                    </div>
                                </div>
                                <br>
                                <p style="font-size:20px;text-align:center">
                                    <span class="three_test">TWENTY MINUTE TEST</span>
                                    <br>
                                    <hr size="30" class="three_bottom"></hr>
                                </p>
                                <p style="font-size:20px;text-align:center;">
                                    Maximum Marks - 40
                                    <br> Subject-wise tests
                                    <br> Questions per subject - 10
                                    <br>
                                </p>
                                <div class="row padd-3">
                                    <select ng-model="twenty_testname" class="selectpicker tests-option" style="display:block;margin:0 auto">
                                        <option value="Select One">Select One</option>
                                        <option ng-repeat="test in twenty_tests">{{test.testname}}</option>
                                    </select>
                                </div>
                                <div class="row padd-3">
                                    <button class="button button-primary test-button" style="width:170px;display:block;margin:0 auto" ng-click="twenty_Test()">BEGIN TEST</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-popup-container" style="opacity:0.7 !important" ng-class="{'active':overlay}">
            <div class="container app_loader">
                <div class="row row-centered" style="margin-left: 10px;
    margin-top: 25px;">
                    <div class="">
                        <ion-spinner icon="bubbles"></ion-spinner>
                    </div>
                </div>
            </div>
        </div>
</ion-view>
