<ion-view view-title="Home" cache-view="false" ng-hide="login_view"> 
    <div id="wrapper" class="clearfix" style="animation-duration: 1.5s; opacity: 1;width: 100%;height: 100%;">
        <!-- Content
        ============================================= -->
        <section id="content">
            <div class="content-wrap" style="padding-top:50px !important">
                <div class="container clearfix">
                    <div class="row center">
                        <a href="http://www.conceptowl.com"><img src="images/logologin.png" alt="Canvas Logo"></a>
                    </div>
                    <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">
                        <div class="sociallogin" style="text-align: center;margin-bottom: 25px;margin-top: 35px;">
                            <a ng-click="fb_login()" class="button button-rounded si-facebook si-colored reg_social_button"><i class="icon-facebook"></i> Facebook</a>
                            <button ng-click="google_login()" class="button button-rounded si-gplus si-colored reg_social_button" style="width:143px"><i class="icon-gplus">
                                            </i> Google</button>
                        </div>
                        <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-unlock"></i>Login to your Account</div>
                        <div class="acc_content clearfix" style="padding: 10px 10px 30px 10px;">
                            <form id="login-form" name="loginForm" class="nobottommargin">
                                <div class="col_full">
                                    <label for="login-form-username">Email:</label>
                                    <input type="email" id="login-form-username" value="" class="form-control" ng-model="user_log.username" name="userEmail" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" style="box-shadow: 0px 0px 1px 1px #999 inset !important" required/>
                                    <div class="signInError user_error" style="color:red" ng-show="errors || email_error">
                                        Please enter valid Email-Id.
                                    </div>
                                </div>
                                <div class="col_full">
                                    <label for="login-form-password">Password:</label>
                                    <input type="{{input_type}}" id="login-form-password" class="form-control" ng-model="user_log.password" name="userPassword" type="password" ng-minlength="8" ng-show="!show_checked" style="box-shadow: 0px 0px 1px 1px #999 inset !important" required>
                                    <div class="signInError pass_error" style="color:red" ng-show="errors || pass_error">
                                        Please enter valid Password.
                                    </div>
                                </div>
                                <div class="col_full nobottommargin">
                                    <button class="button button-3d button nomargin" id="login-form-submit" name="login-form-submit" value="login" ng-click="submit_login()">Login</button>
                                    <a href="#/forgot" ng-click="hideview()" class="fright">Forgot Password?</a>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-click="selectInput()" ng-model="showPassword" value="">Show password</label>
                                </div>
                            </form>
                        </div>
                        <a href="#/newregister" ng-click="scroll()">
                            <div class="acctitle"><i class="acc-closed icon-user4"></i><i class="acc-open icon-ok-sign"></i>New Signup?</div>
                        </a>
                        <div class="line line-sm" style="margin: 20px 0px !important"></div>
                        <div class="Bansallog" style="margin-top: 60px  !important">
                            <a><img src="images/bansalclasses.png" alt="Bansal Classes" style="width: 90%;"></a>
                        </div>
                        <div class="copyright row center dark"><small>Copyrights © All Rights Reserved by ConceptOwl.</small></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #content end -->
    </div>
    <!-- #wrapper end -->
    
    <div class="submit-popup-container" ng-class="{'active':logSubmit}">
        <div class="row popup-style-container">
            <div class="row popup-style-row1">
                <p class="pop_para popup-style-row1-text">{{login_error}}</p>
            </div>
            <div class="row popup-style-row2">
                <div class="col-md-6 end_button" style="padding:0px;">
                    <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="closelogConfirm()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" ng-class="{'active':timeOut}">
        <div class="row popup-style-container">
            <div class="row popup-style-row1">
                <p class="pop_para popup-style-row1-text">Unable to connect with server</p>
            </div>
            <div class="row popup-style-row2">
                <div class="col-md-6 end_button" style="padding:0px;">
                    <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToLogin()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" style="opacity:0.7 !important" ng-class="{'active':overlay}">
        <div class="container app_loader" style="width:100px !important">
            <div class="row row-centered" style="margin-left: 10px;
    margin-top: 25px;">
                <div class="">
                    <ion-spinner icon="bubbles"></ion-spinner>
                </div>
            </div>
        </div>
    </div>
</ion-view>
