<ion-view view-title="Home" cache-view="false">
    <div id="wrapper" class="clearfix" style="animation-duration: 1.5s; opacity: 1;width: 100%;" delegate-handle="mainScroll">
        <!-- Content
        ============================================= -->
        <section id="content">
            <div class="content-wrap" style="padding-top:50px !important">
                <div class="container clearfix">
                    <div class="row center">
                        <a href="http://www.conceptowl.com"><img src="images/logologin.png" alt="Canvas Logo"></a>
                    </div>
                    <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">
                        <div class="sociallogin" style="text-align: center;margin-bottom: 25px;margin-top: 35px;">
                            <a ng-click="fb_login()" href="#" class="button button-rounded si-facebook si-colored reg_social_button"><i class="icon-facebook"></i> Facebook</a>
                            <a ng-click="google_login()" data-ajax=false href="#" class="button button-rounded si-gplus si-colored reg_social_button" style="width:143px"><i class="icon-gplus">
                                            </i> Google</a>
                        </div>
                        <div class="acctitle"><i class="acc-closed icon-user4"></i><i class="acc-open icon-ok-sign"></i>Register for an Account</div>
                        <div class="acc_content clearfix" style="padding: 10px 25px 30px 25px">
                            <form id="register-form" name="regForm" class="nobottommargin">
                                <div class="col_full">
                                    <label for="register-form-name">Name:</label>
                                    <input type="text" id="register-form-name" value="" class="form-control" ng-model="user_reg.name" name="userRegname" style="box-shadow: 0px 0px 1px 1px #999 inset !important" required />
                                    <div class="signInError user_error" style="color:red" ng-show="errors || name_error">
                                        Please enter a name.
                                    </div>
                                </div>
                                <div class="col_full">
                                    <label for="register-form-email">Email Address:</label>
                                    <input id="register-form-email" value="" class="form-control" ng-model="user_reg.email" name="userRegemail" type="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" style="box-shadow: 0px 0px 1px 1px #999 inset !important" required/>
                                    <div class="signInError user_error" style="color:red" ng-show="errors || email_error">
                                        Please enter a valid Email.
                                    </div>
                                </div>
                                <!-- <div class="col_full">
                                    <label for="register-form-username">Choose a Username:</label>
                                    <input type="text" id="register-form-username" value="" class="form-control" ng-model="user_reg.username" name="userRegusername" style="box-shadow: 0px 0px 1px 1px #999 inset !important" required/>
                                    <div class="signInError user_error" style="color:red" ng-show="errors">
                                        Please enter a username.
                                    </div>
                                </div> -->
                                <div class="col_full">
                                    <label for="register-form-phone">Phone:</label>
                                    <input id="register-form-phone" value="" class="form-control" ng-model="user_reg.phone" name="userRegphone_no" type="tel" style="box-shadow: 0px 0px 1px 1px #999 inset !important" required/>
                                    <div class="signInError user_error" style="color:red" ng-show=" mobile_error">
                                        Please enter 10 digit Phone Number.
                                    </div>
                                </div>
                                <div class="col_full">
                                    <label for="register-form-password">Choose Password:</label>
                                    <input type="{{input_type}}" id="register-form-password" value="" class="form-control" ng-model="user_reg.password" name="userRegpassword" ng-minlength="8" type="password" style="box-shadow: 0px 0px 1px 1px #999 inset !important" required/>
                                    <div class="signInError user_error" style="color:red" ng-show="errors || pass_error">
                                        Please enter a valid Password (Minimum 8 Characters).
                                    </div>
                                    <div class="signInError user_error" style="color:black" ng-show="initial">
                                        (Minimum 8 Characters)
                                    </div>
                                </div>
                                <!-- <div class="col_full">
                                    <label for="register-form-repassword">Re-enter Password:</label>
                                    <input type="password" id="register-form-repassword" value="" class="form-control" ng-model="user_reg.repassword" name="userRegrepassword" ng-minlength="8" type="password" style="box-shadow: 0px 0px 1px 1px #999 inset !important" required/>
                                    <div class="signInError user_error" style="color:red" ng-show="errors">
                                        Re-enter the password.
                                    </div>
                                    
                                </div> -->
                                <div class="col_full nobottommargin">
                                    <button class="button button-3d button-black nomargin" id="register-form-submit" name="register-form-submit" value="register" ng-click="submit_register()">Register Now</button>
                                    <a href="#/newlogin" class="button button-rounded si-gplus si-colored"> Back</a>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-click="selectInput()" ng-model="showPassword" value="">Show password</label>
                                </div>
                            </form>
                        </div>
                        <div class="line line-sm"></div>
                        <div class="Bansallog">
                            <a><img src="images/bansalclasses.png" alt="Bansal Classes" style="width: 90%;"></a>
                        </div>
                        <div class="copyright row center dark"><small>Copyrights © All Rights Reserved by ConceptOwl.</small></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #content end -->
    </div>
    <!-- #wrapper end -->
    <div class="submit-popup-container" ng-class="{'active':regSubmit}">
        <div class="row popup-style-container">
            <div class="row popup-style-row1">
                <p class="pop_para popup-style-row1-text">{{error_message}}</p>
            </div>
            <div class="row popup-style-row2">
                <div class="col-md-6 end_button" style="padding:0px;">
                    <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="closeregConfirm()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" ng-class="{'active':finishSubmit}">
        <div class="row popup-style-container">
            <div class="row popup-style-row1">
                <p class="pop_para popup-style-row1-text">Registered Successfully..</p>
            </div>
            <div class="row popup-style-row2">
                <div class="col-md-6 end_button" style="padding:0px;">
                    <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="closefinishreg()">OK</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="submit-popup-container" ng-class="{'active':timeOut}">
        <div class="row popup-style-container">
            <div class="row popup-style-row1">
                <p class="pop_para popup-style-row1-text">Unable to connect with server</p>
            </div>
            <div class="row popup-style-row2">
                <div class="col-md-6 end_button" style="padding:0px;">
                    <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToLogin()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" style="opacity:0.7 !important" ng-class="{'active':overlay}">
        <div class="container app_loader" style="width:100px !important">
            <div class="row row-centered" style="margin-left: 10px;margin-top: 25px;">
                <div class="">
                    <ion-spinner icon="bubbles"></ion-spinner>
                </div>
            </div>
        </div>
    </div>
</ion-view>
