<ion-view view-title="Payment">
    <ion-content style="padding:100px;">
        <div id="paybutton"></div>
    </ion-content>
    <div class="submit-popup-container" style="opacity:0.7 !important" ng-class="{'active':overlay}">
        <div class="container app_loader" style="width:100px !important">
            <div class="row row-centered" style="margin-left: 10px;margin-top: 25px;">
                <div class="">
                    <ion-spinner icon="bubbles"></ion-spinner>
                </div>
            </div>
        </div>
    </div>
</ion-view>
