<ion-view view-title="Analysis" cache-view="false" id="wrapper" class="clearfix">
    <div id="content" ng-hide="analyCompleted">
        <div class="content-wrap">
            <div class="qa-section">
                <!--This is the container for the main Q&A section-->
                <div class="qa-header">
                    <!--This is container for the header of the Q&A section-->
                    <div class="menu-icon" ng-click="show_side()"><i class="icon-line-menu"></i></div>
                    <ul class="subject-tab nomargin">
                        <!-- <li class="btn btn-lg btn-danger nomargin subject-btn" ng-hide="showTestButton.Physics" ng-class="{'active': currentView === 0 }" ng-click="changeSub(0,10)">Physics</li>
                        <li class="btn btn-lg btn-danger nomargin subject-btn" ng-hide="showTestButton.Chemistry" ng-class="{'active': currentView === 1}" ng-click="changeSub(1,10)">Chemistry</li>
                        <li class="btn btn-lg btn-danger nomargin subject-btn" ng-hide="showTestButton.Maths" ng-class="{'active': currentView === 2}" ng-click="changeSub(2,10)">Mathematics</li> -->
                        <div class="tops">
                            <li class="subject-btn">
                                <span class="btn btn-lg subject-btn nomargin big" style="color:white;padding-bottom: 15px;" ng-hide="showTestButton.Physics" ng-class="{'active': currentView === 0 }" ng-click="changeSub(0,10)">Physics</span>
                                <span class="btn btn-lg subject-btn nomargin small" style="color:white;padding-bottom:12px" ng-hide="showTestButton.Physics" ng-class="{'active': currentView === 0 }" ng-click="changeSub(0,10)">P</span>
                            </li>
                            <li class="subject-btn">
                                <span class="btn btn-lg subject-btn nomargin big" style="color:white;padding-bottom: 15px;" ng-hide="showTestButton.Chemistry" ng-class="{'active': currentView === 1}" ng-click="changeSub(1,10)">Chemistry</span>
                                <span class="btn btn-lg subject-btn nomargin small" style="color:white;padding-bottom:12px" ng-hide="showTestButton.Chemistry" ng-class="{'active': currentView === 1}" ng-click="changeSub(1,10)">C</span>
                            </li>
                            <li class="subject-btn" style="margin-left:2px">
                                <span class="btn btn-lg subject-btn nomargin big" style="color:white;padding-bottom: 15px;" ng-hide="showTestButton.Maths" ng-class="{'active': currentView === 2}" ng-click="changeSub(2,10)">Mathematics</span>
                                <span class="btn btn-lg subject-btn nomargin small" style="color:white;padding-bottom:12px" ng-hide="showTestButton.Maths" ng-class="{'active': currentView === 2}" ng-click="changeSub(2,10)">M</span>
                            </li>
                        </div>
                    </ul>
                    <a class="small-logo" href="previous-tests.html"><img src="images/small-logo.png" alt="ConceptOwl Logo" /></a>
                    <div class="da-timer-container" ng-hide="question_space">
                        <!--Updated-->
                        <!--This is where the analysis of time taken will show-->
                        <div class="da-timer">
                            <span>Time required: </span>
                            <span>{{groupedQuestions[currentView][currentQuestion].time_required}} min</span>
                        </div>
                        <div class="da-timer">
                            <span>Time spent: </span>
                            <span>{{groupedQuestions[currentView][currentQuestion].min}} min : {{groupedQuestions[currentView][currentQuestion].sec}} sec</span>
                        </div>
                    </div>
                </div>
                <div class="qa-main-container" ng-hide="question_space" ng-click="close_side_bar()">
                    <!--This is the wrapper container for the Q&A-->
                    <div class="qa-container">
                        <div class="qa-scroll-pane">
                            <div class="current-question-bar">
                                <!--This is where the Q number and current status of progress is shown-->
                                <div class="question-count">
                                    <!--Updated-->
                                    <span class="current-count"><span>{{groupedQuestions[currentView][currentQuestion].topic}} </span> Q. {{currentQuestion+1}}/{{groupedQuestions[currentView].length}}</span>
                                    <p style="width: 312px;position: absolute;margin: auto;right: 0px !important;left: 0px !important;bottom: 8px !important;color: #293846;font-weight: bold;text-align:center;line-height: 2;">{{groupedQuestions[currentView][currentQuestion].question_id}}</p>
                                    <div class="qa-functions fright center">
                                        <!-- <div class="qa-notes ">
                                            
                                            <i class="icon-line2-notebook"></i>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="qa-question">
                                <!--This is container for the Question-->
                                <div class="qa-question-content">
                                    <p style="margin:0px" dynamic="groupedQuestions[currentView][currentQuestion].paragraph"></p>
                                    <p style="margin:0px" dynamic="groupedQuestions[currentView][currentQuestion].ques"></p>
                                    <!-- <img alt="" src="http://s3.amazonaws.com/concept-owl/question_image/photo/3525/content/original_without_enhancement.jpg" style="float:left; height:59px; margin-left:10px; margin-right:10px; width:199px"> -->
                                    </p>
                                </div>
                                <div class="qa-hints button button-3d button-mini button-rounded button-teal nomargin" ng-hide="groupedQuestions[currentView][currentQuestion].no_hint" ng-click="showHint()">Hints</div>
                            </div>
                            <div class="qa-question" ng-show="hintForm" style="background:rgb(221, 229, 236);color:black;">
                                <p style="color:#1AB394;">Hint 1</p>
                                <p style="margin:0px" dynamic="groupedQuestions[currentView][currentQuestion].hint" ng-show="groupedQuestions[currentView][currentQuestion].hint !== '' "></p>
                                <p style="color:#1AB394;">Hint 2</p>
                                <p style="margin:0px" dynamic="groupedQuestions[currentView][currentQuestion].hint_2" ng-show="groupedQuestions[currentView][currentQuestion].hint_2 !== '' "></p>
                                <p style="color:#1AB394;">Hint 3</p>
                                <p style="margin:0px" dynamic="groupedQuestions[currentView][currentQuestion].hint_3" ng-show="groupedQuestions[currentView][currentQuestion].hint_3 !== '' "></p>
                            </div>
                            <div class="qa-answers">
                                <!--This is container for the Answer options-->
                                <div class="qa-answers-form">
                                    <div class="qa-answer-block" ng-hide="groupedQuestions[currentView][currentQuestion].type!='integer_type'">
                                        <!-- Use this when answer type is INTEGER -->
                                        <div class="answer-incorrect" ng-show="groupedQuestions[currentView][currentQuestion].submitted.length > 0">
                                            <!-- Add incorrect class if answer is incorrect or correct class when answer is correct-->
                                            <label class="incorrect" ng-class="{'iconCheck':groupedQuestions[currentView][currentQuestion].correct,'iconCross':groupedQuestions[currentView][currentQuestion].incorrect}">Your choice <i ng-show="groupedQuestions[currentView][currentQuestion].correct" class="icon-line-circle-check"></i><i ng-show="groupedQuestions[currentView][currentQuestion].incorrect" class="icon-line-circle-cross"></i></label>
                                            <!-- Add incorrect class if answer is incorrect or correct class when answer is correct-->
                                            <p class="incorrect">{{groupedQuestions[currentView][currentQuestion].submitted[0].opt}}</p>
                                        </div>
                                        <div class="answer-correct" ng-show="groupedQuestions[currentView][currentQuestion].submitted">
                                            <!-- Show this when answer is incorrect -->
                                            <label class="correct">Correct answer <i ng-show="groupedQuestions[currentView][currentQuestion].submitted" class="icon-line-circle-check"></i></label>
                                            <p class="correct">{{groupedQuestions[currentView][currentQuestion].integer_answer}}</p>
                                        </div>
                                        <div class="qa-solution qa-answer-option test test2" style="margin-top:0px;border:none;padding:0px !important" ng-hide="(groupedQuestions[currentView][currentQuestion].options[$index].correct || groupedQuestions[currentView][currentQuestion].options[$index].skipped) && groupedQuestions[currentView][currentQuestion].solution !== ''">
                                            <label>Solution</label>
                                            <br>
                                            <p dynamic="groupedQuestions[currentView][currentQuestion].solution"></p>
                                        </div>
                                    </div>
                                    <div class="qa-answer-block" ng-hide="groupedQuestions[currentView][currentQuestion].type!='subjective'">
                                        <!--Use this when answer type is SUBJECTIVE-->
                                        <div class="qa-answer-accordion">
                                            <div class="qa-answer-accordion-title subjective-title" ng-click="subj_solu()">
                                                VIEW SOLUTION
                                            </div>
                                            <div class="qa-answer-accordion-solution subjective-solution" ng-show="subjective_sol" dynamic="groupedQuestions[currentView][currentQuestion].subjective_answer">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qa-answer-block" ng-hide="groupedQuestions[currentView][currentQuestion].type!='matrix_type'">
                                        <div class="answer-incorrect" ng-show="groupedQuestions[currentView][currentQuestion].answer_type === 'attempted'">
                                            <label class="incorrect" ng-class="{'iconCheck':groupedQuestions[currentView][currentQuestion].correct,'iconCross':groupedQuestions[currentView][currentQuestion].incorrect}">Your choice <i ng-show="groupedQuestions[currentView][currentQuestion].correct" class="icon-line-circle-check"></i><i ng-show="groupedQuestions[currentView][currentQuestion].incorrect" class="icon-line-circle-cross"></i></label>
                                            <table class="qa-answer-matrix">
                                                <tbody>
                                                    <tr ng-repeat="q_opt in groupedQuestions[currentView][currentQuestion].matrix_answer_params">
                                                        <th>{{q_opt}}</th>
                                                        <td ng-repeat="ans_opt in groupedQuestions[currentView][currentQuestion].matrix_option_params" ng-class="{'matrix-box':groupedQuestions[currentView][currentQuestion].matrixarray[$parent.$index][$index]}">{{ans_opt}}
                                                            <input class="qa-checkbox" type="checkbox" name="matrix-option-a">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="answer-incorrect">
                                            <label class="correct">Correct answer <i ng-show="groupedQuestions[currentView][currentQuestion].submitted" class="icon-line-circle-check"></i></label>
                                            <table class="qa-answer-matrix">
                                                <tbody>
                                                    <tr ng-repeat="q_opt in groupedQuestions[currentView][currentQuestion].matrix_answer_params">
                                                        <th>{{q_opt}}</th>
                                                        <td ng-repeat="ans_opt in groupedQuestions[currentView][currentQuestion].matrix_option_params" ng-class="{'matrix-box':groupedQuestions[currentView][currentQuestion].ans_matrixarray[$parent.$index][$index]}">{{ans_opt}}
                                                            <input class="qa-checkbox" type="checkbox" name="matrix-option-a">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="qa-solution qa-answer-option test test2" style="margin-top:0px;border:none;padding:0px !important" ng-show="(groupedQuestions[currentView][currentQuestion].options[$index].correct || groupedQuestions[currentView][currentQuestion].options[$index].skipped) && groupedQuestions[currentView][currentQuestion].solution !== ''">
                                            <label>Solution</label>
                                            <br>
                                            <p dynamic="groupedQuestions[currentView][currentQuestion].solution"></p>
                                        </div>
                                    </div>
                                    <div ng-repeat="option in groupedQuestions[currentView][currentQuestion].options track by $index" class="qa-answer-option" ng-class="{'answered correct': correct($index),'answered incorrect':incorrect($index),'correct':answerCorrect($index)}" ng-show="groupedQuestions[currentView][currentQuestion].type=='single_correct_choice_type' || groupedQuestions[currentView][currentQuestion].type=='multiple_correct_choice_type'" style="">
                                        <div class="check" ng-show="groupedQuestions[currentView][currentQuestion].options[$index].correct"><span class="not-chosen">Correct answer</span> <i class="icon-line-circle-check"></i> </div>
                                        <div class="check" ng-show="groupedQuestions[currentView][currentQuestion].options[$index].skipped"><span class="not-chosen">Correct answer</span> <i class="icon-line-circle-check"></i> </div>
                                        <div class="cross" ng-show="groupedQuestions[currentView][currentQuestion].options[$index].incorrect"><span>Your choice</span> <i class="icon-line-circle-cross"></i> </div>
                                        <!--Use this when answer type is SINGE or MULTIPLE CHOICE-->
                                        <div class="qa-option-number">
                                            <!--This is where you put the option number -->
                                            <span> {{$index+1}}</span>
                                        </div>
                                        <div class="qa-answer-content" id="question-option-{{$index}}" dynamic="groupedQuestions[currentView][currentQuestion].options[$index].opt">
                                        </div>
                                        <div class="qa-solution qa-answer-option test test2" style="margin-top:0px;border:none;" ng-show="(groupedQuestions[currentView][currentQuestion].options[$index].correct || groupedQuestions[currentView][currentQuestion].options[$index].skipped) && groupedQuestions[currentView][currentQuestion].solution !== ''">
                                            <label>Solution</label>
                                            <br>
                                            <p dynamic="groupedQuestions[currentView][currentQuestion].solution"></p>
                                        </div>
                                        <!-- <div class="qa-answer-content" ng-show="groupedQuestions[currentView][currentQuestion].options[$index].skipped">
                                            <p style="font-weight: bold;">Correct Answer</p>
                                        </div>
                                        <div class="qa-answer-content" ng-show="groupedQuestions[currentView][currentQuestion].options[$index].correct">
                                            <p style="font-weight: bold;">Correct Answer</p>
                                        </div>
                                        <div class="qa-answer-content" ng-show="groupedQuestions[currentView][currentQuestion].options[$index].incorrect">
                                            <p style="font-weight: bold;">Your choice</p>
                                        </div> -->
                                        <div class="qa-a-overlay" style="display:block;background:red;opacity:0.2" ng-show="groupedQuestions[currentView][currentQuestion].options[$index].incorrect"></div>
                                        <div class="qa-a-overlay" style="display:block;background:green;opacity:0.2" ng-show="groupedQuestions[currentView][currentQuestion].options[$index].correct"></div>
                                        <div class="qa-a-overlay" style="display:block;background:#40C0CB;opacity:0.2" ng-show="groupedQuestions[currentView][currentQuestion].options[$index].skipped"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-control-nav" ng-hide="question_space">
                        <!--This is the container for the vertical control navigation-->
                        <div class="question-list">
                            <div class="question-list-pane">
                                <div class="question-list-slides">
                                    <ion-scroll delegate-handle="side-nav" class="question-list">
                                        <div class="question-list-pane">
                                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                                <div class="question-list-slides" style="width: 3400%; transition-duration: 0s; -webkit-transition-duration: 0s; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px);">
                                                    <a ng-repeat="i in getNumber(groupedQuestions[currentView].length) track by $index" class="" style="float: left; display: block; width: 40px;" ng-class="{'active':currentQuestion+ 1==$index+1,'correct':groupedQuestions[currentView][$index].correct,'incorrect':groupedQuestions[currentView][$index].incorrect,'skipped-an':groupedQuestions[currentView][$index].skipped,'bookmarked':bookmarked($index)}" ng-click="changeQuestion($index)">
                                                        <!--Add skipped class if the question was skipped. Add bookmarked class if question was bookmarked-->
                                                        <span class="bm"><i class="icon-bookmark2"></i></span>
                                                        <span>{{$index+1}}</span>
                                                    </a>
                                                    <ul class="flex-direction-nav">
                                                        <li class="flex-nav-prev">
                                                            <a class="flex-prev flex-disabled" href="#" tabindex="-1"></a>
                                                        </li>
                                                        <li class="flex-nav-next">
                                                            <a class="flex-next" href="#"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </ion-scroll>
                                    <div class="prev-set" ng-click="showPrevQuestion()"><i class="icon-chevron-up"></i></div>
                                    <!--Show previous questions in the list-->
                                    <div class="next-set" ng-click="showNextQuestion()"><i class="icon-chevron-down"></i></div>
                                </div>
                            </div>
                        </div>
                        <!--Show next questions in the list-->
                    </div>
                </div>
                <div class="qa-main-container" ng-show="question_space1" style="background:#dfdfdf">
                    <div class="filter_data">
                        No {{filter_text}} questions!!!
                    </div>
                </div>
                <div class="qa-footer" ng-click="close_side_bar()">
                    <!--This is the container for the footer of the Q&A section-->
                    <a class="qa-prev-question btn btn-lg btn-danger nomargin" style="background:#1AB394 !important;border:none !important" ng-click="showPrevQuestion()" ng-hide="currentView===0&&currentQuestion==0">
                        <!--Go to previous question-->
                        <i class="icon-line-arrow-left"></i>
                        <span>Previous</span>
                    </a>
                    <button class="qa-next-question btn btn-lg btn-danger nomargin" style="background:#1AB394 !important;border:none !important" type="submit" ng-click="showNextQuestion()" ng-hide="question_space">
                        <!--Go to next question-->
                        <span>Next</span>
                        <i class="icon-line-arrow-right"></i>
                    </button>
                    <div class="qa-practice-container center" style="margin-top:-3px">
                        <button class=" btn btn-lg btn-danger nomargin" style="width:150px;margin-top: 2px !important;" ng-click="showConfirm()">EXIT</button>
                    </div>
                </div>
            </div>
            <div class="qa-sidebar" ng-class="{'close-side':sidebarCollapse}">
                <!--This is the container for the sidebar-->
                <div id="test-logo">
                    <a href="concept-heatmap.html"><img src="images/logo.png" alt="ConceptOwl Logo"></a>
                </div>
                <!-- #logo end -->
                <div class="sidebar-close"><i class="icon-line-cross"></i></div>
                <div class="sidebar-container">
                    <div class="sidebar-scroll-pane">
                        <div class="qa-stats">
                            <!-- This is the container for the statistics of the current test-->
                            <div class="title center">
                                <i class="icon-bar-chart"></i>
                                <span>Test Statistics</span>
                            </div>
                            <p>
                                <span class="left">Currently on que. no:</span>
                                <span class="right" ng-hide="question_space">{{currentQuestion+1}}</span>
                            </p>
                            <p>
                                <span class="left">Total questions:</span>
                                <span class="right">{{groupedQuestions[currentView].length}}</span>
                            </p>
                            <p>
                                <span class="left">Answered Correctly: </span>
                                <span class="right">{{groupedQuestions[currentView].correctAnswer}}</span>
                            </p>
                            <p>
                                <span class="left">Answered Incorrectly: </span>
                                <span class="right">{{groupedQuestions[currentView].incorrectAnswer}}</span>
                            </p>
                            <p>
                                <span class="left">Skipped: </span>
                                <span class="right">{{groupedQuestions[currentView].skippedAnswer}}</span>
                            </p>
                        </div>
                        <div class="qa-filter">
                            <!-- This is the container for the filters of the current test-->
                            <div class="title center">
                                <i class="icon-filter"></i>
                                <span>Filter by</span>
                            </div>
                            <p>
                                <input type="checkbox" ng-click="allQuestions()" ng-model="allCheck">
                                <i class="icon-line-paper"></i>
                                <span>All</span>
                            </p>
                            <p>
                                <input type="checkbox" ng-click="correctQuestions()" ng-model="correctCheck">
                                <i class="icon-line-check filter-correctly"></i>
                                <span>Answered Correctly</span>
                            </p>
                            <p>
                                <input type="checkbox" ng-click="incorrectQuestions()" ng-model="incorrectCheck">
                                <i class="icon-line-cross filter-incorrectly"></i>
                                <span>Answered Incorrectly</span>
                            </p>
                            <p>
                                <input type="checkbox" ng-click="skippedQuestions()" ng-model="skippedCheck">
                                <i class="icon-line-square-cross filter-skipped"></i>
                                <span>Skipped</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-popup-container" ng-class="{'active':testSubmit}">
            <div class="row popup-style-container">
                <div class="row popup-style-row1">
                    <p class="pop_para popup-style-row1-text">Are you sure you want to end the analysis?</p>
                </div>
                <div class="row popup-style-row2">
                    <div class="col-md-6 sep_button" style="padding:0px;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToCompletion()">Yes</button>
                    </div>
                    <div class="col-md-6" style="padding:0px;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="closeConfirmPopup()">No</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-popup-container" ng-class="{'active':timeOut}">
            <div class="row popup-style-container">
                <div class="row popup-style-row1">
                    <p class="pop_para popup-style-row1-text">Unable to connect with server</p>
                </div>
                <div class="row popup-style-row2">
                    <div class="col-md-6 end_button" style="padding:0px;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToLogin()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" style="opacity:0.7 !important" ng-class="{'active':overlay}">
        <div class="container app_loader" style="width:100px !important">
            <div class="row row-centered" style="margin-left: 10px;margin-top: 25px;">
                <div class="">
                    <ion-spinner icon="bubbles"></ion-spinner>
                </div>
            </div>
        </div>
    </div>
    <!-- #content end -->
</ion-view>
