<ion-view view-title="Practice" cache-view="false" ng-hide="nav_views">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
            <div style="position: relative; overflow: hidden; width: auto; height: 100%;" class="slimScrollDiv">
                <a class="logo" href="#"><img src="images/logo.png" alt="ConceptOwl Logo" /></a>
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header user-prof">
                        <div>
                            <a href="#">
                                <div class="user-logo"><img style="height:50px !important" alt="image" class="img-circle" src="{{prof_imag}}"></div>
                                <span class="block m-t-xs user-name"> 
                                <strong class="font-bold">{{prof_name}}</strong>
                            </span>
                            </a>
                        </div>
                    </li>
                    <!-- <li>
                            <a ng-href="#/home"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
                        </li> -->
                    <li ng-class="{'active':practice}" ng-click="practiceClick()">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Concept Heatmap</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" ng-hide="!practice">
                            <li><a href="#/heatmap">Practice</a></li>
                            <li><a href="#/practice_review">Review</a></li>
                        </ul>
                    </li>
                    <!-- <li>
                            <a href="special-tests.html"><i class="fa fa-th-large"></i> <span class="nav-label">Special Tests</span></a>
                        </li> -->
                    <!-- <li ng-class="{'active':doubt}" ng-click="doubtClick()">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Doubt Clearing Desk</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" ng-hide="!doubt">
                            <li><a ng-href="#/ask-ques">Ask a question</a></li>
                            <li><a ng-href="#/schedule">Schedule a session</a></li>
                        </ul>
                    </li> -->
                    <li ng-click="mockClick()" ng-class="{'active':mock}">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">JEE Mock Test</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" ng-hide="!mock">
                            <!--  <li><a ng-href="#/dash">Overview</a></li> -->
                            <li><a ng-href="#/upcoming">Take a Test</a></li>
                            <li><a ng-href="#/prev">Previous Tests</a></li>
                        </ul>
                    </li>
                    <!--  <li>
                            <a href="rapid-revision-roster.html"><i class="fa fa-th-large"></i> <span class="nav-label">Rapid Revision Roster</span></a>
                        </li>
                        <li>
                            <a href="resources.html"><i class="fa fa-th-large"></i> <span class="nav-label">Resources</span></a>
                        </li>
                        <li>
                            <a href="blog.html"><i class="fa fa-th-large"></i> <span class="nav-label">Blog</span></a>
                        </li>
                        <li>
                            <a href="who-are-we.html"><i class="fa fa-th-large"></i> <span class="nav-label">Who are we?</span></a>
                        </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <div id="page-wrapper" class="white-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " ng-click="navClick()"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right pull-right" style="float:right">
                    <li>
                        <a href="http://www.conceptowl.com" ng-click="log_out()" style="color:#000; margin-left:20px;">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row wrapper border-bottom navy-bg" ng-click="hide_nav()">
            <div class="col-sm-12">
                <h1 class="dashboard-heading">Practice Tests</h1>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight" ng-click="hide_nav()" style="padding-top:50px !important">
            <div class="row" style="margin:0px">
                <div class="col">
                    <div class="row" style="margin:0px">
                        <div class="col-md-6" style="font-weight: bold;font-size: 15px;min-height:60px">
                            <p style="margin: auto;position: absolute;bottom: 20px;">{{subName}} >> {{topic}}</p>
                        </div>
                        <div class="col-md-6" style="margin:0px;">
                            <div class="col-md-5"></div>
                            <div class="col-md-7" ng-click="getBookmarked()" style="background:#FFC000;padding: 5px;cursor:pointer">
                                <p style="margin:0px;text-align:center;"><i class="glyphicon glyphicon-bookmark" style="margin:10px 15px 0px 0px"> </i>Bookmarked Questions</p>
                                <p style="margin:0px;text-align:center;">{{bookmarkCount}} Qs</p>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0px;">
                        <div class="col-md-6" style="padding-top:20px;">
                            <div style="border: 1px solid black;padding:15px;background:#FBFBFB;">
                                <div class="row">
                                    <p style="padding: 10px;margin: 0px;font-weight: bold;color: black;">QUESTIONS WITH HINTS</p>
                                </div>
                                <div class="row" style="padding-left: 12px;height: 50px;margin-top: 10px;" ng-repeat="bank_quest in question_bank_set.easy">
                                    <div class="col-md-7 col-xs-7 practice_notattended" ng-class="{'practice_attended':bank_quest.attempted_ques_count !== 0}" style="height: 50px;padding: 0px;padding: 5px;cursor:pointer" ng-click="createPaper('easy',$index,'bank',bank_quest.attempted_ques_count === bank_quest.total_ques_count)">
                                        <p style="margin:0px;text-align:center;color:white;font-size:16px;font-weight:bold">Problem Set E{{$index + 1}}</p>
                                        <p style="margin:0px;text-align:center;color:white">{{bank_quest.total_ques_count}} Easy Qs</p>
                                    </div>
                                    <div class="col-md-5 col-xs-5" style="height: 50px;color:green;text-align:center" ng-show="bank_quest.attempted_ques_count !== 0">
                                        <!-- <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align:center;padding:0px;">
                                            <i class="fa fa-check scoreicon" style="font-size:30px;"></i>
                                        </div>
                                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 scorediv" style="padding:0px" ;>Score : {{bank_quest.score}}/{{bank_quest.total_ques_count}}
                                        </div> -->
                                        <div class="row" style="line-height: 28px;">Attempted: {{bank_quest.attempted_ques_count}}</div>
                                        <div class="row">Score: {{bank_quest.score}}</div>
                                    </div>
                                    <div class="col-md-5 col-xs-5" ng-show="bank_quest.attempted_ques_count === 0">
                                        <div class="row" style="display: -webkit-box;color: #000000;margin-top: 18px;">
                                            <p style="margin: 0px;padding-left: 10px;width: 100%;padding-right: 10px;text-align: center;">Not Attempted</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 12px;height: 50px;margin-top: 10px;" ng-repeat="bank_quest in question_bank_set.moderate">
                                    <div class="col-md-7 col-xs-7 practice_notattended" ng-class="{'practice_attended':bank_quest.attempted_ques_count !== 0}" style="height: 50px;padding: 0px;padding: 5px;cursor:pointer" ng-click="createPaper('med',$index,'bank',bank_quest.attempted_ques_count === bank_quest.total_ques_count)">
                                        <p style="margin:0px;text-align:center;color:white;font-size:16px;font-weight:bold">Problem Set M{{$index + 1}}</p>
                                        <p style="margin:0px;text-align:center;color:white">{{bank_quest.total_ques_count}} Medium Qs</p>
                                    </div>
                                    <div class="col-md-5 col-xs-5" style="height: 50px;color:green;text-align:center;" ng-show="bank_quest.attempted_ques_count !== 0">
                                        <!-- <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align:center;padding:0px;">
                                            <i class="fa fa-check scoreicon" style="font-size:30px;"></i>
                                        </div>
                                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 scorediv" style="padding:0px" ;>Score : {{bank_quest.score}}/{{bank_quest.total_ques_count}}
                                        </div> -->
                                        <div class="row" style="line-height: 28px;">Attempted: {{bank_quest.attempted_ques_count}}</div>
                                        <div class="row">Score: {{bank_quest.score}}</div>
                                    </div>
                                    <div class="col-md-5 col-xs-5" ng-show="bank_quest.attempted_ques_count === 0">
                                        <div class="row" style="display: -webkit-box;color: #000000;margin-top: 18px;">
                                            <p style="margin: 0px;padding-left: 10px;width: 100%;padding-right: 10px;text-align: center;">Not Attempted</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 12px;height: 50px;margin-top: 10px;" ng-repeat="bank_quest in question_bank_set.difficult">
                                    <div class="col-md-7 col-xs-7 practice_notattended" ng-class="{'practice_attended':bank_quest.attempted_ques_count !== 0}" style="height: 50px;padding: 0px;padding: 5px;cursor:pointer" ng-click="createPaper('diff',$index,'bank',bank_quest.attempted_ques_count === bank_quest.total_ques_count)">
                                        <p style="margin:0px;text-align:center;color:white;font-size:16px;font-weight:bold">Problem Set D{{$index + 1}}</p>
                                        <p style="margin:0px;text-align:center;color:white">{{bank_quest.total_ques_count}} Difficult Qs</p>
                                    </div>
                                    <div class="col-md-5 col-xs-5" style="height: 50px;color:green;text-align:center;" ng-show="bank_quest.attempted_ques_count !== 0">
                                        <!-- <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align:center;padding:0px;">
                                            <i class="fa fa-check scoreicon" style="font-size:30px;"></i>
                                        </div>
                                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 scorediv" style="padding:0px" ;>Score : {{bank_quest.score}}/{{bank_quest.total_ques_count}}
                                        </div> -->
                                        <div class="row" style="line-height: 28px;">Attempted: {{bank_quest.attempted_ques_count}}</div>
                                        <div class="row">Score: {{bank_quest.score}}</div>

                                    </div>
                                    <div class="col-md-5 col-xs-5" ng-show="bank_quest.attempted_ques_count === 0">
                                        <div class="row" style="display: -webkit-box;color: #000000;margin-top: 18px;">
                                            <p style="margin: 0px;padding-left: 10px;width: 100%;padding-right: 10px;text-align: center;">Not Attempted</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-top:20px;">
                            <div style="border: 1px solid black;padding:15px;background:#FBFBFB">
                                <div class="row">
                                    <p style="padding: 10px;margin: 0px;font-weight: bold;color: black;">QUESTIONS WITHOUT HINTS</p>
                                </div>
                                <div class="row" style="padding-left: 12px;height: 50px;margin-top: 10px;" ng-repeat="daily_quest in daily_practice_set.easy">
                                    <div class="col-md-7 col-xs-7 practice_notattended" ng-class="{'practice_attended':daily_quest.attempted_ques_count !== 0}" style="height: 50px;padding: 0px;padding: 5px;cursor:pointer" ng-click="createPaper('easy',$index,'daily',daily_quest.attempted_ques_count === daily_quest.total_ques_count)">
                                        <p style="margin:0px;text-align:center;color:white;font-size:16px;font-weight:bold">Problem Set E{{$index + 1}}</p>
                                        <p style="margin:0px;text-align:center;color:white">{{daily_quest.total_ques_count}} Easy Qs</p>
                                    </div>
                                    <div class="col-md-5 col-xs-5" style="height: 50px;color:green;text-align:center;" ng-show="daily_quest.attempted_ques_count !== 0">
                                        <!-- <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align:center;padding:0px;">
                                            <i class="fa fa-check scoreicon" style="font-size:30px;"></i>
                                        </div>
                                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 scorediv" style="padding:0px" ;>Score : {{daily_quest.score}}/{{daily_quest.total_ques_count}}
                                        </div> -->
                                        <div class="row" style="line-height: 28px;">Attempted: {{daily_quest.attempted_ques_count}}</div>
                                        <div class="row">Score: {{daily_quest.score}}</div>

                                    </div>
                                    <div class="col-md-5 col-xs-5" ng-show="daily_quest.attempted_ques_count === 0">
                                        <div class="row" style="display: -webkit-box;color: #000000;margin-top: 18px;">
                                            <p style="margin: 0px;padding-left: 10px;width: 100%;padding-right: 10px;text-align: center;">Not Attempted</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 12px;height: 50px;margin-top: 10px;" ng-repeat="daily_quest in daily_practice_set.moderate">
                                    <div class="col-md-7 col-xs-7 practice_notattended" ng-class="{'practice_attended':daily_quest.attempted_ques_count !== 0}" style="height: 50px;padding: 0px;padding: 5px;cursor:pointer" ng-click="createPaper('med',$index,'daily',daily_quest.attempted_ques_count === daily_quest.total_ques_count)">
                                        <p style="margin:0px;text-align:center;color:white;font-size:16px;font-weight:bold">Problem Set M{{$index + 1}}</p>
                                        <p style="margin:0px;text-align:center;color:white">{{daily_quest.total_ques_count}} Medium Qs</p>
                                    </div>
                                    <div class="col-md-5 col-xs-5" style="height: 50px;color:green;text-align:center;" ng-show="daily_quest.attempted_ques_count !== 0">
                                        <!-- <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align:center;padding:0px;">
                                            <i class="fa fa-check scoreicon" style="font-size:30px;"></i>
                                        </div>
                                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 scorediv" style="padding:0px" ;>Score : {{daily_quest.score}}/{{daily_quest.total_ques_count}}
                                        </div> -->
                                        <div class="row" style="line-height: 28px;">Attempted: {{daily_quest.attempted_ques_count}}</div>
                                        <div class="row">Score: {{daily_quest.score}}</div>

                                    </div>
                                    <div class="col-md-5 col-xs-5" ng-show="daily_quest.attempted_ques_count === 0">
                                        <div class="row" style="display: -webkit-box;color: #000000;margin-top: 18px;">
                                            <p style="margin: 0px;padding-left: 10px;width: 100%;padding-right: 10px;text-align: center;">Not Attempted</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 12px;height: 50px;margin-top: 10px;" ng-repeat="daily_quest in daily_practice_set.difficult">
                                    <div class="col-md-7 col-xs-7 practice_notattended" ng-class="{'practice_attended':daily_quest.attempted_ques_count !== 0}" style="height: 50px;padding: 0px;padding: 5px;cursor:pointer" ng-click="createPaper('diff',$index,'daily',daily_quest.attempted_ques_count === daily_quest.total_ques_count)">
                                        <p style="margin:0px;text-align:center;color:white;font-size:16px;font-weight:bold">Problem Set D{{$index + 1}}</p>
                                        <p style="margin:0px;text-align:center;color:white">{{daily_quest.total_ques_count}} Difficult Qs</p>
                                    </div>
                                    <div class="col-md-5 col-xs-5" style="height: 50px;color:green;text-align:center;" ng-show="daily_quest.attempted_ques_count !== 0">
                                        <!-- <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align:center;padding:0px;">
                                            <i class="fa fa-check scoreicon" style="font-size:30px;"></i>
                                        </div>
                                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 scorediv" style="padding:0px" ;>Score : {{daily_quest.score}}/{{daily_quest.total_ques_count}}
                                        </div> -->
                                        <div class="row" style="line-height: 28px;">Attempted: {{daily_quest.attempted_ques_count}}</div>
                                        <div class="row">Score: {{daily_quest.score}}</div>
                                    </div>
                                    <div class="col-md-5 col-xs-5" ng-show="daily_quest.attempted_ques_count === 0">
                                        <div class="row" style="display: -webkit-box;color: #000000;margin-top: 18px;">
                                            <p style="margin: 0px;padding-left: 10px;width: 100%;padding-right: 10px;text-align: center;">Not Attempted</p>
                                        </div>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                    </div>
                    <div class="row" style="text-align:center;padding-top:50px;padding-bottom: 50px;">
                        <button ng-click="goBack()" class="button button-primary" style="min-width:150px;background:#2f4050 !important">Back</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                Email: <strong><a href="mailto:owl@conceptowl.com" style="color:inherit"> owl@conceptowl.com</a></strong>
            </div>
            <div>
                <strong>Copyright</strong> ConceptOwl
            </div>
        </div>
        <div class="submit-popup-container" ng-class="{'active':timeOut}">
            <div class="row popup-style-container">
                <div class="row popup-style-row1">
                    <p class="pop_para popup-style-row1-text">Unable to connect with server</p>
                </div>
                <div class="row popup-style-row2">
                    <div class="col-md-6 end_button" style="padding:0px;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToLogin()">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-popup-container" ng-class="{'active':optionPopup}">
            <div class="row popup-style-container problem-set" >
                <i class="fa fa-times" ng-click="closeOptionPopup()" style="position:absolute;margin:auto;top:15px;right:15px;cursor: pointer;"></i>
                <div class="row popup-style-row1" style="background: white;">
                    <p class="pop_para popup-style-row1-text" style="color:black">Problem Set {{id}}</p>
                </div>
                <div class="row popup-style-row2">
                    <div class="col-md-6 sep_button" style="padding:0px;border:none;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;background: #079648;width: 85%;" ng-click="Review()">Review</button>
                    </div>
                    <div class="col-md-6" style="padding:0px;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;background: #121920;width: 85%;" ng-click="Retake()">Retake</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" style="opacity:0.7 !important" ng-class="{'active':overlay}">
        <div class="container app_loader" style="width:100px !important">
            <div class="row row-centered" style="margin-left: 10px;margin-top: 25px;">
                <div class="">
                    <ion-spinner icon="bubbles"></ion-spinner>
                </div>
            </div>
        </div>
    </div>
</ion-view>
