<ion-view view-title="Previous" cache-view="false" ng-hide="nav_views">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
            <div style="position: relative; overflow: hidden; width: auto; height: 100%;" class="slimScrollDiv">
                <a class="logo" href="#"><img src="images/logo.png" alt="ConceptOwl Logo" /></a>
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header user-prof">
                        <div>
                            <a href="#">
                                <div class="user-logo"><img style="height:50px !important" alt="image" class="img-circle" src="{{prof_imag}}"></div>
                                <span class="block m-t-xs user-name"> 
                                <strong class="font-bold">{{prof_name}}</strong>
                            </span>
                            </a>
                        </div>
                    </li>
                    <!-- <li>
                            <a ng-href="#/home"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
                        </li> -->
                    <li ng-class="{'active':practice}" ng-click="practiceClick()">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Concept Heatmap</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" ng-hide="!practice">
                            <li><a href="#/heatmap">Practice</a></li>
                            <li><a href="#/practice_review">Review</a></li>
                        </ul>
                    </li>
                    <!-- <li>
                            <a href="special-tests.html"><i class="fa fa-th-large"></i> <span class="nav-label">Special Tests</span></a>
                        </li> -->
                    <!-- <li ng-class="{'active':doubt}" ng-click="doubtClick()">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Doubt Clearing Desk</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" ng-hide="!doubt">
                            <li><a ng-href="#/ask-ques">Ask a question</a></li>
                            <li><a ng-href="#/schedule">Schedule a session</a></li>
                        </ul>
                    </li> -->
                    <li ng-click="mockClick()" ng-class="{'active':mock}" class="active">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">JEE Mock Test</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" ng-hide="!mock">
                            <!--  <li><a ng-href="#/dash">Overview</a></li> -->
                            <li><a ng-href="#/upcoming">Take a Test</a></li>
                            <li class="active"><a ng-href="#/prev">Previous Tests</a></li>
                        </ul>
                    </li>
                    <!--  <li>
                            <a href="rapid-revision-roster.html"><i class="fa fa-th-large"></i> <span class="nav-label">Rapid Revision Roster</span></a>
                        </li>
                        <li>
                            <a href="resources.html"><i class="fa fa-th-large"></i> <span class="nav-label">Resources</span></a>
                        </li>
                        <li>
                            <a href="blog.html"><i class="fa fa-th-large"></i> <span class="nav-label">Blog</span></a>
                        </li>
                        <li>
                            <a href="who-are-we.html"><i class="fa fa-th-large"></i> <span class="nav-label">Who are we?</span></a>
                        </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <div id="page-wrapper" class="white-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " ng-click="navClick()"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right pull-right" style="float:right">
                    <li>
                        <a href="http://www.conceptowl.com" ng-click="log_out()" style="color:#000; margin-left:20px;">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row wrapper border-bottom navy-bg" ng-click="hide_nav()">
            <div class="col-sm-12">
                <h1 class="dashboard-heading">Previous Tests</h1>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight" ng-click="hide_nav()">
            <div class="row" ng-show="prev_page">
                <div class="col-lg-12" ng-repeat="test in results">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" style="border-color: #3B3D3E;">
                            <h2 style="font-size:24px !important;margin:0px 0px 10px !important;color: #337ab7;">{{test.name}} taken on {{test.test_date}}</h2>
                            <div class="pull-right">
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive col-lg-3" ng-repeat="subjects in results[$index].categories">
                                <table class="table modified">
                                    <thead>
                                        <tr>
                                            <th style="font-size:1.2em">{{subjects.subject}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="testscore" style="font-size: 1.8em;">{{subjects.score}}/{{subjects.total_score}}</td>
                                        </tr>
                                        <tr>
                                            <td class="testduration">{{subjects.hou}} hrs {{subjects.min}} min {{subjects.sec}} sec</td>
                                        </tr>
                                        <tr>
                                            <td class="percentile">{{(subjects.total_time/60)/subjects.total_questions | number:2}} min/question</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="testbuttons col-lg-2 ">
                                <div class="buttonbox">
                                    <a ng-click="hideview()" class="btn btn-primary btn-s" style="width:100%" ng-href="#/analysis/{{test.paper_id}}/{{test.name}}">Review</a>
                                    <a ng-click="hideview()" class="btn btn-warning btn-s" style="width:100%" ng-href="#/test/{{test.test_id}}/{{test.paper_id}}/{{test.test_time}}/{{test.name}}">Retake</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="ibox float-e-margins" >
                        <div class="ibox-title" style="border-color: #3B3D3E;">
                            <h2 >{{test.name}} taken on {{test.test_date}}</h2>
                            <div class="pull-right">
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive col-lg-10">
                                <table class="table modified">
                                    <thead>
                                        <tr>
                                            <th ng-repeat="subjects in results[$index].categories" style="font-size:1.2em">{{subjects.subject}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td ng-repeat="subjects in results[$index].categories" class="testscore" style="font-size: 1.8em;">{{subjects.score}}/{{subjects.total_score}}</td>
                                        </tr>
                                        <tr>
                                            <td ng-repeat="subjects in results[$index].categories" class="testduration">{{subjects.hou}}hrs {{subjects.min}}min {{subjects.sec}}sec</td>
                                        </tr>
                                        <tr>
                                            <td ng-repeat="subjects in results[$index].categories" class="testduration">{{(subjects.total_time/60)/subjects.total_questions | number:2}} min/question</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="testbuttons col-lg-2 ">
                                <div class="buttonbox">
                                    <a class="btn btn-primary btn-s" style="width:100%" ng-href="#/analysis/{{test.paper_id}}/{{test.name}}">Review</a>
                                    <a class="btn btn-warning btn-s" style="width:100%" ng-href="#/test/{{test.test_id}}/{{test.paper_id}}/{{test.test_time}}/{{test.name}}">Retake</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="row" ng-show="!prev_page">
                <div style="text-align: center;
padding-top: 50px;
font-size: 30px;
text-shadow: 2px 2px #dfdfdf;">
                    No previous tests
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                Email: <strong><a href="mailto:owl@conceptowl.com" style="color:inherit"> owl@conceptowl.com</a></strong>
            </div>
            <div>
                <strong>Copyright</strong> ConceptOwl
            </div>
        </div>
        <div class="submit-popup-container" ng-class="{'active':timeOut}">
            <div class="row popup-style-container">
                <div class="row popup-style-row1">
                    <p class="pop_para popup-style-row1-text">Unable to connect with server</p>
                </div>
                <div class="row popup-style-row2">
                    <div class="col-md-6 end_button" style="padding:0px;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToLogin()">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-popup-container" ng-class="{'active':serverError}">
            <div class="row popup-style-container">
                <div class="row popup-style-row1">
                    <p class="pop_para popup-style-row1-text">Server Error</p>
                </div>
                <div class="row popup-style-row2">
                    <div class="col-md-6 end_button" style="padding:0px;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToLogin()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" style="opacity:0.7 !important" ng-class="{'active':overlay}">
        <div class="container app_loader" style="width:100px !important">
            <div class="row row-centered" style="margin-left: 10px;margin-top: 25px;">
                <div class="">
                    <ion-spinner icon="bubbles"></ion-spinner>
                </div>
            </div>
        </div>
    </div>
</ion-view>
