<ion-view view-title="Heatmap" cache-view="false" ng-hide="nav_views">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse" style="position: relative; overflow: hidden; width: auto; height:100%;" class="slimScrollDiv">
            <a class="logo" href="#"><img src="images/logo.png" alt="ConceptOwl Logo" /></a>
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header user-prof">
                    <div>
                        <a href="#">
                            <div class="user-logo"><img alt="image" class="img-circle" src="images/profile_small.jpg"></div>
                            <span class="block m-t-xs user-name"> 
                                <strong class="font-bold">User Name</strong>
                            </span>
                        </a>
                    </div>
                </li>
                <!--  <li>
                        <a ng-href="#/home"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
                    </li> -->
                <!--  <li>
                        <a href="special-tests.html"><i class="fa fa-th-large"></i> <span class="nav-label">Special Tests</span></a>
                    </li> -->
                <li class="active" ng-class="{'active':practice}" ng-click="practiceClick()">
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Concept Heatmap</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-hide="!practice">
                        <li class="active"><a href="#/heatmap">Practice</a></li>
                        <li><a href="#/practice_review">Review</a></li>
                    </ul>
                </li>
                <li ng-class="{'active':doubt}" ng-click="doubtClick()">
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Doubt Clearing Desk</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-hide="!doubt">
                        <li><a ng-href="#/ask-ques">Ask a question</a></li>
                        <li><a ng-href="#/schedule">Schedule a session</a></li>
                    </ul>
                </li>
                <li ng-class="{'active':mock}" ng-click="mockClick()">
                    <a><i class="fa fa-th-large"></i> <span class="nav-label">JEE Mock Test</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-hide="!mock">
                        <!-- <li><a ng-href="#/dash">Overview</a></li> -->
                        <li><a ng-href="#/upcoming">Take a Test</a></li>
                        <li><a ng-href="#/prev">Previous Tests</a></li>
                    </ul>
                </li>
                <!--  <li>
                        <a href="rapid-revision-roster.html"><i class="fa fa-th-large"></i> <span class="nav-label">Rapid Revision Roster</span></a>
                    </li>
                    <li>
                        <a href="resources.html"><i class="fa fa-th-large"></i> <span class="nav-label">Resources</span></a>
                    </li>
                    <li>
                        <a href="blog.html"><i class="fa fa-th-large"></i> <span class="nav-label">Blog</span></a>
                    </li>
                    <li>
                        <a href="who-are-we.html"><i class="fa fa-th-large"></i> <span class="nav-label">Who are we?</span></a>
                    </li> -->
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="white-bg">
        <div class="row" style="position: fixed;
margin: auto;
top: 0px;
bottom: 0px;
height: 45px;
width: 500px;
left: 0px;
right: -190px;">
            <input type="number" style="height: 40px;
width: 350px;text-indent: 10px;" ng-model="ques.ques_num">
            <button class="button button-positive" ng-click="getQuest()">SUBMIT</button>
        </div>
    </div>
    <div class="footer">
        <div class="pull-right">
            Email: <strong><a href="mailto:owl@conceptowl.com" style="color:inherit"> owl@conceptowl.com</a></strong>
        </div>
        <div>
            <strong>Copyright</strong> ConceptOwl
        </div>
    </div>
    </div>
    <div class="submit-popup-container" style="opacity:0.7 !important" ng-class="{'active':overlay}">
        <div class="container app_loader" style="width:100px !important">
            <div class="row row-centered" style="margin-left: 10px;margin-top: 25px;">
                <div class="">
                    <ion-spinner icon="bubbles"></ion-spinner>
                </div>
            </div>
        </div>
    </div>
</ion-view>
