<ion-view view-title="Schedule" cache-view="false" ng-hide="nav_views">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse" style="position: relative; overflow: hidden; width: auto; height:auto;" class="slimScrollDiv">
                <a class="logo" href="#"><img src="images/logo.png" alt="ConceptOwl Logo" /></a>
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header user-prof">
                        <div>
                            <a href="#">
                                <div class="user-logo"><img style="height:50px !important" alt="image" class="img-circle" src="{{prof_imag}}"></div>
                                <span class="block m-t-xs user-name"> 
                                <strong class="font-bold">{{prof_name}}</strong>
                            </span>
                            </a>
                        </div>
                    </li>
                    <!-- <li>
                        <a ng-href="#/home"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
                    </li> -->
                    <!-- <li>
                        <a href="special-tests.html"><i class="fa fa-th-large"></i> <span class="nav-label">Special Tests</span></a>
                    </li> -->
                    <li ng-class="{'active':practice}" ng-click="practiceClick()">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Concept Heatmap</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" ng-hide="!practice">
                            <li class="active"><a href="#/heatmap">Practice</a></li>
                            <li><a href="#/practice_review">Review</a></li>
                        </ul>
                    </li>
                    <!-- <li ng-class="{'active':doubt}" ng-click="doubtClick()">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Doubt Clearing Desk</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" ng-hide="!doubt">
                            <li><a ng-href="#/ask-ques">Ask a question</a></li>
                            <li class="active"><a ng-href="#/schedule">Schedule a session</a></li>
                        </ul>
                    </li> -->
                    <li ng-class="{'active':mock}" ng-click="mockClick()">
                        <a><i class="fa fa-th-large"></i> <span class="nav-label">JEE Mock Test</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" ng-hide="!mock">
                            <!-- <li><a ng-href="#/dash">Overview</a></li> -->
                            <li><a ng-href="#/upcoming">Take a Test</a></li>
                            <li><a ng-href="#/prev">Previous Tests</a></li>
                        </ul>
                    </li>
                    <!--  <li>
                        <a href="rapid-revision-roster.html"><i class="fa fa-th-large"></i> <span class="nav-label">Rapid Revision Roster</span></a>
                    </li>
                    <li>
                        <a href="resources.html"><i class="fa fa-th-large"></i> <span class="nav-label">Resources</span></a>
                    </li>
                    <li>
                        <a href="blog.html"><i class="fa fa-th-large"></i> <span class="nav-label">Blog</span></a>
                    </li>
                    <li>
                        <a href="who-are-we.html"><i class="fa fa-th-large"></i> <span class="nav-label">Who are we?</span></a>
                    </li> -->
                </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="white-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " ng-click="navClick()"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right pull-right" style="float:right">
                    <li>
                        <a href="http://www.conceptowl.com" ng-click="log_out()" style="color:#000; margin-left:20px;">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row wrapper border-bottom navy-bg" ng-click="hide_nav()">
            <div class="col-sm-12">
                <h1 class="dashboard-heading">Schedule a session</h1>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight" ng-click="hide_nav()">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-horizontal m-t-md ask" action="#">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">CHOOSE YOUR SUBJECT</label>
                            <div class="col-sm-5">
                                <select class="form-control m-b subject" name="account" ng-model="mySelect" ng-change="subSelect(mySelect)">
                                    <option disabled selected>Select</option>
                                    <option ng-repeat="s in sub">{{s}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">CHOOSE YOUR TOPIC</label>
                            <div class="col-sm-5">
                                <select class="form-control m-b topic" name="account" ng-model="topicSelect">
                                    <option disabled selected>Select</option>
                                    <option ng-repeat="t in top">{{t}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-4 control-label">Describe the point you want to be covered in the session</label>
                            <div class="col-sm-5">
                                <textarea class="form-control" ng-model="desc"></textarea>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-4 control-label">Click on a date to schedule a session</label>
                            <div class="col-sm-5">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control session-date" value="DD/MM/YYYY">
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-4 control-label">Click on a date to schedule a session</label>
                            <div class="col-sm-5">
                                <div class="input-group clockpicker" data-autoclose="true">
                                    <span class="input-group-addon">
                                        <span class="fa fa-clock-o"></span>
                                    </span>
                                    <input type="text" class="form-control session-time" value="09:30">
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center m-t">
                            <div type="submit" class="btn btn-lg btn-primary session-popup">SUBMIT</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                Email: <strong><a href="mailto:owl@conceptowl.com" style="color:inherit"> owl@conceptowl.com</a></strong>
            </div>
            <div>
                <strong>Copyright</strong> ConceptOwl
            </div>
        </div>
        <div class="submit-popup-container" ng-class="{'active':timeOut}">
            <div class="row popup-style-container">
                <div class="row popup-style-row1">
                    <p class="pop_para popup-style-row1-text">Bad Network!!!</p>
                </div>
                <div class="row popup-style-row2">
                    <div class="col-md-6 sep_button" style="padding:0px;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToLogin()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" style="opacity:0.7 !important" ng-class="{'active':overlay}">
        <div class="container app_loader" style="width:100px !important">
            <div class="row row-centered" style="margin-left: 10px;margin-top: 25px;">
                <div class="">
                    <ion-spinner icon="bubbles"></ion-spinner>
                </div>
            </div>
        </div>
    </div>
</ion-view>
