<ion-view cache-view="false" view-title="Dashboard">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse" style="position: relative; overflow: hidden; width: auto; height: 100%;" class="slimScrollDiv">
            <ion-scroll>
                <a class="logo" href="#"><img src="images/logo.png" alt="ConceptOwl Logo" /></a>
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div>
                            <a href="#">
                                <div style="text-align:center"><img alt="image" class="img-circle" src="images/profile_small.jpg"></div>
                                <span class="block m-t-xs" style="text-align:center;padding-top:10px"> 
                                <strong class="font-bold">User Name</strong>
                            </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a ng-href="#/home"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
                    </li>
                    <li class="active" ng-class="{'active':mock}" ng-click="mockClick()">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">JEE Mock Test</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" ng-hide="!mock">
                            <!-- <li class="active"><a ng-href="#/dash">Overview</a></li> -->
                            <li><a ng-href="#/prev">Previous Tests</a></li>
                            <li><a ng-href="#/upcoming">Upcoming Tests</a></li>
                        </ul>
                    </li>
                    <!--  <li>
                        <a href="special-tests.html"><i class="fa fa-th-large"></i> <span class="nav-label">Special Tests</span></a>
                    </li> -->
                    <li ng-class="{'active':doubt}" ng-click="doubtClick()">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Doubt Clearing Desk</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" ng-hide="!doubt">
                            <li><a ng-href="#/ask-ques">Ask a question</a></li>
                            <li><a ng-href="#/schedule">Schedule a session</a></li>
                        </ul>
                    </li>
                    <li ng-class="{'active':practice}" ng-click="practiceClick()">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Practice Pro</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" ng-hide="!practice">
                            <li class="active"><a href="#/heatmap">Concept Heatmap</a></li>
                            <li><a href="#/practice_review">Practice Session Review</a></li>
                        </ul>
                    </li>
                    <!--  <li>
                        <a href="rapid-revision-roster.html"><i class="fa fa-th-large"></i> <span class="nav-label">Rapid Revision Roster</span></a>
                    </li>
                    <li>
                        <a href="resources.html"><i class="fa fa-th-large"></i> <span class="nav-label">Resources</span></a>
                    </li>
                    <li>
                        <a href="blog.html"><i class="fa fa-th-large"></i> <span class="nav-label">Blog</span></a>
                    </li>
                    <li>
                        <a href="who-are-we.html"><i class="fa fa-th-large"></i> <span class="nav-label">Who are we?</span></a>
                    </li> -->
                </ul>
            </ion-scroll>
        </div>
    </nav>
    <div id="page-wrapper" class="white-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " ng-click="navClick()"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right pull-right" style="float:right">
                    <li>
                        <a ng-href="#/login" style="color:#000; margin-left:20px;">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row wrapper border-bottom navy-bg">
            <div class="col-sm-12">
                <h1 class="dashboard-heading">{{results.main_test.name}}</h1>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row current-test ">
                <div class="col-lg-2 text-center">
                    &nbsp;
                </div>
                <div class="col-lg-8 text-center">
                    <h2 class="float-left">{{results.main_test.name}} ON {{results.main_test.date}}</h2>
                    <a class="btn btn-primary btn-lg view-details" data-toggle="modal" data-target="#test-details">View Details</a>
                </div>
                <div class="col-lg-2 text-center register-popup">
                    <button class="btn btn-primary btn-lg register-now " ng-disabled="register" ng-click="registerExam()">{{butt_text}}</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6" style="height:500px;overflow-y:scroll">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Previous Tests</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Test</th>
                                            <th>Date</th>
                                            <th>Your Score</th>
                                            <th>Top Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="previous_test in results.previous_tests">
                                            <td>{{previous_test.name}}</td>
                                            <td>{{previous_test.date}}</td>
                                            <td>{{previous_test.your_score}}/{{previous_test.total_score}}</td>
                                            <td>{{previous_test.top_score}}/{{previous_test.total_score}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Upcoming Tests</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Test</th>
                                            <th>Date</th>
                                            <th>Your Score</th>
                                            <th>Top Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="upcoming_test in results.upcoming_tests">
                                            <td>{{upcoming_test.name}}</td>
                                            <td>{{upcoming_test.date}}</td>
                                            <td>100/250</td>
                                            <td>200/250</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins" style="margin-top:50px">
                        <div class="ibox-title">
                            <h5>Performance Summary</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Number of tests taken</td>
                                            <td>{{results.performance_sumary.test_taken}}</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Average Time</td>
                                            <td>{{results.performance_sumary.avg_time}}</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Average Score</td>
                                            <td>{{results.performance_sumary.avg_score}}</td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal inmodal fade" id="test-details" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">{{results.main_test.name}}</h4>
                        <small class="font-bold"><p>{{results.main_test.date}}</p><p>Duration: 3 Hours</p></small>
                    </div>
                    <div class="modal-body">
                        <p><strong>Physics</strong></p>
                        <p><strong>Chemistry</strong></p>
                        <p><strong>Maths</strong></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                Email: <strong><a href="mailto:owl@conceptowl.com" style="color:inherit"> owl@conceptowl.com</a></strong>
            </div>
            <div>
                <strong>Copyright</strong> ConceptOwl
            </div>
        </div>
    </div>
    <div class="submit-popup-container" style="opacity:0.7 !important" ng-class="{'active':overlay}">
        <div class="container app_loader" style="width:100px !important">
            <div class="row row-centered" style="margin-left: 10px;margin-top: 25px;">
                <div class="">
                    <ion-spinner icon="bubbles"></ion-spinner>
                </div>
            </div>
        </div>
    </div>
</ion-view>
