<ion-view view-title="Upcoming" cache-view="false" ng-hide="nav_views">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse" style="position: relative; overflow: hidden; width: auto;height:100% !important;" class="slimScrollDiv">
            <a class="logo" href="#"><img src="images/logo.png" alt="ConceptOwl Logo" /></a>
            <ul class="nav metismenu" id="side-menu">
                <!-- <li class="nav-header user-prof">
                    <div>
                        <a href="#">
                            <div class="user-logo"><img style="height:50px !important" alt="image" class="img-circle" src="{{prof_imag}}"></div>
                            <span class="block m-t-xs user-name"> 
                                <strong class="font-bold">{{prof_name}}</strong>
                            </span>
                        </a>
                    </div>
                </li> -->
                <!-- <li>
                        <a ng-href="#/home"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
                    </li> -->
                <li ng-class="{'active':practice}" ng-click="practiceClick()">
                    <a><i class="fa fa-th-large"></i> <span class="nav-label">Concept Heatmap</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-hide="!practice">
                        <li><a href="#/chm">Practice</a></li>
                        <li><a ng-click="login()">Review</a></li>
                    </ul>
                </li>
                <!-- <li ng-class="{'active':doubt}" ng-click="doubtClick()">
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Doubt Clearing Desk</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-hide="!doubt">
                        <li><a ng-href="#/ask-ques">Ask a question</a></li>
                        <li><a ng-href="#/schedule">Schedule a session</a></li>
                    </ul>
                </li> -->
                <li ng-class="{'active':mock}" ng-click="mockClick()">
                    <a><i class="fa fa-th-large"></i> <span class="nav-label">JEE Mock Test</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-hide="!mock">
                        <!-- <li><a ng-href="#/dash">Overview</a></li> -->
                        <li><a ng-href="#/tests">Take a Test</a></li>
                        <li><a ng-click="login()">Previous Tests</a></li>
                    </ul>
                </li>
                <!--  <li>
                        <a href="special-tests.html"><i class="fa fa-th-large"></i> <span class="nav-label">Special Tests</span></a>
                    </li> -->
                <!--  <li>
                        <a href="rapid-revision-roster.html"><i class="fa fa-th-large"></i> <span class="nav-label">Rapid Revision Roster</span></a>
                    </li>
                    <li>
                        <a href="resources.html"><i class="fa fa-th-large"></i> <span class="nav-label">Resources</span></a>
                    </li>
                    <li>
                        <a href="blog.html"><i class="fa fa-th-large"></i> <span class="nav-label">Blog</span></a>
                    </li>
                    <li>
                        <a href="who-are-we.html"><i class="fa fa-th-large"></i> <span class="nav-label">Who are we?</span></a>
                    </li> -->
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="white-bg">
        <div class="row border-bottom" style="border:none !important">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " ng-click="navClick()"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right pull-right" style="position:absolute;right:25px;margin-top: 6px;">
                    <a ng-click="login()" class="button button-primary" style="background: #1ABC9C;border-radius: 8px;">Login</a>
                    <a ng-click="register()" class="button button-primary" style="background:#2f4050;border-radius: 8px;">Sign Up</a>
                </ul>
            </nav>
        </div>
        <div class="row wrapper border-bottom navy-bg" style="margin-top: 12px;" ng-click="hide_nav()">
            <div class="col-sm-12">
                <h1 class="dashboard-heading">Take a test</h1>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight" ng-click="hide_nav()">
            <div class="row">
                <div class="col-lg-12 upcom-tests">
                    <div class="notice col-lg-10" style="width:100%">
                        <div class="col-lg-9 testarea text-center">
                            <a data-toggle="modal" data-target="#main-test-details" style="font-size:1.8em" href="#">{{primary_test.testname}} </a>
                            <!-- launched on <span>10/08/2015</span> -->
                        </div>
                        <div class="col-lg-3 register-container">
                            <!-- <div class="timer">3:10:25:35</div> -->
                            <div class=" register-popup">
                                <button class="btn btn-primary" ng-click="registerExam()">Start Test</button>
                            </div>
                        </div>
                    </div>
                    <!--  <div class="notice col-lg-10" style="width:100%" ng-show="no_recent_test">
                        <div class="recent_uptest">No Recent Upcoming Test</div>
                    </div> -->
                    <div class="ibox float-e-margins col-lg-10" style="width:100%">
                        <div class="ibox-title">
                            <h5>Take a test</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="table">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="serial">#</th>
                                            <th>Test Name</th>
                                            <th class="register-box">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="test in results track by $index">
                                            <td>{{$index+1}}</td>
                                            <td><a data-toggle="modal" data-target="#test-details" ng-click="testpop($index)" class="testname">{{test.testname}}</a></td>
                                            <td><a ng-click="reg_test($index)" class="register-popup btn btn-primary btn-xs">Start Test</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal inmodal fade" id="test-details" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="margin: auto !important;padding:35px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">{{results[ind].testname}}</h4>
                        <small class="font-bold"><p>{{results.tests[ind].date}}</p><p>Duration: 3 Hours</p></small>
                    </div>
                    <div class="modal-body">
                        <p><strong>Physics</strong></p>
                        <p><strong>Chemistry</strong></p>
                        <p><strong>Maths</strong></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal inmodal fade" id="main-test-details" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="margin: auto !important;padding:35px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">{{primary_test.testname}}</h4>
                        <small class="font-bold"><p>Duration: 3 Hours</p></small>
                    </div>
                    <div class="modal-body">
                        <p><strong>Physics</strong></p>
                        <p><strong>Chemistry</strong></p>
                        <p><strong>Maths</strong></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                Email: <strong><a href="mailto:owl@conceptowl.com" style="color:inherit"> owl@conceptowl.com</a></strong>
            </div>
            <div>
                <strong>Copyright</strong> ConceptOwl
            </div>
        </div>
        <div class="submit-popup-container" ng-class="{'active':timeOut}">
            <div class="row popup-style-container">
                <div class="row popup-style-row1">
                    <p class="pop_para popup-style-row1-text">Unable to connect with server</p>
                </div>
                <div class="row popup-style-row2">
                    <div class="col-md-6 end_button" style="padding:0px;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToLogin()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" style="opacity:0.7 !important" ng-class="{'active':overlay}">
        <div class="container app_loader" style="width:100px !important">
            <div class="row row-centered" style="margin-left: 10px;margin-top: 25px;">
                <div class="">
                    <ion-spinner icon="bubbles"></ion-spinner>
                </div>
            </div>
        </div>
    </div>
</ion-view>
