<ion-view view-title="Practice-test" cache-view="false" id="wrapper" class="clearfix">
    <!-- Content
        ============================================= -->
    <div id="content" scroll="false" ng-hide="practiceCompleted">
        <div class="content-wrap">
            <div class="qa-section">
                <!--This is the container for the main Q&A section-->
                <div class="qa-header">
                    <!--This is container for the header of the Q&A section-->
                    <div class="menu-icon" ng-click="show_side()"><i class="icon-line-menu"></i></div>
                    <ul class="subject-tab nomargin">
                        <!-- <li class="btn btn-lg btn-danger nomargin subject-btn" ng-hide="showTestButton.Physics" ng-class="{'active': currentView === 0 }">Physics</li>
                        <li class="btn btn-lg btn-danger nomargin subject-btn" ng-hide="showTestButton.Chemistry" ng-class="{'active': currentView === 1}">Chemistry</li>
                        <li class="btn btn-lg btn-danger nomargin subject-btn" ng-hide="showTestButton.Maths" ng-class="{'active': currentView === 2}">Mathematics</li> -->
                        <div class="tops">
                            <li class="subject-btn">
                                <span class="btn btn-lg subject-btn nomargin big" style="color:white;padding-bottom: 15px;" ng-hide="showTestButton.Physics" ng-class="{'active': currentView === 0 }" ng-click="changeSub(0,10)">Physics</span>
                                <span class="btn btn-lg subject-btn nomargin small" style="color:white;padding-bottom:12px" ng-hide="showTestButton.Physics" ng-class="{'active': currentView === 0 }" ng-click="changeSub(0,10)">P</span>
                            </li>
                            <li class="subject-btn">
                                <span class="btn btn-lg subject-btn nomargin big" style="color:white;padding-bottom: 15px;" ng-hide="showTestButton.Chemistry" ng-class="{'active': currentView === 1}" ng-click="changeSub(1,10)">Chemistry</span>
                                <span class="btn btn-lg subject-btn nomargin small" style="color:white;padding-bottom:12px" ng-hide="showTestButton.Chemistry" ng-class="{'active': currentView === 1}" ng-click="changeSub(1,10)">C</span>
                            </li>
                            <li class="subject-btn" style="margin-left:2px">
                                <span class="btn btn-lg subject-btn nomargin big" style="color:white;padding-bottom: 15px;" ng-hide="showTestButton.Maths" ng-class="{'active': currentView === 2}" ng-click="changeSub(2,10)">Mathematics</span>
                                <span class="btn btn-lg subject-btn nomargin small" style="color:white;padding-bottom:12px" ng-hide="showTestButton.Maths" ng-class="{'active': currentView === 2}" ng-click="changeSub(2,10)">M</span>
                            </li>
                        </div>
                    </ul>
                    <a class="small-logo"><img src="images/small-logo.png" alt="ConceptOwl Logo" /></a>
                    <div class="qa-submit exit1" style="background:red !important" ng-click="showConfirm()" data-toggle="modal" data-target="#myModal"><img class="exit_icon" src="images/exit1.png" alt="exit" /><span class="exit_text">GO TO HEATMAP</span></div>
                    <!--The submit test button-->
                    <div class="qa-timer">
                        <!--The Timer-->
                        <span>{{readableTime.hours}}:{{readableTime.minutes}}:{{readableTime.seconds}}</span>
                    </div>
                </div>
                <div class="qa-main-container" ng-hide="question_space" ng-click="close_side_bar()">
                    <!--This is the wrapper container for the Q&A-->
                    <div class="qa-container">
                        <div class="qa-scroll-pane">
                            <div class="current-question-bar">
                                <!--This is where the Q number and current status of progress is shown-->
                                <div class="question-count">
                                    <!--Updated-->
                                    <span class="current-count" data-number="4"><span>{{topic_name}} </span> Q. {{currentQuestion+1}}/{{groupedQuestions.length}}</span>
                                    <p style="width: 312px;position: absolute;margin: auto;right: 0px !important;left: 0px !important;bottom: 8px !important;color: #293846;font-weight: bold;text-align:center">{{groupedQuestions[currentQuestion].ques_id}}</p>
                                    <div class="qa-functions fright center">
                                        <div class="qa-bookmark" ng-show="groupedQuestions[currentQuestion].bookmarked" ng-click="bookmarkQuestion(currentQuestion)">
                                            <!--The bookmark. Add active class to it when the question is bookmarked-->
                                            <i class="icon-bookmark2" style="color:#f1c40f"></i>
                                        </div>
                                        <div class="qa-notes" ng-show="!groupedQuestions[currentQuestion].bookmarked" ng-click="bookmarkQuestion(currentQuestion)">
                                            <!--The notes-->
                                            <i class="icon-bookmark2"></i>
                                        </div>
                                        <div class="qa-report">
                                            <!--This will open a popup form for students to report errors-->
                                            <i class="icon-warning-sign"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="qa-question">
                                <!--This is container for the Question-->
                                <div class="qa-question-content">
                                    <p style="margin:0px" dynamic="groupedQuestions[currentQuestion].paragraph"></p>
                                    <p style="margin:0px;" dynamic="groupedQuestions[currentQuestion].quest"></p>
                                    <p ng-show="groupedQuestions[currentQuestion].type === 'multiple_correct_choice_type'" class="question_type">(This question has multiple answers.)</p>
                                    <p ng-show="groupedQuestions[currentQuestion].type === 'integer_type'" class="question_type">(Enter the answer as a 4 digit integer and SUBMIT.)</p>
                                    <p ng-show="groupedQuestions[currentQuestion].type === 'matrix_type'" class="question_type">(Select the correct answers in each row.)</p>
                                    <p ng-show="groupedQuestions[currentQuestion].type ==='subjective'" class="question_type">(This is a subjective type question. Click VIEW SOLUTION to view the answer.)</p>
                                    
                                </div>
                                <div class="qa-hints button button-3d button-mini button-rounded button-teal nomargin" ng-hide="groupedQuestions[currentQuestion].no_hint" ng-click="showHint()">Hints</div>
                            </div>
                            <div class="qa-question" ng-show="hintForm" style="background:rgb(221, 229, 236);color:black;">
                                <p style="color:#1AB394;">Hint 1</p>
                                <p style="margin:0px" dynamic="groupedQuestions[currentQuestion].hint" ng-show="groupedQuestions[currentQuestion].hint !== '' "></p>
                                <p style="color:#1AB394;">Hint 2</p>
                                <p style="margin:0px" dynamic="groupedQuestions[currentQuestion].hint_2" ng-show="groupedQuestions[currentQuestion].hint_2 !== '' "></p>
                                <p style="color:#1AB394;">Hint 3</p>
                                <p style="margin:0px" dynamic="groupedQuestions[currentQuestion].hint_3" ng-show="groupedQuestions[currentQuestion].hint_3 !== '' "></p>
                            </div>
                            <div class="qa-answers">
                                <!--This is container for the Answer options-->
                                <form class="qa-answers-form" action="" method="" name="answerForm">
                                    <div class="qa-answer-block" ng-hide="groupedQuestions[currentQuestion].type !='integer_type'">
                                        <!-- Use this when answer type is INTEGER -->
                                        <input ng-hide="groupedQuestions[currentQuestion].submitted" type="text" ng-model="integer_ans" placeholder="Your Answer" />
                                        <div class="answer-incorrect" ng-show="groupedQuestions[currentQuestion].incorrectAns || groupedQuestions[currentQuestion].correctAns">
                                            <!-- Add incorrect class if answer is incorrect or correct class when answer is correct-->
                                            <label class="incorrect" ng-class="{'iconCheck':groupedQuestions[currentQuestion].correctAns,'iconCross':groupedQuestions[currentQuestion].incorrectAns}">Your choice <i ng-show="groupedQuestions[currentQuestion].submitted && groupedQuestions[currentQuestion].correctAns" class="icon-line-circle-check"></i><i ng-show="groupedQuestions[currentQuestion].submitted && groupedQuestions[currentQuestion].incorrectAns" class="icon-line-circle-cross"></i></label>
                                            <!-- Add incorrect class if answer is incorrect or correct class when answer is correct-->
                                            <p class="incorrect">{{groupedQuestions[currentQuestion].integer_choice}}</p>
                                        </div>
                                        <div class="answer-correct" ng-show="groupedQuestions[currentQuestion].submitted">
                                            <!-- Show this when answer is incorrect -->
                                            <label class="correct">Correct answer <i ng-show="groupedQuestions[currentQuestion].submitted" class="icon-line-circle-check"></i></label>
                                            <p class="correct">{{groupedQuestions[currentQuestion].integer_answer}}</p>
                                        </div>
                                        <div class="qa-solution qa-answer-option test test2" style="margin-top:0px;border:none;padding:0px !important" ng-show="(groupedQuestions[currentQuestion].correctAns || groupedQuestions[currentQuestion].skipped || groupedQuestions[currentQuestion].incorrectAns) && groupedQuestions[currentQuestion].solution !== ''">
                                            <label>Solution</label>
                                            <br>
                                            <p dynamic="groupedQuestions[currentQuestion].solution"></p>
                                        </div>
                                    </div>
                                    <div class="qa-answer-block" ng-hide="groupedQuestions[currentQuestion].type!='subjective'">
                                        <!--Use this when answer type is SUBJECTIVE-->
                                        <div class="qa-answer-accordion">
                                            <div class="qa-answer-accordion-title subjective-title" ng-click="subj_solu()">
                                                VIEW SOLUTION
                                            </div>
                                            <div class="qa-answer-accordion-solution subjective-solution" ng-show="subjective_sol" dynamic="groupedQuestions[currentQuestion].subjective_answer">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qa-answer-block" ng-hide="groupedQuestions[currentQuestion].type!='matrix_type'">
                                        <div class="answer-incorrect">
                                            <label class="incorrect" ng-show="groupedQuestions[currentQuestion].submitted" ng-class="{'iconCheck':groupedQuestions[currentQuestion].correctAns,'iconCross':groupedQuestions[currentQuestion].incorrectAns}">Your choice <i ng-show="groupedQuestions[currentQuestion].submitted && groupedQuestions[currentQuestion].correctAns" class="icon-line-circle-check"></i><i ng-show="groupedQuestions[currentQuestion].submitted && groupedQuestions[currentQuestion].incorrectAns" class="icon-line-circle-cross"></i></label>
                                            <table class="qa-answer-matrix">
                                                <tbody>
                                                    <tr ng-repeat="q_opt in groupedQuestions[currentQuestion].matrix_answer_params">
                                                        <th>{{q_opt}}</th>
                                                        <td ng-repeat="ans_opt in groupedQuestions[currentQuestion].matrix_option_params" ng-class="{'matrix-box':groupedQuestions[currentQuestion].matrixarray[$parent.$index][$index]}" style="cursor: pointer !important" ng-click="matrix_index($parent.$index,$index)">{{ans_opt}}
                                                            <input class="qa-checkbox" type="checkbox" name="matrix-option-a">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="answer-incorrect" ng-show="groupedQuestions[currentQuestion].submitted">
                                            <label class="correct">Correct answer <i ng-show="groupedQuestions[currentQuestion].submitted" class="icon-line-circle-check"></i></label>
                                            <table class="qa-answer-matrix">
                                                <tbody>
                                                    <tr ng-repeat="q_opt in groupedQuestions[currentQuestion].matrix_answer_params">
                                                        <th>{{q_opt}}</th>
                                                        <td ng-repeat="ans_opt in groupedQuestions[currentQuestion].matrix_option_params" ng-class="{'matrix-box':groupedQuestions[currentQuestion].ans_matrixarray[$parent.$index][$index]}" style="cursor: pointer !important">{{ans_opt}}
                                                            <input class="qa-checkbox" type="checkbox" name="matrix-option-a">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="qa-solution qa-answer-option test test2" style="margin-top:0px;border:none;padding:0px !important" ng-show="(groupedQuestions[currentQuestion].correctAns || groupedQuestions[currentQuestion].skipped || groupedQuestions[currentQuestion].incorrectAns) && groupedQuestions[currentQuestion].solution !== ''">
                                            <label>Solution</label>
                                            <br>
                                            <p dynamic="groupedQuestions[currentQuestion].solution"></p>
                                        </div>
                                    </div>
                                    <div ng-repeat="option in groupedQuestions[currentQuestion].options track by $index" ng-click="markAnswer(currentQuestion,$index)" class="qa-answer-option" ng-class="{'correct':answerCorrect($index),'check':checked[{{$index}}] == $index}" ng-show="groupedQuestions[currentQuestion].type=='single_correct_choice_type' || groupedQuestions[currentQuestion].type=='multiple_correct_choice_type'" style="background:white;cursor:pointer">
                                        <div class="check" ng-show="groupedQuestions[currentQuestion].options[$index].correct"><span class="not-chosen">Correct answer</span> <i class="icon-line-circle-check"></i> </div>
                                        <div class="check" ng-show="groupedQuestions[currentQuestion].options[$index].skipped"><span class="not-chosen">Correct answer</span> <i class="icon-line-circle-check"></i> </div>
                                        <div class="cross" ng-show="groupedQuestions[currentQuestion].options[$index].incorrect"><span>Your choice</span> <i class="icon-line-circle-cross"></i> </div>
                                        <!--Use this when answer type is SINGE or MULTIPLE CHOICE-->
                                        <div class="qa-option-number">
                                            <!--This is where you put the option number -->
                                            <span> {{$index+1}}</span>
                                        </div>
                                        <div class="qa-answer-content test test1" id="question-option-{{$index}}" dynamic="groupedQuestions[currentQuestion].options[$index].opt">
                                            <!--This is container for the content of the option -->
                                        </div>
                                        <!-- <div class="qa-answer-content" ng-show="groupedQuestions[currentQuestion].options[$index].skipped">
                                            <p style="font-weight: bold;">Correct Answer</p>
                                        </div>
                                        <div class="qa-answer-content" ng-show="groupedQuestions[currentQuestion].options[$index].correct">
                                            <p style="font-weight: bold;">Correct Answer</p>
                                        </div>
                                        <div class="qa-answer-content" ng-show="groupedQuestions[currentQuestion].options[$index].incorrect">
                                            <p style="font-weight: bold;">Your choice</p>
                                        </div> -->
                                        <div class="qa-solution qa-answer-option test test2" style="margin-top:0px;border:none;" ng-show="(groupedQuestions[currentQuestion].options[$index].correct || groupedQuestions[currentQuestion].options[$index].skipped) && groupedQuestions[currentQuestion].solution !== ''">
                                            <!--If the answer has a solution then this is where it will be shown-->
                                            <label>Solution</label>
                                            <br>
                                            <p dynamic="groupedQuestions[currentQuestion].solution"></p>
                                        </div>
                                        <div class="qa-a-overlay" style="display:block;background:#40C0CB;opacity:0.2" ng-hide="groupedQuestions[currentQuestion].options[$index].chosen"></div>
                                        <div class="qa-a-overlay" style="display:block;background:red;opacity:0.3" ng-show="groupedQuestions[currentQuestion].options[$index].incorrect"></div>
                                        <div class="qa-a-overlay" style="display:block;background:green;opacity:0.2" ng-show="groupedQuestions[currentQuestion].options[$index].correct"></div>
                                        <div class="qa-a-overlay" style="display:block;background:#40C0CB;opacity:0.2" ng-show="groupedQuestions[currentQuestion].options[$index].skipped"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="qa-control-nav">
                        <!--This is the container for the vertical control navigation-->
                        <div class="question-list">
                            <div class="question-list-pane">
                                <div class="question-list-slides">
                                    <ion-scroll delegate-handle="side-nav" class="question-list">
                                        <div class="question-list-pane">
                                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                                <div class="question-list-slides" style="width: 3400%; transition-duration: 0s; -webkit-transition-duration: 0s; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px);">
                                                    <a ng-repeat="i in getNumber(groupedQuestions.length) track by $index" class="" style="float: left; display: block; width: 40px;" ng-class="{'active':currentQuestion+1==$index+1,'correct':groupedQuestions[$index].correctAns,'incorrect':groupedQuestions[$index].incorrectAns,'skipped-an':groupedQuestions[$index].skipped,'bookmarked':bookmarked($index)}" ng-click="changeQuestion($index)">
                                                        <!--Add skipped class if the question was skipped. Add bookmarked class if question was bookmarked-->
                                                        <span class="bm" style="display:block !important;top: -2px;right: 0px;"><i class="icon-bookmark2" ng-show="groupedQuestions[$index].bookmarked"  style="color:#f1c40f"></i></span>
                                                        <span>{{$index+1}}</span>
                                                    </a>
                                                    <!-- <ul class="flex-direction-nav">
                                                        <li class="flex-nav-prev">
                                                            <a class="flex-prev flex-disabled" href="#" tabindex="-1"></a>
                                                        </li>
                                                        <li class="flex-nav-next">
                                                            <a class="flex-next" href="#"></a>
                                                        </li>
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </ion-scroll>
                                    <div class="prev-set" ng-click="showPrevQuestion()"><i class="icon-chevron-up"></i></div>
                                    <!--Show previous questions in the list-->
                                    <div class="next-set" ng-click="showNextQuestion()"><i class="icon-chevron-down"></i></div>
                                </div>
                            </div>
                        </div>
                        <!--Show next questions in the list-->
                    </div>
                </div>
                <div class="qa-main-container" ng-show="question_space1" style="background:#dfdfdf">
                    <div class="filter_data">
                        No {{filter_text}} questions!!!
                    </div>
                </div>
                <div class="qa-footer" ng-click="close_side_bar()">
                    <!--This is the container for the footer of the Q&A section-->
                    <a class="qa-prev-question btn btn-lg btn-danger nomargin" style="background:#1ab394;border:none;" ng-click="showPrevQuestion()" ng-hide="currentQuestion+1==1 || !groupedQuestions[currentQuestion].submitted">
                        <!--Go to previous question-->
                        <i class="icon-line-arrow-left"></i>
                        <span>Previous</span>
                    </a>
                    <button class="qa-next-question btn btn-lg btn-danger nomargin" style="background:#1ab394;border:none;" type="submit" ng-hide="!groupedQuestions[currentQuestion].submitted" ng-click="showNextQuestion()">
                        <!--Go to next question-->
                        <span>Next</span>
                        <i class="icon-line-arrow-right"></i>
                    </button>
                    <div class="qa-practice-container center">
                        <button class="qa-submit-answer btn btn-lg btn-danger nomargin practice_submit" ng-click="showSubmitted()" ng-disabled="groupedQuestions[currentQuestion].submitted" ng-class="{'change_color':groupedQuestions[currentQuestion].submitted}">SUBMIT</button>
                    </div>
                </div>
            </div>
            <div class="qa-sidebar" ng-class="{'close-side':sidebarCollapse}">
                <!--This is the container for the sidebar-->
                <div id="test-logo">
                    <a href="concept-heatmap.html"><img src="images/logo.png" alt="ConceptOwl Logo"></a>
                </div>
                <!-- #logo end -->
                <div class="sidebar-close"><i class="icon-line-cross"></i></div>
                <div class="sidebar-container">
                    <div class="sidebar-scroll-pane">
                        <div class="qa-stats">
                            <!-- This is the container for the statistics of the current test-->
                            <div class="title center">
                                <i class="icon-bar-chart"></i>
                                <span>You are currently on</span>
                            </div>
                            <p>
                                <span class="left"> Que. No: </span>
                                <span class="right">{{currentQuestion+1}}</span>
                            </p>
                            <p>
                                <span class="left">Total no. of questions: </span>
                                <span class="right">{{groupedQuestions.length}}</span>
                            </p>
                            <p>
                                <span class="left">Answered: </span>
                                <span class="right">{{answered}}</span>
                            </p>
                            <p>
                                <span class="left">Skipped: </span>
                                <span class="right">{{skippedQues}}</span>
                            </p>
                            <p>
                                <span class="left">Bookmarked: </span>
                                <span class="right">{{getBookmarkedQuestions()}}</span>
                            </p>
                        </div>
                        <div class="qa-filter">
                            <!-- This is the container for the filters of the current test-->
                            <div class="title center">
                                <i class="icon-filter"></i>
                                <span>Filter by</span>
                            </div>
                            <p>
                                <input type="checkbox" ng-click="allQuestions()" ng-model="allCheck">
                                <i class="icon-line-paper"></i>
                                <span>All</span>
                            </p>
                            <p>
                                <input type="checkbox" ng-click="correctQuestions()" ng-model="correctCheck">
                                <i class="icon-line-check filter-answered"></i>
                                <span>Answered correctly</span>
                            </p>
                            <p>
                                <input type="checkbox" ng-click="incorrectQuestions()" ng-model="incorrectCheck">
                                <i class="icon-line-cross filter-skipped"></i>
                                <span>Answered incorrectly</span>
                            </p>
                            <p>
                                <input type="checkbox" ng-click="skippedQuestions()" ng-model="skippedCheck">
                                <i class="icon-line-square-cross filter-skipped" style="color:green"></i>
                                <span>Unattempted</span>
                            </p>
                            <p>
                                <input type="checkbox" ng-click="bookmarkedQuestions()" ng-model="bookmarkCheck">
                                <i class="icon-bookmark2 filter-bookmarked"></i>
                                <span>Bookmarked </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #content end -->
        <!-- #wrapper end -->
        <div class="submit-popup-container" ng-class="{'active':endPracice}">
            <div class="row popup-style-container">
                <div class="row popup-style-row1">
                    <p class="pop_para popup-style-row1-text">You have reached the end of this practice session. Do you want to go to your heatmap?</p>
                </div>
                <div class="row popup-style-row2">
                    <div class="col-md-12 sep_button" style="padding:0px;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToCompletion()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-popup-container" ng-class="{'active':endQuestions}">
            <div class="row popup-style-container">
                <div class="row popup-style-row1">
                    <p class="pop_para popup-style-row1-text">You have reached the end of this practice session. Do you want to go back to your concept heatmap?</p>
                </div>
                <div class="row popup-style-row2">
                    <div class="col-md-6 sep_button" style="padding:0px;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToCompletion()">Yes</button>
                    </div>
                    <div class="col-md-6" style="padding:0px;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="CloseQuestionsEnd()">No</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-popup-container" ng-class="{'active':testSubmit}">
            <div class="row popup-style-container">
                <div class="row popup-style-row1">
                    <p class="pop_para popup-style-row1-text">Do you want to go back to your concept heatmap?</p>
                </div>
                <div class="row popup-style-row2">
                    <div class="col-md-6 sep_button" style="padding:0px;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToCompletion()">Yes</button>
                    </div>
                    <div class="col-md-6" style="padding:0px;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="closeConfirmPopup()">No</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="submit-popup-container" ng-class="{'active':ServerSubmitError}">
            <div class="row popup-style-container">
                <div class="row popup-style-row1">
                    <p class="pop_para popup-style-row1-text">Server Error,Result not submitted</p>
                </div>
                <div class="row popup-style-row2">
                    <div class="col-md-12 sep_button" style="padding:0px;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToHeatmap()">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-popup-container" ng-class="{'active':NetworkSubmitError}">
            <div class="row popup-style-container">
                <div class="row popup-style-row1">
                    <p class="pop_para popup-style-row1-text">Network Error,Result not submitted</p>
                </div>
                <div class="row popup-style-row2">
                    <div class="col-md-12 sep_button" style="padding:0px;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToHeatmap()">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-popup-container" ng-class="{'active':endPopup}">
            <!--Add active class to display this popup-->
            <div class="row popup-style-container">
                <div class="row popup-style-row1">
                    <p class="pop_para popup-style-row1-text">No Unattempted Questions Available..</p>
                </div>
                <div class="row popup-style-row2">
                    <button class="btn  pop_para popup-style-row2-button" ng-click="closePop()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" ng-class="{'active':timeOut}">
        <div class="row popup-style-container">
            <div class="row popup-style-row1">
                <p class="pop_para popup-style-row1-text">Unable to connect with server</p>
            </div>
            <div class="row popup-style-row2">
                <div class="col-md-12 end_button" style="padding:0px;">
                    <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToLogin()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" style="opacity:0.7 !important" ng-class="{'active':overlay}">
        <div class="container app_loader" style="width:100px !important">
            <div class="row row-centered" style="margin-left: 10px;margin-top: 25px;">
                <div class="">
                    <ion-spinner icon="bubbles"></ion-spinner>
                </div>
            </div>
        </div>
    </div>
</ion-view>
