<ion-view class="clearfix" view-title="Test">
    <div id="content" ng-hide="testCompleted">
        <div class="content-wrap">
            <div class="qa-section">
                <!--This is the container for the main Q&A section-->
                <div class="qa-header">
                    <!--This is container for the header of the Q&A section-->
                    <div class="menu-icon" ng-click="show_side()"><i class="icon-line-menu"></i></div>
                    <ul class="subject-tab nomargin">
                        <!--  <li class="btn btn-lg btn-danger nomargin subject-btn" ng-hide="showTestButton.Physics" ng-class="{'active': currentView === 0 }" ng-click="changeSub(0,10)">Physics</li>
                        
                        <li class="btn btn-lg btn-danger nomargin subject-btn" ng-hide="showTestButton.Chemistry" ng-class="{'active': currentView === 1}" ng-click="changeSub(1,10)">Chemistry</li>
                        <li class="btn btn-lg btn-danger nomargin subject-btn" ng-hide="showTestButton.Maths" ng-class="{'active': currentView === 2}" ng-click="changeSub(2,10)">Mathematics</li> -->
                        <div class="tops">
                            <li class="subject-btn">
                                <span class="btn btn-lg subject-btn nomargin big" style="color:white;padding-bottom: 15px;" ng-hide="showTestButton.Physics" ng-class="{'active': currentView === 0 }" ng-click="changeSub(0,10)">Physics</span>
                                <span class="btn btn-lg subject-btn nomargin small" style="color:white;padding-bottom:12px" ng-hide="showTestButton.Physics" ng-class="{'active': currentView === 0 }" ng-click="changeSub(0,10)">P</span>
                            </li>
                            <li class="subject-btn">
                                <span class="btn btn-lg subject-btn nomargin big" style="color:white;padding-bottom: 15px;" ng-hide="showTestButton.Chemistry" ng-class="{'active': currentView === 1}" ng-click="changeSub(1,10)">Chemistry</span>
                                <span class="btn btn-lg subject-btn nomargin small" style="color:white;padding-bottom:12px" ng-hide="showTestButton.Chemistry" ng-class="{'active': currentView === 1}" ng-click="changeSub(1,10)">C</span>
                            </li>
                            <li class="subject-btn" style="margin-left:2px">
                                <span class="btn btn-lg subject-btn nomargin big" style="color:white;padding-bottom: 15px;" ng-hide="showTestButton.Maths" ng-class="{'active': currentView === 2}" ng-click="changeSub(2,10)">Mathematics</span>
                                <span class="btn btn-lg subject-btn nomargin small" style="color:white;padding-bottom:12px" ng-hide="showTestButton.Maths" ng-class="{'active': currentView === 2}" ng-click="changeSub(2,10)">M</span>
                            </li>
                        </div>
                    </ul>
                    <a class="small-logo"><img src="images/small-logo.png" alt="ConceptOwl Logo" /></a>
                    <div class="qa-submit exit" style="background:red !important" ng-click="showConfirm()" data-toggle="modal" data-target="#myModal"><img class="exit_icon" src="images/exit1.png" alt="exit" /><span class="exit_text">SUBMIT TEST</span></div>
                    <!--The submit test button-->
                    <div class="qa-timer">
                        <!--The Timer-->
                        <span>{{readableTime.hours}}:{{readableTime.minutes}}:{{readableTime.seconds}}</span>
                    </div>
                </div>
                <div class="qa-main-container" ng-click="close_side_bar()" ng-hide="question_space">
                    <!--This is the wrapper container for the Q&A-->
                    <div class="qa-container">
                        <div class="qa-scroll-pane">
                            <div class="current-question-bar">
                                <!--This is where the Q number and current status of progress is shown-->
                                <div class="question-count">
                                    <!--Updated-->
                                    <span class="current-count" data-number="4"><span>{{groupedQuestions[currentView][0].topic}} </span>Q. {{currentQuestion + 1}}/{{groupedQuestions[currentView].length}}</span>
                                    <p style="width: 312px;position: absolute;margin: auto;right: 0px !important;left: 0px !important;bottom: 8px !important;color: #293846;font-weight: bold;text-align:center;line-height: 2;">{{groupedQuestions[currentView][currentQuestion].question_id}}</p>
                                    <div class="qa-functions fright center">
                                        <div class="qa-bookmark" ng-show="groupedQuestions[currentView][currentQuestion].bookmarked" ng-click="bookmarkQuestion(currentView,currentQuestion)">
                                            <!--The bookmark. Add active class to it when the question is bookmarked-->
                                            <i class="icon-bookmark2" style="color:#f1c40f"></i>
                                        </div>
                                        <div class="qa-notes" ng-show="!groupedQuestions[currentView][currentQuestion].bookmarked" ng-click="bookmarkQuestion(currentView,currentQuestion)">
                                            <!--The notes-->
                                            <i class="icon-bookmark2"></i>
                                        </div>
                                        <div class="qa-report">
                                            <!--This will open a popup form for students to report errors-->
                                            <i class="icon-warning-sign"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="qa-question">
                                <!--This is container for the Question-->
                                <div class="qa-question-content">
                                    <p style="margin:0px" dynamic="groupedQuestions[currentView][currentQuestion].paragraph"></p>
                                    <p style="margin:0px" dynamic="groupedQuestions[currentView][currentQuestion].ques"></p>
                                    <p ng-show="groupedQuestions[currentView][currentQuestion].type === 'multiple_correct_choice_type'" style="margin-bottom: 10px;margin-top: 5px;font-style: italic;color: gray;font-size: 10px;">(This question has multiple answers.)</p>
                                    <p ng-show="groupedQuestions[currentView][currentQuestion].type === 'integer_type'" style="margin-bottom: 10px;margin-top: 5px;font-style: italic;color: gray;font-size: 10px;">(Enter the answer as a 4 digit integer and SUBMIT.)</p>
                                    <p ng-show="groupedQuestions[currentView][currentQuestion].type === 'matrix_type'" style="margin-bottom: 10px;margin-top: 5px;font-style: italic;color: gray;font-size: 10px;">(Select the correct answers in each row.)</p>
                                    <p ng-show="groupedQuestions[currentView][currentQuestion].type ==='subjective'" style="margin-bottom: 10px;margin-top: 5px;font-style: italic;color: gray;font-size: 10px;">(This is a subjective type question. Click VIEW SOLUTION to view the answer.)</p>
                                </div>
                                <div class="qa-hints button button-3d button-mini button-rounded button-teal nomargin" ng-hide="groupedQuestions[currentView][currentQuestion].no_hint" ng-click="showHint()">Hints</div>
                            </div>
                            <div class="qa-question" ng-show="hintForm" style="background:rgb(221, 229, 236);color:black;">
                                <p style="color:#1AB394;">Hint 1</p>
                                <p style="margin:0px" dynamic="groupedQuestions[currentView][currentQuestion].hint" ng-show="groupedQuestions[currentView][currentQuestion].hint !== '' "></p>
                                <p style="color:#1AB394;">Hint 2</p>
                                <p style="margin:0px" dynamic="groupedQuestions[currentView][currentQuestion].hint_2" ng-show="groupedQuestions[currentView][currentQuestion].hint_2 !== '' "></p>
                                <p style="color:#1AB394;">Hint 3</p>
                                <p style="margin:0px" dynamic="groupedQuestions[currentView][currentQuestion].hint_3" ng-show="groupedQuestions[currentView][currentQuestion].hint_3 !== '' "></p>
                            </div>
                            <div class="qa-answers">
                                <!--This is container for the Answer options-->
                                <form class="qa-answers-form" action="" method="">
                                    <div class="qa-answer-block" ng-hide="groupedQuestions[currentView][currentQuestion].type!='integer_type'">
                                        <!-- Use this when answer type is INTEGER -->
                                        <input type="text" ng-model="integer_ans" placeholder="Your Answer" />
                                    </div>
                                    <div class="qa-answer-block" ng-hide="groupedQuestions[currentView][currentQuestion].type!='subjective'">
                                        <!--Use this when answer type is SUBJECTIVE-->
                                        <div class="qa-answer-accordion">
                                            <div class="qa-answer-accordion-title subjective-title">
                                                VIEW SOLUTION
                                            </div>
                                            <div class="qa-answer-accordion-solution subjective-solution" hidden>
                                                This is the solution of the answer which only shows when you click ont solution
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qa-answer-block" ng-hide="groupedQuestions[currentView][currentQuestion].type!='matrix_type'">
                                        <div class="answer-incorrect">
                                            <table class="qa-answer-matrix">
                                                <tbody>
                                                    <tr ng-repeat="q_opt in groupedQuestions[currentView][currentQuestion].matrix_answer_params">
                                                        <th>{{q_opt}}</th>
                                                        <td ng-repeat="ans_opt in groupedQuestions[currentView][currentQuestion].matrix_option_params" ng-class="{'matrix-box':groupedQuestions[currentView][currentQuestion].matrixarray[$parent.$index][$index]}" style="cursor: pointer !important" ng-click="matrix_index($parent.$index,$index)">{{ans_opt}}
                                                            <input class="qa-checkbox" type="checkbox" name="matrix-option-a">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div ng-repeat="option in groupedQuestions[currentView][currentQuestion].options track by $index" ng-click="markAnswer(currentView,currentQuestion,$index)" class="qa-answer-option" ng-show="groupedQuestions[currentView][currentQuestion].type=='single_correct_choice_type' || groupedQuestions[currentView][currentQuestion].type=='multiple_correct_choice_type'" style="background:white;cursor:pointer">
                                        <div class="qa-option-number">
                                            <span> {{$index+1}}</span>
                                        </div>
                                        <div class="qa-answer-content" id="question-option-{{$index}}" dynamic="groupedQuestions[currentView][currentQuestion].options[$index].opt">
                                        </div>
                                        <div class="qa-a-overlay" style="display:block;background:#40C0CB;opacity:0.3" ng-hide="groupedQuestions[currentView][currentQuestion].options[$index].chosen"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="qa-control-nav">
                        <!--This is the container for the vertical control navigation-->
                        <div class="question-list">
                            <div class="question-list-pane">
                                <div class="question-list-slides">
                                    <ion-scroll delegate-handle="side-nav" class="question-list">
                                        <div class="question-list-pane">
                                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                                <div class="question-list-slides" style=" transition-duration: 0s; -webkit-transition-duration: 0s; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px);">
                                                    <a ng-repeat="i in getNumber(groupedQuestions[currentView].length) track by $index" class="" style="float: left; display: block; width: 40px;" ng-class="{'active':currentQuestion+1==$index+1,'answered':groupedQuestions[currentView][$index].attempted,'incorrect':groupedQuestions[currentView][$index].skipped,'bookmarked':bookmarked($index)}" ng-click="changeQuestion($index)">
                                                        <!--Add skipped class if the question was skipped. Add bookmarked class if question was bookmarked-->
                                                        <span>{{$index+1}}</span>
                                                        <span class="bm" style="display:block !important;top: -2px;right: 0px;"><i class="icon-bookmark2" ng-show="groupedQuestions[currentView][$index].bookmarked"  style="color:#f1c40f"></i></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </ion-scroll>
                                    <div class="prev-set" ng-click="showPrevQuestion()"><i class="icon-chevron-up"></i></div>
                                    <!--Show previous questions in the list-->
                                    <div class="next-set" ng-click="showNextQuestion()"><i class="icon-chevron-down"></i></div>
                                </div>
                            </div>
                        </div>
                        <!--Show next questions in the list-->
                    </div>
                </div>
                <div class="qa-main-container" ng-show="question_space1" style="background:#dfdfdf">
                    <div class="filter_data">
                        No {{filter_text}} questions!!!
                    </div>
                </div>
                <div class="qa-footer" ng-click="close_side_bar()">
                    <a class="qa-prev-question btn btn-lg btn-danger nomargin" style="background:#1ab394;border:none;" ng-click="showPrevQuestion()" ng-hide="currentView===0&&currentQuestion==0">
                        <i class="icon-line-arrow-left"></i>
                        <span>Previous</span>
                    </a>
                    <button class="qa-next-question btn btn-lg btn-danger nomargin" style="background:#1ab394;border:none;" ng-click="showNextQuestion()">
                        <!--Go to next question-->
                        <span>Next</span>
                        <i class="icon-line-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div class="qa-sidebar" ng-class="{'close-side':sidebarCollapse}">
                <!--This is the container for the sidebar-->
                <div id="test-logo">
                    <a><img src="images/logo.png" alt="ConceptOwl Logo"></a>
                </div>
                <!-- #logo end -->
                <div class="sidebar-close"><i class="icon-line-cross"></i></div>
                <div class="sidebar-container">
                    <div class="sidebar-scroll-pane">
                        <div class="qa-stats">
                            <!-- This is the container for the statistics of the current test-->
                            <div class="title center">
                                <i class="icon-bar-chart"></i>
                                <span>Test Statistics</span>
                            </div>
                            <p>
                                <span class="left">Currently on que. no: </span>
                                <span class="right">{{currentQuestion+1}}</span>
                            </p>
                            <p>
                                <span class="left">Total questions in this section: </span>
                                <span class="right">{{groupedQuestions[currentView].length}}</span>
                            </p>
                            <p>
                                <span class="left">Total questions in this test: </span>
                                <span class="right">{{questionsList.length}}</span>
                            </p>
                            <p>
                                <span class="left">Answered: </span>
                                <span class="right">{{ getAnsweredNumber() }}</span>
                            </p>
                            <p>
                                <span class="left">Skipped: </span>
                                <span class="right">{{ getSkippedCount() }}</span>
                            </p>
                            <p>
                                <span class="left">Bookmarked: </span>
                                <span class="right">{{getBookmarkedQuestions()}}</span>
                            </p>
                            <p>
                                <span class="left">Test Name : </span>
                                <span class="right" style="float:none;"> {{testName}}</span>
                            </p>
                        </div>
                        <div class="qa-filter">
                            <div class="title center">
                                <i class="icon-filter"></i>
                                <span>Filter by</span>
                            </div>
                            <p>
                                <input type="checkbox" ng-click="allQuestions()" ng-model="allCheck">
                                <i class="icon-line-paper"></i>
                                <span>All</span>
                            </p>
                            <p>
                                <input type="checkbox" ng-click="answeredQuestions()" ng-model="answeredCheck">
                                <i class="icon-line-square-check filter-answered"></i>
                                <span>Answered</span>
                            </p>
                            <p>
                                <input type="checkbox" ng-click="skippedQuestions()" ng-model="skippedCheck">
                                <i class="icon-line-square-cross filter-skipped"></i>
                                <span>Skipped</span>
                            </p>
                            <p>
                                <input type="checkbox" ng-click="bookmarkedQuestions()" ng-model="bookmarkCheck">
                                <i class="icon-bookmark2 filter-bookmarked"></i>
                                <span>Bookmarked </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #content end -->
    <!-- #wrapper end -->
    <div class="submit-popup-container" ng-class="{'active':endReached}">
        <div class="submit-popup col_half top-margin">
            <div class="submit-popup-content center">
                <p class="pop_para">You have reached the end of the test.</p>
                <p class="pop_para">Do you want to submit?</p>
            </div>
            <div class="submit-popup-buttons col_full_width">
                <div class="col-md-12 nopadding">
                    <div class="btn btn-lg btn-danger nomargin submit-yes pop_para" ng-click="goToCompletion()">Yes</div>
                </div>
            </div>
        </div>
    </div>
   <!--  <div class="submit-popup-container" ng-class="{'active':NetworkSubmitError}">
        <div class="row popup-style-container">
            <div class="row popup-style-row1">
                <p class="pop_para popup-style-row1-text">Network Error, Result not submitted</p>
            </div>
            <div class="row popup-style-row2">
                <div class="col-md-12 sep_button" style="padding:0px;">
                    <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToHeatmap()">OK</button>
                </div>
            </div>
        </div>
    </div> -->
    <div class="submit-popup-container" ng-class="{'active':ServerSubmitError}">
        <div class="row popup-style-container">
            <div class="row popup-style-row1">
                <p class="pop_para popup-style-row1-text">Server Error, Result not submitted</p>
            </div>
            <div class="row popup-style-row2">
                <div class="col-md-6 sep_button" style="padding:0px;">
                    <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToCompletion()">Retry</button>
                </div>
                <div class="col-md-6 sep_button" style="padding:0px;">
                    <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToHeatmap()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" ng-class="{'active':testSubmit}">
        <div class="row popup-style-container">
            <div class="row popup-style-row1">
                <p class="pop_para popup-style-row1-text">Are you sure you want to end the test?</p>
            </div>
            <div class="row popup-style-row2">
                <div class="col-md-6 sep_button" style="padding:0px;">
                    <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToCompletion()">Yes</button>
                </div>
                <div class="col-md-6" style="padding:0px;">
                    <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="closeConfirmPopup()">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" style="opacity:0.7 !important" ng-class="{'active':overlay}">
        <div class="container app_loader" style="width:100px !important">
            <div class="row row-centered" style="margin-left: 10px;margin-top: 25px;">
                <div class="">
                    <ion-spinner icon="bubbles"></ion-spinner>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-popup-container" ng-class="{'active':NetworkSubmitError}">
        <div class="row popup-style-container">
            <div class="row popup-style-row1">
                <p class="pop_para popup-style-row1-text">Unable to connect with server</p>
            </div>
            <div class="row popup-style-row2">
                <div class="col-md-6 sep_button" style="padding:0px;">
                    <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToCompletion()">Retry</button>
                </div>
                <div class="col-md-6 sep_button" style="padding:0px;">
                    <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToHeatmap()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ion-view>
