<ion-view class="thanks-view" ng-hide="nav_views" view-title="Thanks">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse" style="position: relative; overflow: hidden; width: auto; height:100%;" class="slimScrollDiv">
            <a class="logo" href="#"><img src="images/logo.png" alt="ConceptOwl Logo" /></a>
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header user-prof">
                    <div>
                        <a href="#">
                            <div class="user-logo"><img style="height:50px !important" alt="image" class="img-circle" src="{{prof_imag}}"></div>
                            <span class="block m-t-xs user-name"> 
                                <strong class="font-bold">{{prof_name}}</strong>
                            </span>
                        </a>
                    </div>
                </li>
                <!--  <li>
                    <a ng-href="#/home"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
                </li> -->
                <!-- <li>
                    <a href="special-tests.html"><i class="fa fa-th-large"></i> <span class="nav-label">Special Tests</span></a>
                </li> -->
                <li ng-class="{'active':practice}" ng-click="practiceClick()">
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Concept Heatmap</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-hide="!practice">
                        <li class="active"><a href="#/heatmap">Practice</a></li>
                        <li><a href="#/practice_review">Review</a></li>
                    </ul>
                </li>
                <!-- <li ng-class="{'active':doubt}" ng-click="doubtClick()">
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Doubt Clearing Desk</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-hide="!doubt">
                        <li><a ng-href="#/ask-ques">Ask a question</a></li>
                        <li><a ng-href="#/schedule">Schedule a session</a></li>
                    </ul>
                </li> -->
                <li ng-class="{'active':mock}" ng-click="mockClick()">
                    <a><i class="fa fa-th-large"></i> <span class="nav-label">JEE Mock Test</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-hide="!mock">
                        <!-- <li><a ng-href="#/dash">Overview</a></li> -->
                        <li><a ng-href="#/upcoming">Take a Test</a></li>
                        <li><a ng-href="#/prev">Previous Tests</a></li>
                    </ul>
                </li>
                <!--  <li>
                    <a href="rapid-revision-roster.html"><i class="fa fa-th-large"></i> <span class="nav-label">Rapid Revision Roster</span></a>
                </li>
                <li>
                    <a href="resources.html"><i class="fa fa-th-large"></i> <span class="nav-label">Resources</span></a>
                </li>
                <li>
                    <a href="blog.html"><i class="fa fa-th-large"></i> <span class="nav-label">Blog</span></a>
                </li>
                <li>
                    <a href="who-are-we.html"><i class="fa fa-th-large"></i> <span class="nav-label">Who are we?</span></a>
                </li> -->
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="white-bg" style="padding:0px">
        <div class="row border-bottom  thanks-view">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " ng-click="navClick()"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right pull-right" style="float:right">
                    <li>
                        <a href="http://www.conceptowl.com" ng-click="log_out()" style="color:#000; margin-left:20px;">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- <div class="wrapper wrapper-content animated thanks-view" ng-click="hide_nav()" style="height:785px; background: url('./img/thank.jpg') 50% 50%;">
            <div class="heading-block title-center nobottomborder top-margin">
                <h1 style="font-size:42px; font-weight:600;color:white;">Thanks</h1>
                <span style="font-size:24px font-weight:bold;color:white;">You have completed the test in {{hou}} hours {{min}} minutes {{sec}} seconds</span>
            </div>
            <div class="container" style="border:none;width:100%">
                <div class="row row-centered">
                    <h4 class="center" style="color:white;">YOUR DETAILED SCORES ARE</h4>
                    <div class="row" style="text-align:center;padding-left:8%;margin:0px">
                        <div class="col-md-6 col-xs-3 col-lg-6" style="color:#FFF;top:30px;width:30% !important" ng-repeat="subjects in results.categories">
                            <h4 style="color:#FFF;margin-bottom:15px;font-size:15px;">{{subjects.subject}}</h4> CORRECT ANSWERS: {{subjects.correct_answers}}/{{subjects.total_questions}}
                            <br> TIME TAKEN: {{subjects.hou}} : {{subjects.min}} : {{subjects.sec}} 
                            <br> SCORE: {{subjects.score}}
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="wrapper wrapper-content animated fadeInRight" ng-click="hide_nav()">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <h1 class="text-center thanks" style="font-size:30px;font-weight:bold;margin: 0px 0px -15px 0px;color:#1ab394;margin-top: 13px;">Thanks!<h1>
                    
                    <h2 class="text-center" style="font-size:24px;font-weight: 200;margin: 0 0 50px 0;">You have completed the test in {{hou}} hours {{min}} minutes {{sec}} seconds<h2>
                    
                    <h3 class="text-center" style="font-size:16px;margin: 0 0 6px 0;">YOUR DETAILED SCORES ARE</h3>
                    
                    <div class="ibox-content">
                        <div class="table-responsive col-lg-4" ng-repeat="subjects in results.categories" style="text-align:center">
                            <table class="table modified" style="font-weight: 600;">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;font-size:14px">{{subjects.subject}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>SCORE: {{subjects.score}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>CORRECT ANSWERS: {{subjects.correct_answers}}/{{subjects.total_questions}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>TIME TAKEN: {{subjects.hou}} : {{subjects.min}} : {{subjects.sec}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>   
                    </div>

                </div>
                
                            
            </div>  
        </div>
        <div class="footer">
            <div class="pull-right">
                Email: <strong><a href="mailto:owl@conceptowl.com" style="color:inherit"> owl@conceptowl.com</a></strong>
            </div>
            <div>
                <strong>Copyright</strong> ConceptOwl
            </div>
        </div>
        <div class="submit-popup-container" ng-class="{'active':timeOut}">
            <div class="row popup-style-container">
                <div class="row popup-style-row1">
                    <p class="pop_para popup-style-row1-text">Unable to connect with server</p>
                </div>
                <div class="row popup-style-row2">
                    <div class="col-md-6 end_button" style="padding:0px;">
                        <button class="btn  pop_para popup-style-row2-button" style="border-radius:0px;" ng-click="goToLogin()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="submit-popup-container" style="opacity:0.7 !important" ng-class="{'active':overlay}">
        <div class="container app_loader" style="width:100px !important">
            <div class="row row-centered" style="margin-left: 10px;margin-top: 25px;">
                <div class="">
                    <ion-spinner icon="bubbles"></ion-spinner>
                </div>
            </div>
        </div>
    </div>
</ion-view>
