/*===================================================
	Header
====================================================*/

@media (max-width: 480px){
	.reg_social_button{
		width:100% !important;
	}
}



#header.full-header #primary-menu > ul{
	padding-right:0;
	margin-right:0;
	border-right:none;
}
.anchored{
	padding-top:130px !important;
	margin-top:-80px !important;
}
#header.full-header.ait #logo{
	border:none;
}
#header.transparent-sticky.sticky-header.dark{
	background-color:transparent;
}
#header.transparent-sticky.sticky-header.dark  #header-wrap{
	background-color:rgba(0,0,0, 0.2) !important;
	box-shadow:none;
}
#header-wrap #logo.bansal-logo{
	float:right;
	padding-right:0;
	margin-right:0;
}
@media (max-width: 991px){
	#header-wrap #logo.bansal-logo{
		float:none;
		padding-right:0;
		margin-right:0;
	}
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width:80% !important;
}
.bootstrap-select .btn{
	overflow:hidden;
	border-color:#000;
}
.bootstrap-select span, .bootstrap-select a{
	font-weight:bold !important;
	text-align:center !important;
	height:30px;
	line-height:30px;
	
}
.bootstrap-select span.caret{
	border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000000;
	margin-top: -3px !important;
}
/*===================================================
	Login register popup
====================================================*/
.modal-content.login-modal{
	padding:30px 0 50px 0;
}
.modal-content.login-modal h3 {
	margin-bottom: 10px;
}
.modal-content.login-modal .col_full {
	margin-bottom: 25px;
}
.modal-content.login-modal .col_full:last-child {
	margin-top: 20px;
}
.modal-content.login-modal label {
	font-size: 11px;
}

.nav-tabs{
	text-align:center;
}

/*===================================================
	Landing
====================================================*/
.landing-signup-desc h3.most-effective{
	display:none;
}
@media (max-width: 991px){
	.landing-signup-form h1.most-effective{
		display:none;
	}
	.landing-signup-desc h3.most-effective{
		display:block;
	}
	.landing-signup-desc .col_two_third{
		width:100%;
	}
}
/*===================================================
	Homepage
====================================================*/
.center-box{
	padding-top:30px;
	text-transform:uppercase;
}
.center-box a{
	display:inline-block;
}
#pricing td{
	border-right:solid 1px #DDD;
}
#pricing td:last-child{
	border-right:none;
}
#pricing tr:last-child{
	border-bottom:solid 1px #DDD;
}
#pricing td .btn{
	background-color:#53777a;
	color:#fff;
	border-color:#53777a;
}
#pricing td .btn:hover, #pricing td .btn.active{
	background-color:#759294;
	color:#fff;
	border-color:#759294;
}
#pricing .basic-features td{
	width:33.33%;
}
#pricing .premium-features {
	position:relative;
}
#pricing .premium-features td{
	position:relative;
}
#pricing .premium-features td:first-child{
	width:33.33%;
}
#pricing .premium-features.disabled td{
	background-color:#eee;
	cursor:initial;
}

#pricing select, #pricing option{
	padding:0 20px 0 30px;
	font-weight:bold !important;
}
#pricing .total-cost{
	opacity:0;
}
#pricing .total-cost.active{
	opacity:1;
}
#pricing-btn.buynow{
	background-color:#c02942;
	border-color:#c02942;
}
#pricing-btn.buynow:hover{
	background-color:#c63e54 !important;
	border-color:#c63e54;
}

/* Custom CSS for website Homepage
Added by: Wazeem Raja
*/
.heading-block h1 {
	text-transform: capitalize;
	margin-top: 30px;
}
.dark .heading-block:not(.not-dark) > h4 .sub{
	color: white;
	font-weight: 600;
	font-size: 0.9em;
}
.dark .heading-block:not(.not-dark) > h4 span {
	color: #1ABC9C;
	text-transform: none;
}
.custCtabox {
	display: inline-block;
	width: 225px; 
	background: rgba(0, 0, 0, 0.9);
	margin: 40px 10px 10px 10px;
	min-height: 220px;
	vertical-align: top;
	padding: 30px 20px;
	border: 2px solid rgba(255,255,255,0.4);
	border-radius: 2px;
	position: relative;
	text-align: center;
	
}

.custCtabox h4 {
	color: white;
	padding:0px 0px;
	margin-top: 0px;
	margin-bottom: 25px;
}
.custCtabox h6 {
	color: #eaeaea;
	font-size: 1em;
	font-weight: 200;
}
.custCtabox h3 {
	color: white;
	padding:0px 0px;
	margin-top: 0px;
	font-size: 20px;
	margin-bottom: 5px;
}
.custCtabox .start-button {
	background: rgba(0,0,0,0.9);
    color: white;
    height: 43px;
    margin: 0 auto;
    width: 130px;
    line-height: 40px;
    position: absolute;
    bottom: 35px;
	left: 22%;
    font-size: 1em;
    text-transform: uppercase;
    border: 2px solid rgba(255,255,255,0.7);
	border-radius: 2px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;


}
.custCtabox:hover {
}
.custCtabox:hover .start-button {
	background: #1ABC9C;
    color: white;
    
}
.assoc {
	text-align: center;
}
.assoc a:first-child {
	display: block;
	text-align: center;
	width: 200px;
	margin: 0 auto;
}
.assoc a {
	display: block;
	text-align: center;
	width: 200px;
	font-weight: 200;
	opacity: 0.9;
	margin: 0 auto;
}
.assoc a h6 {
	margin-bottom: 7px;
	font-size: 1em;
}
#reasons .skills li {
	height: 12px;
}
.third-fold .head {
	padding-top: 30px;
	padding-bottom: 30px;
}
.third-fold h2.dark {
	color: white;
}
.third-fold .spacer h3 {
	font-size: 30px;
	font-weight: 700;
}
.testi-image i {
	color: #1ABC9C;
}
.testi-meta {
	color: #1ABC9C;
}
.blue-bg{
	background:#1ABC9C;
}
.white-bg{
	background:#ffffff;
}
.white-transparent-bg {
	background: rgba(255,255,255,0.95);
}
.heat-bg{
	background: url('images/lantern.jpg');
	background-size: 100%;
	background-attachment: fixed;
	min-height: 869px;
}
.spacer {
	padding-top: 30px;
	padding-bottom: 30px;
}
.heat-box {
	
	-webkit-box-shadow: 0 2px 10px 0px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 2px 10px 0px rgba(0,0,0,0.8);
	-o-box-shadow: 0 2px 10px 0px rgba(0,0,0,0.8);
	box-shadow: 0 2px 10px 0px rgba(0,0,0,0.8); 
}
.yellow-btn{
	padding: 15px 26px;
    font-size: 18px;
	text-transform:uppercase;
	display:inline-block;
	font-weight:bold;
	color:#fff;
	background:#ffc000;
	line-height:1.2;
}
.green-btn{
	padding: 15px 26px;
    font-size: 18px;
    border-radius: 3px;
	text-transform:uppercase;
	display:inline-block;
	font-weight:bold;
	color:#fff;
	background:#E82121;
	line-height:1.2;
	border: 1px solid #9E1212;
	line-height:1.2;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.green-btn:hover{
	background:#1ABC9C;
	border: 1px solid #0D987C;
	color: white;
}
.heatmapbox {
	margin-left: -15px 
}
.covered {
	padding-top: 10px;
	padding-bottom: 40px;
}
.fixedbottompadding {
	padding-bottom: 35px;
}
.conceptheat {
	border-left: solid 2px #eaeaea;
	padding-bottom: 74px;
}
.conceptheat p {
	font-size: 1.2em;
	color: black;
	font-weight: 200;
}
.conceptheat h4.gap {
	font-size: 22px;
	margin-bottom: 30px;
}
#resolve {
	padding: 50px 0 80px 0;
	margin-top: -50px;
	background: url('images/clear.jpg') -167px -100px;
    background-size: 112%;
	min-height: 450px;
}
#login-register .tabs {
	padding: 30px 0 50px 0;
}
.team-content p {
    display: none;
}
.resources-box .team-content p {
	display: inherit;
}
.resources-box .team.team-list .team-image {
    overflow: inherit;
    max-height: 350px;
    border: 1px solid rgba(78, 65, 65, 0.4);
}
.resources-box .resource-cta {
	margin-top: 30px;
}
.jee {
	margin-top: 60px;
}
.team.team-list .team-image {
    max-height: 250px;
    overflow: hidden;
}
.team .team-desc .social-icon {
    display: none;
}
@media (max-width: 991px){
	#resolve {
		background: url('images/clear.jpg') -567px -100px;
    	background-size: 212%;

	}
	.skills li .progress-percent {
		display: none;
	}
}
@media (max-width: 600px){
	#resolve {
		background: url('images/clear.jpg') -867px -100px;
    	background-size: 642%;

	}
}
@media (max-width: 1199px){
	.heat-bg {
		min-height: 960px;
	}
}
#resolve .headings h4 {
	font-weight: 300;
	font-size: 19px;
	color: #333231;
	margin-bottom: 80px;
}
#resolve .headings h1 {
	margin-top: 40px;
	color: #333231;
}
span.premium {
	color: #FF4B4B;
}
.ctabtns .custCtabox{
	width: 250px;
	min-height: 276px;
	padding: 10px 0 0 0px;
	position: relative;
	border: 1px solid #5F5F5F;
	
}
.ctabtns .custCtabox .start-button { 
	width: 100%;
	border: none;
	position: absolute;
	bottom: 0;
	left:0;
	font-weight: 800;
	text-shadow: none;
	color: black;
	background:#1ABC9C;
}
.ctabtns .custCtabox p {
	color: #B7B7B7;
	padding: 0 20px;
}
.ctabtns .custCtabox h4 {
	margin-bottom: 15px;
	padding:0 20px;
}
.ctabtns .custCtabox:hover .start-button { 
	color: white;
	background: #BC321A;
}
.ctabtns i {
	font-size: 3.8em;
}
#section-testimonials h2 {
	text-transform: capitalize;
}
/*===================================================
	Product page
====================================================*/
#products-page .portfolio-1 .portfolio-item .portfolio-image,#products-page  .portfolio-1 .portfolio-item .portfolio-image a, #products-page  .portfolio-1 .portfolio-item .portfolio-image img{
	width:400px;
	height:auto;
}
#products-page .portfolio-1 .portfolio-item{
	padding-bottom:0;
}
#products-page  .portfolio-1 .portfolio-desc{
	width:700px;
	text-align:right;
}
#products-page  .portfolio-1 .portfolio-item.alt .portfolio-desc{
	text-align:left;
}
#products-page  .portfolio-desc h3{
	text-transform:uppercase;
	font-size:25px;
}
#products-page  .portfolio-desc  p{
	font-size:18px;
}

/* Custom CSS for website Homepage
Added by: Arjun
*/
.tab-container .scoregister{
	line-height: 4;
}
.tab-container .scoregister h5{
	font-weight: 300;
	font-size: 14px;
}
.tab-container .scologin{
	line-height: 4;
}

.tab-container .scologin h5{
	font-weight: 300;
	font-size: 14px;
}

.widgetarea {
	padding: 160px 0;
}
.single-event .eventwidget{
	position: relative;
    float: left;
    margin-top: 56px;
    margin-right: 50px;
    bottom: 0px;
}
.parallax .entry-overlay.counter {
	position: relative;
	   text-align: left;
    left: -46px;
    top: 14px;

}
#event-countdown .eventcountdown {
	position: relative;
    float: left;
    margin-top: 300px;
    margin-right: 50px;
    bottom: 0px;
}


.promo.promo-dark {
	background-color: rgba(0, 0, 0, 0);
}
.landing-content .content-wrap{
	padding:0;
}
.landing-content .entry-image {
	margin-bottom: 0;
}
.widget {
	margin-top: 0;
}

.eventwidget h4{
    color: #7D7D7D;

}
.eventwidget h3{
    color: #D5D6D5;
}


.btn-block {
	margin-top: 18px;
}


.buttonlg1 a {
    margin-top: -4px;
}

.eventwidget .iconlist {
	margin-top: 33px;
}

.campwdgt .eventwidget{
	width: 986px;
}

.copyright small{
	color: #000;
}

.Bansallog{
	display: block;
    text-align: center;
    width: 200px;
    font-weight: 200;
    opacity: 0.9;
    margin: 17px auto;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sociallogin{
	margin-top: 22px;
	font-weight: 300;
}

.sociallogin h4{
	font-weight: 300;
}

.welcome{
	margin-top: 50px;
}

@media (max-width: 767px){
	.single-event .eventwidget {
		right: 0;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.parallax .entry-overlay.counter {
		text-align: center;
		left:auto;
		right: auto;
	}

}
@media (min-width: 992px){
	.col-md-3 {
		    width: auto;
	}
}
@media (min-width: 1366px){
	.col-md-3 {
		    width: auto;
	}
}