/*-----------------------------------------------------------------------------------

	Theme Name: ConceptOwl
	Description: Custom theme for ConceptOwl
	Author: Gaurav Ganeriwala
	Version: 1.01

-----------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Test Page
-----------------------------------------------------------------*/
::selection {
  background: inherit;
  color: inherit;
  text-shadow: none;
}
/* --------------------------------------
	Q&A Section
----------------------------------------*/
.qa-section{
	width:100%;
	height:100%;
	position:fixed;
	padding-right:290px;
	top:0;
	right:0;
}
.qa-section ul li, .qa-section ul, .qa-section li{
	list-style:none;
}
.qa-section ul{
	display:inline-block;
}
/* -------------------------------
	Q&A header
---------------------------------*/
.qa-header{
	width:100%;
	height:47px;
	position:fixed;
	top:0;
	left:0;
	padding-left:290px;
	z-index:1;
	background:#f3f3f4;
	overflow:hidden;
}
.qa-header .small-logo, .qa-header .menu-icon{
	display:none;
}
.qa-header .subject-tab{
	height:100%;
	float:left;
}
.qa-header .subject-btn{
	width:170px;
	height:100%;
	float:left;
	font-size:18px;
	background:#a3e1d4;
	padding:0 20px;
	line-height:47px;
	text-align:center;
	color:#fff;
	cursor:pointer;
}
.qa-header .subject-btn .small{
	display:none;
}
.qa-header .subject-btn:nth-child(2){
	border-left:solid 1px #fff;
	border-right:solid 1px #fff;
}
.qa-header .subject-btn:hover, .qa-header .subject-btn.active{
	background:#1ab394;
}
.qa-header .qa-submit{
	width:290px;
	height:100%;
	float:right;
	font-size:18px;
	border-radius:0;
	padding:0 20px;
	line-height:47px;
	text-align:center;
	color:#fff;
	background:#ff9447;
	text-transform:uppercase;
	cursor:pointer;
}
.qa-header .qa-submit:hover{
	background:#ffb347;
}
.qa-header .qa-submit img{
	display:none;
}
.qa-timer{
	float:right;
	font-size:18px;
	line-height:47px;
	color:#2f4050;
	margin-right:30px;
}
/* -------------------------------
	Q&A Main Container
---------------------------------*/
.qa-main-container{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	right:0;
	padding-left:290px;
	padding:47px 0;
}
/* -------------------------------
	Q&A Control Nav
---------------------------------*/
.qa-control-nav{
	width:40px;
	height:100%;
	position:relative;
	margin-left:290px;
	background:#f3f3f4;
	color:#2f4050;
}
.prev-set, .next-set{
	width:100%;
	height:40px;
	position:absolute;
	left:0;
	font-size:30px;
	line-height: 40px;
	text-align:center;
	cursor:pointer;
}
.prev-set:hover, .next-set:hover{
	background:#2f4050;
	color:#f3f3f4;
}
.prev-set{
	top:0;
	border-bottom:solid 1px #fff;
}
.next-set{
	bottom:0;
	border-top:solid 1px #fff;
}
.prev-set [class^="icon-"], .next-set [class^="icon-"]{
	width: 100%;
	height: 100%;
	line-height: inherit;
	margin:0;
}
.question-list{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	padding:40px 0;
}
.question-list-pane{
	width:100%;
	height:100%;
	overflow:hidden;
}
.question-list-slides{
	width:100% !important;
	height:100%;
	overflow:hidden;
}
.question-list a{
	width:40px !important;
	height:40px;
	display:block;
	line-height:40px;
	text-align:center;
	color:#2f4050;
	cursor:pointer;
	border-bottom:solid 1px #fff;
	position:relative;
}
.question-list a:hover, .question-list a.active{
	background:#2f4050 !important;
	color:#fff;
}
.question-list a span{
	width:100%;
	height:100%;
	display:block;
}
.question-list a.answered{
	border-left:solid 5px green;
	border-right:solid 5px transparent;
}
.question-list a.skipped{
	border-left:solid 5px red;
	border-right:solid 5px transparent;
}
.question-list a .bm{
	position:absolute;
	top:0;
	right:1px;
	font-size:10px;
	line-height:10px;
	text-align:left;
	display:none;
}
.question-list a.bookmarked .bm{
	display:block;
}
.flex-direction-nav{
	position:fixed;
	top:-9999px;
	left:-9999px;
}
/* -------------------------------
	Q&A Container
---------------------------------*/
.qa-container{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	padding:47px 0 47px 330px;
}
.qa-scroll-pane{
	width:100%;
	height:100%;
	position:relative;
	overflow-y:scroll;
}
.qa-scroll-pane th, .qa-scroll-pane td{
	padding:10px;
}
.qa-scroll-pane img{
	width:auto !important;
	height:auto !important;
}
/* -------Current Question Count--------*/
.current-question-bar{
	width:100%;
	height:40px;
	float:left;
	position:relative;
}
.question-count{
	width:100%;
	float:left;
	padding:0 30px;
	position:relative;
	margin:0;
	line-height:40px !important;
}
.current-count{
	font-size:1.2em;
	font-weight:bold;
	color:#2f4050;
}
.current-count span{
	display:none;
}
.qa-functions{
	font-size:1.2em;
	font-weight:bold;
	color:#444;
	cursor:pointer;
}
.qa-bookmark, .qa-notes, .qa-report{
	width:40px;
	height:40px;
	position:relative;
	display:inline-block;
}
.qa-report:hover{
	background:#f0f0f0;
	color:maroon;
}
.qa-bookmark.active{
	background:#999;
	color:#ffee7c;
}
.qa-bookmark:hover, .qa-notes:hover{
	background:#f0f0f0;
	color:green;
}
/* ---------Question--------*/
.qa-question{
	width:100%;
	float:left;
	font-weight:bold;
	padding:30px 30px 0;
	border-bottom:solid 1px #ddd;
	position:relative;
}
.qa-question-content{
	max-width:600px;
	float:left;
}
.qa-question p{
	width:100%;
	float:left;
}
/* ---------Answer--------*/
.qa-answers{
	width:100%;
	float:left;
	position:relative;
}
.qa-answer-option{
	width:100%;
	min-height:30px;
	float:left;
	position:relative;
	padding:30px 60px;
	cursor:pointer;
	border-left:solid 1px #ddd;
	border-right:solid 1px #ddd;
	border-bottom:solid 1px #ddd;
	border-top:0;
}
.qa-answer-option.active{
	border-bottom:solid 1px #fff;
}
.qa-answers-form{
	width:100%;
	float:left;
	margin-bottom: 0;
}
.qa-checkbox{
	position:absolute;
	top:-9999px;
	left:-9999px;
}
.qa-a-overlay{
	height:100%;
	width:100%;
	position:absolute;
	opacity:0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	-moz-opacity: 0.1;
	-khtml-opacity: 0.1;
	top:0;
	left:0;
	display:none;
}
.qa-answer-option:hover .qa-a-overlay{
	background:#666;
	display:block;
}
.qa-answer-option.active .qa-a-overlay{
	background:#40C0CB;
	display:block;
	opacity:0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
}
.qa-option-number{
	width:30px;
	height:30px;
	position:absolute;
	top:30px;
	left:60px;
	font-weight:bold;
	line-height:30px;
	text-align:center;
	background-color:#2f4050;
	color:#fff;
	border-radius:100px;
}
.qa-answer-content{
	max-width:600px;
	float:left;
	padding-left:80px;
}
.qa-answer-content p{
	width:100%;
	float:left;
	line-height:30px !important;
}
.qa-answer-content p:last-child{
	margin:0;
}
.qa-answer-block{
	width:100%;
	padding:30px;
}
.qa-answer-block input{
	padding:10px;
}
.qa-answer-accordion{
	width:100%;
}
.qa-answer-accordion-title{
	width:100%;
	padding:10px;
	color:#1ab394;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
	border:solid 1px #ddd;
	border-radius:5px 5px 0 0;
}
.qa-answer-accordion-solution{
	width:100%;
	padding:10px;
	border:solid 1px #ddd;
	border-top:none;
	border-radius:0 0 5px 5px;
	display:none;
}
.qa-answer-matrix th{
	padding:10px 30px;
}
.qa-answer-matrix td{
	padding:10px 20px;
	border:solid 1px #ddd;
	cursor:pointer;
}
.qa-answer-matrix td.active, .qa-answer-matrix td.active:hover{
	background-color:#c6ecef;
	border-color:#fff;
}
.qa-answer-matrix td:hover{
	background-color:#f0f0f0;
}
.qa-answer-matrix td:nth-child(2).active{
	border-left:solid 1px #ddd;
}
.qa-answer-matrix td:last-child.active{
	border-right:solid 1px #ddd;
}
.qa-answer-matrix tr:first-child td.active{
	border-top:solid 1px #ddd;
}
.qa-answer-matrix tr:last-child td.active{
	border-bottom:solid 1px #ddd;
}
/* -------------------------------
	Q&A Footer
---------------------------------*/
.qa-footer{
	width:100%;
	height:47px;
	position:fixed;
	bottom:0;
	left:0;
	padding-left:290px;
	z-index:1;
	background:#293846;
	font-size:18px;
	color:#fff;
	line-height:47px;
}
.qa-prev-question, .qa-next-question{
	width:290px;
	height:47px;
	line-height:47px;
	padding:0;
	position:absolute;
	top:0;
	text-align:center;
	background:#293846 ;
	border:solid 1px #293846 ;
	border-radius:0;
	text-transform:uppercase;
	
}
.qa-prev-question span, .qa-next-question span{
	font-size:15px;
}
.qa-prev-question:hover, .qa-next-question:hover, .qa-next-question:active, .qa-next-question:focus:hover{
	background:#2f4050;
	border:solid 1px #2f4050 ;
}
.qa-next-question:focus{
	background:#2f4050 ;
	border:solid 1px #2f4050 ;
}
.qa-prev-question{
	left:290px;
	border-right-color:#2f4050;
}
.qa-next-question{
	right:0;
	border-left-color: #2f4050;
}
/* --------------------------------------
	Sidebar Section
----------------------------------------*/
.qa-sidebar{
	width:290px;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	display:block;
	border-right:solid 1px #fff;
	background:#293846;
	color:#fff;
	z-index:10;
}
.qa-sidebar .sidebar-close, .qa-sidebar .sidebar-logo{
	display:none;
}
.sidebar-container{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	padding-top:47px;
	z-index:0;
}
.sidebar-scroll-pane{
	width:100%;
	height:100%;
	float:left;
	position:relative;
	overflow-y:auto;
}
/* -------------------------------
	Logo
---------------------------------*/
.qa-sidebar #test-logo {
	width:100%;
	height:47px;
	background:#fff;
	z-index:999;
	position:relative;
}
.qa-sidebar  #test-logo a{
	width:100%;
	height:100%;
	display:block;
}
.qa-sidebar #test-logo img{
	height:100%;
	margin:0 auto;
	padding:10px 0;
	display:block;
}


/* -------------------------------
	Stats and Filter
---------------------------------*/
.qa-stats, .qa-filter{
	width:100%;
	float:left;
	margin:30px 0 60px;
	padding:0 30px 10px;
	background:#2f4050;
}
.qa-sidebar .title{
	line-height:40px;
	font-size:18px;
	border-bottom:solid 1px #Fff;
	margin-bottom:10px;
}
.qa-sidebar p{
	width:100%;
	float:left;
	line-height:20px;
	margin:0;
}
.qa-sidebar .left{
	float:left;
}
.qa-sidebar .right{
	float:right;
}
.qa-sidebar .filter-answered{
	color:green;
}
.qa-sidebar .filter-skipped{
	color:red;
}
.qa-sidebar .filter-bookmarked{
	color:#ffee7c;
}
.qa-sidebar input[type="checkbox"]{
	width:15px;
	height:15px;
    margin:0;
    position: relative;
    top: 2px;
    *overflow: hidden;
}

/* -------------------------------
	Popup
---------------------------------*/
.popup-close{
	width:40px;
	height:40px;
	position:absolute;
	top:0;
	right:0;
	font-size:20px;
	color:#fff;
	line-height:40px;
	text-align:center;
	cursor:pointer;
}
.popup-close:hover{
	color:#eee;
}
.submit-popup-container, .report-popup-container{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	background-color:rgba(0,0,0,0.3);
	display:none;
}
.submit-popup-container.active, .report-popup-container.active{
	display:block;
}
.submit-popup, .report-popup{
	background-color:#2f4050;
	color:#fff;
}
.submit-popup-content, .report-popup-content{
	padding:40px;
}
.submit-popup-buttons .btn, .report-popup-buttons .btn{
	width:100%;
	background:#53a0ff;
	border:solid 1px #53a0ff;
	border-radius:0;
	text-transform:uppercase;
	border:solid 1px #478bdf;
}
.submit-popup-buttons .btn:hover, .report-popup-buttons .btn:hover{
	background:#478bdf;
	border:solid 1px #478bdf;
}

/* -------------------------------
	Submit Popup
---------------------------------*/
.submit-popup-content{
	font-size:20px;
}
.submit-popup-content p{
	margin-bottom:10px;
}

/* -------------------------------
	Report Popup
---------------------------------*/
.report-popup-content{
	font-size:15px;
}
.report-popup-content p{
	margin-bottom:10px;
}
.report-popup-content textarea{
	width:100%;
	height:150px;
	resize:none;
	color:#444;
	padding:5px;
}


/* ----------------------------------------------------------------
	Responsive styles
-----------------------------------------------------------------*/
@media (max-width: 1200px){
	.qa-prev-question, .qa-next-question, .qa-header .qa-submit{
		width:200px;
	}
}
@media (max-width: 1130px){
	.qa-header .subject-btn{
		width:auto;
	}
	.qa-header .qa-submit{
		width:auto;
	}
}
@media (max-width: 991px){
	.qa-section{
		padding:0;
	}
	.qa-header{
		padding:0;
		border-bottom:solid 1px #ddd;
	}
	.qa-header .menu-icon{
		width:40px;
		height:47px;
		float:left;
		font-size:25px;
		line-height:47px;
		text-align:center;
		background:#293846;
		color:#fff;
		display:inline-block;
		cursor:pointer;
	}
	.qa-header .menu-icon:hover{
		background:#2f4050;
	}
	.qa-header .small-logo{
		position:absolute;
		width:47px;
		height:47px;
		top:0;
		left:50%;
		margin-left:-23.5px;
		display:none;
	}
	.qa-header .small-logo img{
		height:100%;
		padding:3px 0;
	}
	.qa-header .subject-btn .big{
		display:none;
	}
	.qa-header .subject-btn .small{
		display:block;
	}
	.qa-header .qa-submit{
		width:auto;
		padding:0;
	}
	.qa-header .qa-submit img{
		float:left;
		display:block;
		height:80%;
		width:auto;
		margin-top:10%;
		padding:0 10px;
	}
	.qa-header .qa-submit span{
		display:none;
	}
	.qa-timer{
		font-size:12px;
	}
	/* -------------------------------
		Q&A Main Container
	---------------------------------*/
	.qa-main-container{
		width:100%;
		height:100%;
		position:fixed;
		top:0;
		right:0;
		padding-left:0;
		padding:47px 0;
	}
	/* -------------------------------
		Q&A Control Nav
	---------------------------------*/
	.qa-control-nav{
		margin-left:0;
	}
	/* -------------------------------
		Q&A Container
	---------------------------------*/
	.qa-container{
		padding:47px 0 47px 40px;
	}
	/* -------Current Question Count--------*/
	.question-count{
		padding:10px;
		border-bottom:solid 1px #ddd;
	}
	.current-count{
		font-size:0.8em;
		font-weight:bold;
		color:#2f4050;
	}
	.current-count span{
	display:inline-block;
}
	.qa-functions {
		font-size:0.8em;
	}
	/* ---------Question--------*/
	.qa-question-content{
		padding-top:30px;
	}
	/* ---------Answer--------*/
	.qa-answer-option{
		padding:30px 30px;
	}
	.qa-option-number{
		left:30px;
	}
	.qa-answer-content{
		padding-left:40px;
	}
	.qa-answer-matrix th{
	padding:10px 30px 10px 0;
}
	
	/* -------------------------------
		Q&A Footer
	---------------------------------*/
	.qa-footer{
		padding-left:0;
	}
	.qa-prev-question, .qa-next-question{
		width:50%;
	}
	.qa-prev-question span, .qa-next-question span{
		display:none;
	}
	.qa-prev-question{
		left:0;
	}
	.qa-next-question{
		right:0;
	}
	/* --------------------------------------
		Sidebar Section
	----------------------------------------*/
	.qa-sidebar{
		margin-left:-500px;
	}
	.qa-sidebar .sidebar-close, .qa-sidebar .sidebar-logo{
		width:47px;
		height:47px;
		font-size:25px;
		line-height:47px;
		text-align:center;
		background:#293846;
		color:#fff;
		position:absolute;
		top:0;
		left:0;
		cursor:pointer;
		z-index:9999;
		display:block;
	}
	.qa-sidebar .sidebar-logo{
		right:-23.5px;
		margin-right:50%;
		left:auto;
		background:#fff;
		border-radius:50px;
	}
	.qa-sidebar .sidebar-logo img{
		height:auto;
		width:100%;
		position:relative;
	}
	.sidebar-container{
		padding-top:0;
	}
	.sidebar-scroll-pane{
		padding-top:47px;
	}
	/* -------------------------------
		Logo
	---------------------------------*/
	.qa-sidebar #test-logo {
		display:none;
	}
}
@media (max-width: 768px){
	.submit-popup-container, .report-popup-container{
		padding:0 5%
	}	
}