/*-----------------------------------------------------------------------------------

    Theme Name: ConceptOwl
    Description: Custom theme for ConceptOwl
    Author: Gaurav Ganeriwala
    Version: 1

-----------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------
    Test Page
-----------------------------------------------------------------*/
.iconCheck{
    color: #1AB394 !important;
}
.iconCross{
    color: red !important;
}
::selection {
    background: inherit;
    color: inherit;
    text-shadow: none;
}

.subjective-title {
    padding: 10px;
    color: #1ab394;
    font-weight: bold;
    border: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.subjective-solution {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
}

.question_type {
    margin-bottom: 10px;
    margin-top: 5px;
    font-style: italic;
    color: gray;
    font-size: 10px;
}

.matrix-box {
    background: #86E2D5 !important;
}

.exit_icon {
    display: none;
}

.small {
    display: none;
}

.exit {
    height: 100%;
    text-align: center;
    padding: 9px;
    background: #ff9447 !important;
    border: none !important;
    cursor: pointer;
}

.exit:hover {
    background: #ffb347 !important;
}

.exit1 {
    height: 100%;
    text-align: center;
    padding: 9px;
    background: #53A0FF !important;
    border: none !important;
    cursor: pointer;
}

.exit1:hover {
    background: #478BDF !important;
}

.exit_text {
    font-size: 18px;
    color: white;
}


/* --------------------------------------
    Q&A Section
----------------------------------------*/

.qa-section {
    width: 100%;
    height: 100%;
    position: fixed;
    padding-right: 290px;
    top: 0;
    right: 0;
}

.qa-section ul li,
.qa-section ul,
.qa-section li {
    list-style: none;
}

.qa-section ul {
    display: inline-block;
}


/* -------------------------------
    Q&A header
---------------------------------*/

.qa-header {
    width: 100%;
    height: 47px;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 290px;
    z-index: 1;
    background: #f3f3f4;
    overflow: hidden;
}

.qa-header .small-logo,
.qa-header .menu-icon {
    display: none;
}

.qa-header .subject-btn {
    width: 170px;
    height: 100%;
    float: left;
    background: #a3e1d4;
    border-radius: 0;
    border: none;
}

.qa-header .subject-btn:nth-child(2) {
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
}

.qa-header .subject-btn:hover,
.qa-header .subject-btn.active {
    background: #1ab394;
    border: solid 1px #10997d;
}

.qa-header .qa-submit {
    width: 290px;
    float: right;
    border-radius: 0;
    background: #53a0ff;
    text-transform: uppercase;
    border: solid 1px #53a0ff;
}

.qa-header .qa-submit:hover {
    background: #478bdf;
    border: solid 1px #478bdf;
}

.qa-header .qa-submit i {
    display: none;
}

.qa-timer {
    float: right;
    font-size: 18px;
    line-height: 47px;
    color: #2f4050;
    margin-right: 30px;
}


/* -------------------------------
    Q&A Main Container
---------------------------------*/

.qa-main-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 290px;
    padding: 47px 0;
}


/* -------------------------------
    Q&A Control Nav
---------------------------------*/

.qa-control-nav {
    width: 40px;
    height: 100%;
    position: relative;
    margin-left: 290px;
    background: #f3f3f4;
    color: #2f4050;
}

.prev-set,
.next-set {
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background: #f3f3f4;
}

.prev-set:hover,
.next-set:hover {
    background: #2f4050;
    color: #f3f3f4;
}

.prev-set {
    top: 0;
    border-bottom: solid 1px #fff;
}

.next-set {
    bottom: 0;
    border-top: solid 1px #fff;
}

.prev-set [class^="icon-"],
.next-set [class^="icon-"] {
    width: 100%;
    height: 100%;
    line-height: inherit;
    margin: 0;
}

.question-list {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 0;
}

.question-list-pane {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.question-list-slides {
    width: 100% !important;
    height: 100%;
    overflow: hidden;
}

.question-list a {
    width: 40px !important;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    color: #2f4050;
    cursor: pointer;
    border-bottom: solid 1px #fff;
    position: relative;
}

.question-list a:hover,
.question-list a.active {
    background: #2f4050 !important;
    color: #fff;
}

.question-list a span {
    width: 100%;
    height: 100%;
    display: block;
}

.question-list a.answered {
    border-left: solid 5px green;
    border-right: solid 5px transparent;
}

.question-list a.skipped {
    border-left: solid 5px red;
    border-right: solid 5px transparent;
}

.question-list a .bm {
    position: absolute;
    top: 0;
    right: 1px;
    font-size: 10px;
    line-height: 10px;
    text-align: left;
    display: none;
}

.question-list a.bookmarked .bm {
    display: block;
}

.flex-direction-nav {
    position: fixed;
    top: -9999px;
    left: -9999px;
}


/* -------------------------------
    Q&A Container
---------------------------------*/

.qa-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 47px 0 47px 330px;
}

.qa-scroll-pane {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
}

.qa-scroll-pane th,
.qa-scroll-pane td {
    padding: 10px;
}

.qa-scroll-pane img {
    width: auto !important;
    height: auto !important;
}


/* -------Current Question Count--------*/

.current-question-bar {
    width: 100%;
    height: 40px;
    float: left;
    position: relative;
}

.question-count {
    width: 100%;
    float: left;
    padding: 0 30px;
    position: relative;
    margin: 0;
}

.current-count {
    font-size: 1.2em;
    font-weight: bold;
    color: #2f4050;
}

.current-count span {
    display: none;
}

.qa-functions {
    font-size: 1.2em;
    font-weight: bold;
    color: #444;
    cursor: pointer;
}

.qa-bookmark,
.qa-notes,
.qa-report {
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
}

.qa-report:hover {
    background: #f0f0f0;
    color: maroon;
}

.qa-bookmark.active {
    background: #999;
    color: #ffee7c;
}

.qa-bookmark:hover,
.qa-notes:hover {
    background: #f0f0f0;
    color: green;
}


/* ---------Question--------*/

.qa-question {
    width: 100%;
    float: left;
    font-weight: bold;
    padding: 30px 30px 0;
    border-bottom: solid 1px #ddd;
    position: relative;
}

.qa-question-content {
    max-width: 600px;
    float: left;
}

.qa-question p {
    width: 100%;
    float: left;
}

.qa-hints {
    position: absolute !important;
    bottom: 10px !important;
    right: 10px !important;
    z-index: 2 !important;
}


/* ---------Answer--------*/

.qa-answers {
    width: 100%;
    float: left;
    position: relative;
}

.qa-answer-option {
    width: 100%;
    min-height: 30px;
    float: left;
    position: relative;
    padding: 30px 60px;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    border-top: 0;
}

.test2 {
    padding: 30px 65px !important;
}

.qa-answer-option.active {
    border-bottom: solid 1px #fff;
}

.qa-answers-form {
    width: 100%;
    float: left;
    margin-bottom: 0;
}

.qa-checkbox {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.qa-a-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    top: 0;
    left: 0;
    display: none;
}

.qa-answer-option.correct .qa-a-overlay {
    background: green;
    display: block;
}

.qa-answer-option.incorrect .qa-a-overlay {
    background: maroon;
    display: block;
}

.qa-answers .icon-line-check,
.qa-answers .icon-line-cross {
    position: absolute;
    opacity: 0;
    top: 10px;
    left: 10px;
    font-size: 15px;
}

.qa-answer-option.correct.answered .icon-line-check {
    color: green;
    opacity: 1;
}

.qa-answer-option.incorrect.answered .icon-line-cross {
    color: maroon;
    opacity: 1;
}

.qa-option-number {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    left: 60px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    background-color: #2f4050;
    color: #fff;
    border-radius: 100px;
}

.qa-answer-content {
    max-width: 600px;
    float: left;
    padding-left: 80px;
}

.test1 {
    padding-left: 65px !important;
}

.qa-answer-content img {
    float: none !important;
}

.qa-answer-content p {
    width: 100%;
    line-height: 30px !important;
}

.qa-answer-content p:last-child {
    margin: 0;
}

.qa-solution {
    width: 100%;
}

.qa-solution label {
    color: #1ab394;
}

.qa-answer-block {
    width: 100%;
    padding: 30px;
}

.qa-answer-block label.correct {
    color: #1ab394;
}

.qa-answer-block label.incorrect {
    color: #e60026;
}

.qa-answer-block .answer-incorrect,
.qa-answer-block .answer-correct {
    display: inline-block;
    margin-right: 40px;
}

.qa-answer-block input {
    padding: 10px;
}

.qa-answer-matrix th {
    padding: 10px 30px;
}

.qa-answer-matrix td {
    padding: 10px 20px;
    border: solid 1px #ddd;
    cursor: default;
}

.qa-answer-matrix td.correct,
.qa-answer-matrix td.incorrect {
    border-color: #fff;
}

.qa-answer-matrix td.correct {
    background-color: #e7f3e7;
}

.qa-answer-matrix td.incorrect {
    background-color: #f2e6e6;
}

.qa-answer-matrix td:nth-child(2).correct,
.qa-answer-matrix td:nth-child(2).incorrect {
    border-left: solid 1px #ddd;
}

.qa-answer-matrix td:last-child.correct,
.qa-answer-matrix td:nth-child(2).incorrect {
    border-right: solid 1px #ddd;
}

.qa-answer-matrix tr:first-child td.correct,
.qa-answer-matrix td:nth-child(2).incorrect {
    border-top: solid 1px #ddd;
}

.qa-answer-matrix tr:last-child td.correct,
.qa-answer-matrix td:nth-child(2).incorrect {
    border-bottom: solid 1px #ddd;
}


/* -------------------------------
    Q&A Footer
---------------------------------*/

.qa-footer {
    width: 100%;
    height: 47px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 290px;
    z-index: 1;
    background: #293846;
    font-size: 18px;
    color: #fff;
    line-height: 47px;
}

.qa-prev-question,
.qa-next-question {
    width: 290px;
    height: 47px;
    line-height: 47px;
    padding: 0;
    position: absolute;
    top: 0;
    text-align: center;
    background: #293846;
    border: solid 1px #293846;
    border-radius: 0;
    text-transform: uppercase;
}

.qa-prev-question span,
.qa-next-question span {
    font-size: 15px;
}

.qa-prev-question:hover,
.qa-next-question:hover,
.qa-next-question:active,
.qa-next-question:focus:hover {
    background: #2f4050;
    border: solid 1px #2f4050;
}

.qa-next-question:focus {
    background: #2f4050;
    border: solid 1px #2f4050;
}

.qa-prev-question {
    left: 290px;
    border-right-color: #2f4050;
}

.qa-next-question {
    right: 0;
    border-left-color: #2f4050;
}

.qa-submit-answer {
    height: 50px;
    background: #53a0ff;
    border: solid 1px #53a0ff;
    border-radius: 0;
}

.qa-submit-answer:hover {
    background: #53a0ff;
    border: solid 1px #53a0ff;
}


/* --------------------------------------
    Sidebar Section
----------------------------------------*/

.qa-sidebar {
    width: 290px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    border-right: solid 1px #fff;
    background: #293846;
    color: #fff;
    z-index: 10;
}

.qa-sidebar .sidebar-close {
    display: none;
}

.sidebar-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 47px;
    z-index: 0;
}

.sidebar-scroll-pane {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    overflow-y: auto;
}


/* -------------------------------
    Logo
---------------------------------*/

.qa-sidebar #test-logo {
    width: 100%;
    height: 47px;
    background: #fff;
    z-index: 999;
}

.qa-sidebar #test-logo a {
    width: 100%;
    height: 100%;
    display: block;
}

.qa-sidebar #test-logo img {
    height: 100%;
    margin: 0 auto;
    padding: 10px 0;
    display: block;
}


/* -------------------------------
    Stats and Filter
---------------------------------*/

.qa-stats,
.qa-filter {
    width: 100%;
    float: left;
    margin: 30px 0 60px;
    padding: 0 30px 10px;
    background: #2f4050;
}

.qa-sidebar .title {
    line-height: 40px;
    font-size: 18px;
    border-bottom: solid 1px #Fff;
    margin-bottom: 10px;
}

.qa-sidebar p {
    width: 100%;
    float: left;
    line-height: 20px;
    margin: 0;
}

.qa-sidebar .left {
    float: left;
}

.qa-sidebar .right {
    float: right;
}

.qa-sidebar .filter-answered {
    color: green;
}

.qa-sidebar .filter-skipped {
    color: red;
}

.qa-sidebar .filter-bookmarked {
    color: #ffee7c;
}

.qa-sidebar input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 0;
    position: relative;
    top: 2px;
    *overflow: hidden;
}


/* -------------------------------
    Popup
---------------------------------*/

.popup-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.popup-close:hover {
    color: #eee;
}

.submit-popup-container,
.report-popup-container,
.hints-popup-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.submit-popup-container.active,
.report-popup-container.active,
.hints-popup-container.active {
    display: block;
}

.submit-popup,
.report-popup,
.hints-popup {
    background-color: #2f4050;
    color: #fff;
}

.submit-popup-content,
.report-popup-content,
.hints-popup-content {
    padding: 40px;
}

.submit-popup-buttons .btn,
.report-popup-buttons .btn {
    width: 100%;
    background: #53a0ff;
    border: solid 1px #53a0ff;
    border-radius: 0;
    text-transform: uppercase;
    border: solid 1px #478bdf;
}

.submit-popup-buttons .btn:hover,
.report-popup-buttons .btn:hover {
    background: #478bdf;
    border: solid 1px #478bdf;
}


/* -------------------------------
    Submit Popup
---------------------------------*/

.submit-popup-content {
    font-size: 20px;
}

.submit-popup-content p {
    margin-bottom: 10px;
}


/* -------------------------------
    Report Popup
---------------------------------*/

.report-popup-content {
    font-size: 15px;
}

.report-popup-content p {
    margin-bottom: 10px;
}

.report-popup-content textarea {
    width: 100%;
    height: 150px;
    resize: none;
    color: #444;
    padding: 5px;
}


/* -------------------------------
    Hints Popup
---------------------------------*/

.hints-popup-content {
    font-size: 15px;
}

.hints-popup-content label {
    color: #fff;
    font-size: 20px;
}

.hints-popup-content p {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: normal;
}


/* ----------------------------------------------------------------
    Responsive styles
-----------------------------------------------------------------*/

@media (min-width: 992px) {
    .question-count {
        line-height: 40px !important;
    }
}

@media (max-width: 1200px) {
    .qa-prev-question,
    .qa-next-question,
    .qa-header .qa-submit {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .end_button {
        width: 100% !important;
    }
}

@media (max-width: 1130px) {
    .qa-header .subject-btn {
        width: auto;
    }
    .qa-header .qa-submit {
        width: auto;
    }
}

@media (max-width: 991px) {
    .question_type {
        margin-bottom: -16px;
        margin-top: 5px;
        font-style: italic;
        color: gray;
        font-size: 10px;
    }
    .exit {
        padding: 0px;
        width: 60px !important;
        border: none !important;
    }
    .exit1 {
        padding: 0px;
        width: 60px !important;
        border: none !important;
    }
    .exit_icon {
        display: block;
        height: 40px;
        margin-top: 3px;
        padding: 2px;
        margin-left: 9px;
    }
    .exit_text {
        display: none;
    }
    .close-side {
        margin-left: -500px !important;
    }
    .tops {
        margin-left: 38px !important;
    }
    .big {
        display: none !important;
    }
    .small {
        display: block !important;
        border: none !important;
    }
    .small-logo {
        display: none !important;
    }
    .qa-section {
        padding: 0;
    }
    .qa-header {
        padding: 0;
        border-bottom: solid 1px #ddd;
    }
    .qa-header .menu-icon {
        width: 40px;
        height: 47px;
        font-size: 25px;
        line-height: 47px;
        text-align: center;
        background: #293846;
        color: #fff;
        display: inline-block;
        cursor: pointer;
        position: absolute;
    }
    .qa-header .menu-icon:hover {
        background: #2f4050;
    }
    .qa-header .small-logo {
        position: absolute;
        width: 47px;
        height: 47px;
        top: 0;
        left: 50%;
        margin-left: -23.5px;
        display: block;
    }
    .qa-header .small-logo img {
        height: 100%;
        padding: 3px 0;
    }
    .qa-header .subject-btn {
        display: block;
        margin-left: 1px !important;
        border: none !important;
    }
    .qa-header .qa-submit {
        width: auto;
    }
    .qa-header .qa-submit i {
        display: block;
    }
    .qa-header .qa-submit span {
        display: none;
    }
    .qa-timer {
        font-size: 12px;
    }
    /* -------------------------------
        Q&A Main Container
    ---------------------------------*/
    .qa-main-container {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        padding-left: 0;
        padding: 47px 0;
    }
    /* -------------------------------
        Q&A Control Nav
    ---------------------------------*/
    .qa-control-nav {
        margin-left: 0;
    }
    /* -------------------------------
        Q&A Container
    ---------------------------------*/
    .qa-container {
        padding: 47px 0 47px 40px;
    }
    /* -------Current Question Count--------*/
    .question-count {
        padding: 10px;
        border-bottom: solid 1px #ddd;
    }
    .current-count {
        font-size: 0.8em;
        font-weight: bold;
        color: #2f4050;
    }
    .current-count span {
        display: inline-block;
    }
    .qa-functions {
        font-size: 0.8em;
    }
    /* ---------Question--------*/
    .qa-question-content {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /* ---------Answer--------*/
    .qa-answer-option {
        padding: 30px 30px;
    }
    .test {
        padding-left: 45px !important;
    }
    .qa-option-number {
        left: 30px;
    }
    .qa-answer-content {
        padding-left: 40px;
    }
    .qa-answer-matrix th {
        padding: 10px 30px 10px 0;
    }
    /* -------------------------------
        Q&A Footer
    ---------------------------------*/
    .qa-footer {
        padding-left: 0;
    }
    .qa-prev-question,
    .qa-next-question {
        width: 25%;
    }
    .qa-prev-question span,
    .qa-next-question span {
        display: none;
    }
    .qa-prev-question {
        left: 0;
    }
    .qa-next-question {
        right: 0;
    }
    .qa-submit-answer {
        width: 50%;
    }
    /* --------------------------------------
        Sidebar Section
    ----------------------------------------*/
    .qa-sidebar {
        margin-left: -500px;
    }
    .qa-sidebar .sidebar-close {
        width: 47px;
        height: 47px;
        font-size: 25px;
        line-height: 47px;
        text-align: center;
        background: #293846;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        z-index: 9999;
        display: block;
    }
    .sidebar-container {
        padding-top: 0;
    }
    .sidebar-scroll-pane {
        padding-top: 47px;
    }
    /* -------------------------------
        Logo
    ---------------------------------*/
    .qa-sidebar #test-logo {
        display: none;
    }
}
