.logo {
    width: 220px;
    height: 62px;
    display: block;
    background: #fff;
}

.practice_attended {
    background: #2ecc71 !important;
}

.practice_notattended {
    background: #bbbbbb;
}

.nav-header {
    padding: 33px 25px;
}

.dashboard-heading {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
}

.note-editor {
    min-height: auto !important;
    height: auto !important;
}

textarea {
    border: solid 1px #ddd;
    height: 200px !important;
    resize: none;
}

#page-wrapper {
    min-width: 350px;
}

.explain-box {
    margin-bottom: 30px;
}

.explain-box span {
    font-weight: 400;
    line-height: 1.5em;
}

.metismenu {
    height: 100% !important;
}

li:before {
    color: white;
}

@media (min-width: 991px) {
    .topic-name {
        display: block !important;
        font-size: 15px !important;
        float: left !important;
        padding-right: 11px !important;
    }
    .problem-set {
        background: white;
        border: 3px solid #375684;
        height: 200px;
    }
}

@media (max-width: 1462px) {
    .payment {
        max-width: 60%;
        margin: auto;
    }
}

@media (min-width: 1462px) {
    .payment {
        max-width: 50%;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .scorediv {
        line-height: 50px;
        /*padding-left:0px;*/
    }
    .scoreicon {
        margin-top: 8px;
    }
}

@media (max-width: 1200px) {
    .scorediv {
        text-align: center;
    }
}

@media (min-width: 1700px) {
    .payment {
        max-width: 40%;
        margin: auto;
    }
}

@media (max-width: 991px) {
    .col-md-6.end_button.pay {
        width: 100%;
        padding-left: 0px !important;
        padding-right: 0px !important;
        border: none;
    }
    .btn.pop_para.popup-style-row2-button.pay {
        border: none !important;
    }
    .problem-set {
        background: white;
        border: 3px solid #375684;
        height: 240px !important;
    }
}

@media (min-width:992px) {
    .col-md-6.end_button.pay {
        width: 50% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media (max-width: 600px) {
    .popup-style-container {
        width: 80% !important;
        top: -90px !important;
    }
}


/*===================================================
    Overview
===================================================*/

.overview .disabled {
    background-color: #999 !important;
    color: #fff;
    border-color: #999 !important;
}

.current-test {
    background: #f4f4f4;
    padding: 20px;
    margin-bottom: 30px;
}

.register-now {
    margin-top: 10px;
}

#test-details h4 {
    margin-bottom: 20px;
}


/*===================================================
    Previous Tests
===================================================*/

.previous-tests th,
.previous-tests td {
    width: 25% !important;
    white-space: normal !important;
}

.previous-tests th {
    font-size: 1.2em;
}

.previous-tests th p {
    color: #1ab394;
    font-weight: normal;
    opacity: 0;
}

.previous-tests th:hover p {
    opacity: 1;
}

.previous-tests td.testscore {
    font-size: 1.8em;
}

.previous-tests td a {
    display: block;
    font-size: 0.9em;
    color: #ed5565;
}

.buttonbox {
    margin-top: 50px;
}

.buttonbox a {
    width: 100%;
}

.notattempted {
    color: #E20000;
    font-weight: 600;
}


/*===================================================
    Upcoming Tests
===================================================*/

.upcoming-tests .disabled {
    color: inherit;
    cursor: initial;
}

.testname {
    font-size: 1.2em;
    font-weight: 600;
}

.serial {
    width: 50px;
}

.date-box {
    width: 150px;
}

.register-box {
    width: 100px;
}

.notice {
    border: 1px solid #e2e2e2;
    padding: 20px 0;
}

.notice .testarea {
    font-size: 1.2em;
    padding-left: 30px;
}

.notice .testarea a {
    font-weight: 600;
}

.notice .register-container {
    text-align: center;
}

.notice .register-container .timer {
    margin-bottom: 10px;
}


/*===================================================
    Ask a question
===================================================*/

.ask-a-question form.ask input[type='submit'] {
    margin-top: 30px;
}


/*===================================================
    Concept Heatmap
===================================================*/

.physics,
.chemistry,
.maths {
    margin-bottom: 50px;
    border-bottom: 0 !important;
}

.readiness-map .ibox-title {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    border-bottom: 0;
}

.readiness-map .ibox-title .progress {
    margin-bottom: 0;
    border: 1px solid #d4d4d4;
    background: white;
    border-radius: 0;
    margin-right: 2%;
    width: 100%;
    cursor: pointer;
}

.readiness-map .ibox-title .progress i {
    float: left;
    width: 2%;
    padding-top: 3px;
    text-align: center;
}

.readiness-map .ibox-content {
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    border-top: 0;
    margin: 0 2%;
    width: 96%;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}

.minimum-bar {
    position: absolute;
    top: 0px;
    left: 32%;
    display: none;
}

.average-bar {
    position: absolute;
    top: 0px;
    left: 64%;
    display: none;
}

.outstanding-bar {
    position: absolute;
    top: 0px;
    left: 95.8%;
    display: none;
}

.ibox {
    position: relative;
}

.vert-text {
    margin-top: 56px;
    margin-left: -109%;
    color: #9a9a9a;
    font-weight: 600;
    z-index: 100;
    position: relative;
}

.vert-bar {
    margin-top: -15px;
    border-left: 1px solid #525050;
    height: 58px;
    position: relative;
    z-index: 10;
    transition-duration: 0.3s;
}

.vert-bar.long {
    height: 188px;
}

.chapter h5 {
    margin-left: 10px;
}

.ibox-title .progress .scoreboard {
    bottom: 2px;
    display: inherit;
}

.progress .scoreboard {
    position: absolute;
    height: 50px;
    bottom: -6px;
    overflow: visible;
    display: none;
}

.progress .scoreboard .card {
    width: 55px;
    background: #19b495;
    height: 20px;
    padding: 0 5px;
    color: white;
    border-radius: 3px;
    margin-left: -7px;
}

.progress .scoreboard .card.ghost {
    background: #dcecfb;
    color: black;
}

.progress .scoreboard .card:before {
    top: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #19b495;
    border-width: 4px;
    left: 50%;
    margin-left: -14px;
}

.progress .scoreboard .card.ghost:before {
    border-top-color: #dcecfb;
}

.heatmap-subject {
    padding-bottom: 15px;
    position: relative;
}

.physics .progress-bar-success {
    background-color: #0f5974;
    position: relative;
    z-index: 102;
}

.physics .progress-bar-warning {
    background-color: #dddddd;
    position: relative;
    z-index: 102;
}

.progress-bar-ghost {
    background-color: #dcecfb;
    position: relative;
    z-index: 102;
}

.progress-bar-ghost.start {
    width: 0;
    transition-delay: 1.5s;
    transition-duration: 5s;
}

.progress-bar-ghost.end {
    width: 96%;
}

.scoreboard.score-start {
    left: 3%;
    transition-delay: 1.5s;
    transition-duration: 5s;
}

.scoreboard.score-end {
    left: 96%;
}

.chemistry .progress-bar-success {
    background-color: #4F94CD;
}

.chemistry .progress-bar-warning {
    background-color: #A7D3F8;
}

.maths .progress-bar-success {
    background-color: #353849;
}

.maths .progress-bar-warning {
    background-color: #82919E;
}

.subject-name {
    margin-bottom: 34px;
}

.subject-notification {
    position: absolute;
    top: 32px;
    left: 62%;
    display: block;
    z-index: 999;
}

.chapter-notification {
    position: absolute;
    top: -13px;
    left: 0;
    display: block;
    z-index: 999;
}

.alert-increased {
    color: #fff;
    background: #1abc9c;
    border-color: #1abc9c;
}

.alert-decreased {
    color: #fff;
    background: #f8ac59;
    border-color: #f8ac59;
}

.subject-notification .alert,
.chapter-notification .alert {
    padding: 5px 30px 5px 10px;
    margin: 0;
    min-width: 230px;
}

.subject-notification .close,
.chapter-notification .close {
    font-size: 10px;
    line-height: 21px;
    opacity: 1;
    color: #444;
    text-shadow: none;
}

.heatmap-subject .high {
    color: #1ab394;
}

.heatmap-subject .med {
    color: #f0ad4e;
}

.heatmap-subject .low {
    color: #cc0000;
}

.heatmap-subject .progress {
    height: 20px;
    margin-bottom: 10px;
}

.heatmap-chapters .chapter {
    width: 100%;
    display: block;
    position: relative;
    margin-top: 20px;
}

.heatmap-chapters .progress {
    height: 15px;
    margin-bottom: 10px;
    width: 98%;
    padding-right: 0;
    position: relative;
    overflow: visible;
    border: 1px solid #d4d4d4;
    background: white;
    border-radius: 0;
}

.heatmap-chapters .chapter-practice .btn {
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
    background: #f8ac59;
    padding: 3px 10px;
}

.heatmap-chapters .chapter-practice {
    position: absolute;
    max-width: 75px;
    top: 20px;
    right: 13px;
    background: #fff;
    padding-left: 7px;
}

.heatmap-chapters .dropdown-menu li {
    line-height: 25px;
    text-align: center;
}

#readiness-formula h6 {
    font-size: 18px;
    font-weight: bold;
}


/*===================================================
    Practice session review
===================================================*/

.practice-session-review h5 {
    width: 100%;
    display: block;
}

.practice-session-review .ibox {
    border: solid 1px #ddd;
}

.practice-session-review .ibox table {
    margin-bottom: 0;
}

.practice-session-review .ibox table tr:last-child td {
    text-align: center;
}


/*===================================================
    Special tests
===================================================*/

.special-tests .product-imitation {
    padding: 50px 10px;
}

.filter_data {
    margin: auto;
    right: 0px !important;
    position: absolute;
    left: 265px !important;
    bottom: 0px !important;
    top: 0px !important;
    height: 65px;
    text-align: center;
    font-size: 35px;
}

@media (max-width: 991px) {
    .special-tests .filter-item {
        width: 50%;
    }
    .user-name {
        /*margin: 45px !important;*/
        position: absolute;
        left: 0;
        right: 0;
        top: 75px;
    }
    .user-logo {
        text-align: center;
        padding-bottom: 10px !important;
    }
    .user-prof {
        padding: 30px !important;
        padding-bottom: 44px !important;
        background-color: transparent !important;
    }
    .filter_data {
        margin: auto;
        right: 0px !important;
        position: absolute;
        left: 0px !important;
        bottom: 0px !important;
        top: 0px !important;
        height: 65px;
        text-align: center;
        font-size: 35px;
    }
    .sep_button {
        border-right: none !important;
    }
}

@media (max-width: 480px) {
    .special-tests .filter-item {
        width: 100%;
    }
}

@media (max-width: 1269px) {
    .payment {
        max-width: 70%;
        margin: auto;
    }
}

@media (max-width: 1286px) {
    .payment {
        max-width: 69%;
        margin: auto;
    }
}

@media (max-width: 768px) {
    #side-menu {
        height: 100% !important;
    }
    #page-wrapper {
        min-height: 100% !important;
    }
}

@media (min-width: 1200px) {
    .upcom-tests {
        margin: auto;
        float: none;
        width: 66%;
    }
}

.user-name {
    text-align: center;
    padding-top: 10px;
}

.user-logo {
    text-align: center;
}
