/* Custom CSS for website
Added by: Wazeem Raja
*/

.custCtabox {
	display: inline-block;
	width: 200px; 
	background: white;
	padding: 30px;
	margin: 10px;
	min-height: 200px;
	vertical-align: top;
}
.custCtabox h4 {
	color: black;
}