/*-----------------------------------------------------------------------------------

	Theme Name: ConceptOwl
	Description: Custom theme for ConceptOwl
	Author: Gaurav Ganeriwala
	Version: 1

-----------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Test Page
-----------------------------------------------------------------*/
::selection {
  background: inherit;
  color: inherit;
  text-shadow: none;
}
.check{
	height:30px;
	position:absolute;
	opacity:1;
	top:2px;
	right:2px;
	font-size:13px;
	color:#fff;
	padding:5px 10px;
	border-radius:3px;
	background-color: green !important;
}
.cross{
	height:30px;
	position:absolute;
	opacity:1;
	top:2px;
	right:2px;
	font-size:13px;
	color:#fff;
	padding:5px 10px;
	border-radius:3px;
	background-color: maroon !important;
}
/* --------------------------------------
	Q&A Section
----------------------------------------*/
.qa-section{
	width:100%;
	height:100%;
	position:fixed;
	padding-right:290px;
	top:0;
	right:0;
}
.qa-section ul li, .qa-section ul, .qa-section li{
	list-style:none;
}
.qa-section ul{
	display:inline-block;
}
/* -------------------------------
	Q&A header
---------------------------------*/
.qa-header{
	width:100%;
	height:47px;
	position:fixed;
	top:0;
	left:0;
	padding-left:290px;
	z-index:1;
	background:#f3f3f4;
	overflow:hidden;
}
.qa-header .small-logo, .qa-header .menu-icon{
	display:none;
}
.qa-header .subject-btn{
	width:170px;
	height:100%;
	float:left;
	background:#a3e1d4;
	border-radius:0;
	border:solid 1px #a3e1d4;
}
.qa-header .subject-btn:nth-child(2){
	border-left:solid 1px #fff;
	border-right:solid 1px #fff;
}
.qa-header .subject-btn:hover, .qa-header .subject-btn.active{
	background:#1ab394;
	border:solid 1px #10997d;
}
.da-timer-container{
	float:right;
	margin-right:30px;
	line-height:23.5px;
}
.da-timer{
	color:#2f4050;
	font-weight:bold;
}
/* -------------------------------
	Q&A Main Container
---------------------------------*/
.qa-main-container{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	right:0;
	padding-left:290px;
	padding:47px 0;
}
/* -------------------------------
	Q&A Control Nav
---------------------------------*/
.qa-control-nav{
	width:40px;
	height:100%;
	position:relative;
	margin-left:290px;
	background:#f3f3f4;
	color:#2f4050;
}
.prev-set, .next-set{
	width:100%;
	height:40px;
	position:absolute;
	left:0;
	font-size:30px;
	line-height: 40px;
	text-align:center;
	cursor:pointer;
}
.prev-set:hover, .next-set:hover{
	background:#2f4050;
	color:#f3f3f4;
}
.prev-set{
	top:0;
	border-bottom:solid 1px #fff;
}
.next-set{
	bottom:0;
	border-top:solid 1px #fff;
}
.prev-set [class^="icon-"], .next-set [class^="icon-"]{
	width: 100%;
	height: 100%;
	line-height: inherit;
	margin:0;
}
.question-list{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	padding:40px 0;
}
.question-list-pane{
	width:100%;
	height:100%;
	overflow:hidden;
}
.question-list-slides{
	width:100% !important;
	height:100%;
	overflow:hidden;
}
.question-list a{
	width:40px !important;
	height:40px;
	display:block;
	line-height:40px;
	text-align:center;
	color:#2f4050;
	cursor:pointer;
	border-bottom:solid 1px #fff;
	position:relative;
}
.question-list a:hover, .question-list a.active{
	background:#2f4050 !important;
	color:#fff;
}
.question-list a span{
	width:100%;
	height:100%;
	display:block;
}
.question-list a.correct{
	border-left:solid 5px #1ab394;
	border-right:solid 5px transparent;
}
.question-list a.incorrect{
	border-left:solid 5px #e60026;
	border-right:solid 5px transparent;
}
.question-list a.skipped-an{
	border-left:solid 5px #ffcc8a;
	border-right:solid 5px transparent;
}
.flex-direction-nav{
	position:fixed;
	top:-9999px;
	left:-9999px;
}
/* -------------------------------
	Q&A Container
---------------------------------*/
.qa-container{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	padding:47px 0 47px 330px;
	background: white;
}
.qa-scroll-pane{
	width:100%;
	height:100%;
	position:relative;
	overflow-y:scroll;
}
.qa-scroll-pane th, .qa-scroll-pane td{
	padding:10px;
}
.qa-scroll-pane img{
	width:auto !important;
	height:auto !important;
}
/* -------Current Question Count--------*/
.current-question-bar{
	width:100%;
	height:40px;
	float:left;
	position:relative;
}
.question-count{
	width:100%;
	float:left;
	padding:0 30px;
	position:relative;
	margin:0;
}
.current-count{
	font-size:1.2em;
	font-weight:bold;
	color:#2f4050;
}
.current-count span{
	display:none;
}
.qa-functions{
	font-size:1.2em;
	font-weight:bold;
	color:#444;
	cursor:pointer;
}
.qa-bookmark, .qa-notes, .qa-report{
	width:40px;
	height:40px;
	position:relative;
	display:inline-block;
}
.qa-report:hover{
	background:#f0f0f0;
	color:maroon;
}
.qa-bookmark.active{
	background:#999;
	color:#ffee7c;
}
.qa-bookmark:hover, .qa-notes:hover{
	background:#f0f0f0;
	color:green;
}
/* ---------Question--------*/
.qa-question{
	width:100%;
	float:left;
	font-weight:bold;
	padding:30px 30px 0;
	border-bottom:solid 1px #ddd;
	position:relative;
}
.qa-question-content{
	max-width:600px;
	float:left;
}
.qa-question p{
	width:100%;
	float:left;
}
/* ---------Answer--------*/
.qa-answers{
	width:100%;
	float:left;
	position:relative;
}
.qa-answer-option{
	width:100%;
	min-height:30px;
	float:left;
	position:relative;
	padding:30px 60px;
	border-left:solid 1px #ddd;
	border-right:solid 1px #ddd;
	border-bottom:solid 1px #ddd;
	border-top:0;
}
.qa-answer-option.active{
	border-bottom:solid 1px #fff;
}
.qa-answers-form{
	width:100%;
	float:left;
	margin-bottom: 0;
}
.qa-checkbox{
	position:absolute;
	top:-9999px;
	left:-9999px;
}
.qa-a-overlay{
	height:100%;
	width:100%;
	position:absolute;
	opacity:0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	-moz-opacity: 0.1;
	-khtml-opacity: 0.1;
	top:0;
	left:0;
	display:none;
}
.qa-answer-option.correct .qa-a-overlay{
	background:green;
	display:block;
}
.qa-answer-option.incorrect .qa-a-overlay{
	background:maroon;
	display:block;
}
.qa-answers .icon-line-check, .qa-answers .icon-line-cross{
	position:absolute;
	opacity:0;
	top:10px;
	left:10px;
	font-size:15px;
}
.qa-answer-option.correct.answered .icon-line-check{
	color:green;
	opacity:1;
}
.qa-answer-option.incorrect.answered .icon-line-cross{
	color:maroon;
	opacity:1;
}
.qa-option-number{
	width:30px;
	height:30px;
	position:absolute;
	top:30px;
	left:60px;
	font-weight:bold;
	line-height:30px;
	text-align:center;
	background-color:#2f4050;
	color:#fff;
	border-radius:100px;
}
.qa-answer-content{
	max-width:600px;
	float:left;
	padding-left:80px;
}
.qa-answer-content img{
	float:none !important;
}
.qa-answer-content p{
	width:100%;
	line-height:30px !important;
}
.qa-answer-content p:last-child{
	margin:0;
}
.qa-solution{
	width:100%;
}
.qa-solution label{
	color:#1ab394;
}
.qa-answer-block{
	width:100%;
	padding:30px;
}
.qa-answer-block label.correct{
	color:#1ab394;
}
.qa-answer-block label.incorrect{
	color:#e60026;
}
.qa-answer-block .answer-incorrect, .qa-answer-block .answer-correct{
	display:inline-block;
	margin-right:40px;
}
.qa-answer-block input{
	padding:10px;
}
.qa-answer-matrix th{
	padding:10px 30px;
}
.qa-answer-matrix td{
	padding:10px 20px;
	border:solid 1px #ddd;
	cursor:default;
}
.qa-answer-matrix td.correct, .qa-answer-matrix td.incorrect{
	border-color:#fff;
}
.qa-answer-matrix td.correct{
	background-color:#e7f3e7;
}
.qa-answer-matrix td.incorrect{
	background-color:#f2e6e6;
}
.qa-answer-matrix td:nth-child(2).correct, .qa-answer-matrix td:nth-child(2).incorrect{
	border-left:solid 1px #ddd;
}
.qa-answer-matrix td:last-child.correct, .qa-answer-matrix td:nth-child(2).incorrect{
	border-right:solid 1px #ddd;
}
.qa-answer-matrix tr:first-child td.correct, .qa-answer-matrix td:nth-child(2).incorrect{
	border-top:solid 1px #ddd;
}
.qa-answer-matrix tr:last-child td.correct, .qa-answer-matrix td:nth-child(2).incorrect{
	border-bottom:solid 1px #ddd;
}
/* -------------------------------
	Q&A Footer
---------------------------------*/
.qa-footer{
	width:100%;
	height:47px;
	position:fixed;
	bottom:0;
	left:0;
	padding-left:290px;
	z-index:1;
	background:#293846;
	font-size:18px;
	color:#fff;
	line-height:47px;
}
.qa-prev-question, .qa-next-question{
	width:290px;
	height:48px;
	line-height:47px;
	padding:0;
	position:absolute;
	top:0;
	text-align:center;
	background:#293846 ;
	border:solid 1px #293846 ;
	border-radius:0;
	text-transform:uppercase;
	
}
.qa-prev-question span, .qa-next-question span{
	font-size:15px;
}
.qa-prev-question:hover, .qa-next-question:hover, .qa-next-question:active, .qa-next-question:focus:hover{
	background:#2f4050;
	border:solid 1px #2f4050 ;
}
.qa-next-question:focus{
	background:#2f4050 ;
	border:solid 1px #2f4050 ;
}
.qa-prev-question{
	left:290px;
	border-right-color:#2f4050;
}
.qa-next-question{
	right:0;
	border-left-color: #2f4050;
}
/* --------------------------------------
	Sidebar Section
----------------------------------------*/
.qa-sidebar{
	width:290px;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	display:block;
	border-right:solid 1px #fff;
	background:#293846;
	color:#fff;
	z-index:10;
}
.qa-sidebar .sidebar-close{
	display:none;
}
.sidebar-container{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	padding-top:47px;
	z-index:0;
}
.sidebar-scroll-pane{
	width:100%;
	height:100%;
	float:left;
	position:relative;
	overflow-y:auto;
}
/* -------------------------------
	Logo
---------------------------------*/
.qa-sidebar #test-logo {
	width:100%;
	height:47px;
	background:#fff;
	z-index: 999;
	position:relative;
}
.qa-sidebar  #test-logo a{
	width:100%;
	height:100%;
	display:block;
}
.qa-sidebar #test-logo img{
	height:100%;
	margin:0 auto;
	padding:10px 0;
	display:block;
}


/* -------------------------------
	Stats and Filter
---------------------------------*/
.qa-stats, .qa-filter{
	width:100%;
	float:left;
	margin:30px 0 60px;
	padding:0 30px 10px;
	background:#2f4050;
}
.qa-sidebar .title{
	line-height:40px;
	font-size:18px;
	border-bottom:solid 1px #Fff;
	margin-bottom:10px;
}
.qa-sidebar p{
	width:100%;
	float:left;
	line-height:20px;
	margin:0;
}
.qa-sidebar .left{
	float:left;
}
.qa-sidebar .right{
	float:right;
}
.qa-sidebar .filter-correctly{
	color:#1ab394;
}
.qa-sidebar .filter-skipped-an{
	color:#ffcc8a;
}
.qa-sidebar .filter-incorrectly{
	color:#e60026;
}
.qa-sidebar input[type="checkbox"]{
	width:15px;
	height:15px;
    margin:0;
    position: relative;
    top: 2px;
    overflow: hidden;
}

/* ----------------------------------------------------------------
	Responsive styles
-----------------------------------------------------------------*/
@media (max-width: 1200px){
	.qa-prev-question, .qa-next-question{
		width:200px;
	}
}
@media (max-width: 1130px){
	.qa-header .subject-btn{
		width:auto;
	}
}
@media (max-width: 991px){
	.qa-section{
		padding:0;
	}
	.qa-header{
		padding:0;
		border-bottom:solid 1px #ddd;
	}
	.qa-header .menu-icon{
		width:40px;
		height:47px;
		font-size:25px;
		line-height:47px;
		text-align:center;
		background:#293846;
		color:#fff;
		display:inline-block;
		cursor:pointer;
	}
	.qa-header .menu-icon:hover{
		background:#2f4050;
	}
	.qa-header .small-logo{
		position:absolute;
		width:47px;
		height:47px;
		top:0;
		left:50%;
		margin-left:-23.5px;
		display:block;
	}
	.qa-header .small-logo img{
		height:100%;
		padding:3px 0;
	}
	.qa-header .subject-btn{
		display:none;
	}
	.da-timer-container{
		margin-right:10px;
	}
	.da-timer{
		font-size:0.8em;
	}
	/* -------------------------------
		Q&A Main Container
	---------------------------------*/
	.qa-main-container{
		width:100%;
		height:100%;
		position:fixed;
		top:0;
		right:0;
		padding-left:0;
		padding:47px 0;
	}
	/* -------------------------------
		Q&A Control Nav
	---------------------------------*/
	.qa-control-nav{
		margin-left:0;
	}
	/* -------------------------------
		Q&A Container
	---------------------------------*/
	.qa-container{
		padding:47px 0 47px 40px;
	}
	/* -------Current Question Count--------*/
	.question-count{
		padding:10px;
		border-bottom:solid 1px #ddd;
	}
	.current-count{
		font-size:0.8em;
		font-weight:bold;
		color:#2f4050;
	}
	.current-count span{
	display:inline-block;
}
	.qa-functions {
		font-size:0.8em;
	}
	/* ---------Question--------*/
	.qa-question-content{
		padding-top:30px;
		padding-bottom:30px;
	}
	/* ---------Answer--------*/
	.qa-answer-option{
		padding:30px 30px;
	}
	.qa-option-number{
		left:30px;
	}
	.qa-answer-content{
		padding-left:40px;
	}
	.qa-answer-matrix th{
	padding:10px 30px 10px 0;
}
	
	/* -------------------------------
		Q&A Footer
	---------------------------------*/
	.qa-footer{
		padding-left:0;
	}
	.qa-prev-question, .qa-next-question{
		width:50%;
	}
	.qa-prev-question span, .qa-next-question span{
		display:none;
	}
	.qa-prev-question{
		left:0;
	}
	.qa-next-question{
		right:0;
	}
	/* --------------------------------------
		Sidebar Section
	----------------------------------------*/
	.qa-sidebar{
		margin-left:-500px;
	}
	.qa-sidebar .sidebar-close{
		width:47px;
		height:47px;
		font-size:25px;
		line-height:47px;
		text-align:center;
		background:#293846;
		color:#fff;
		position:absolute;
		top:0;
		left:0;
		cursor:pointer;
		z-index:9999;
		display:block;
	}
	.sidebar-container{
		padding-top:0;
	}
	.sidebar-scroll-pane{
		padding-top:47px;
	}
	/* -------------------------------
		Logo
	---------------------------------*/
	.qa-sidebar #test-logo {
		display:none;
	}

}
