/* Empty. Add your own CSS if you like */

svg {
    height: 50px;
    position: absolute;
    fill: #bdc3c7;
}

.tabl {
    width: 25.333% !important;
}

.thanks-view {
    -webkit-animation: main-list-view-anim 1s;
    -moz-animation: main-list-view-anim 1s;
    -ms-animation: main-list-view-anim 1s;
    -o-animation: main-list-view-anim 1s;
    animation: main-list-view-anim 1s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes main-list-view-anim {
    0% {
        opacity: 0;
    }
    100% {}
}

@-moz-keyframes main-list-view-anim {
    0% {
        opacity: 0;
    }
    100% {}
}

@-ms-keyframes main-list-view-anim {
    0% {
        opacity: 0;
    }
    100% {}
}

@-o-keyframes main-list-view-anim {
    0% {
        opacity: 0;
    }
    100% {}
}

@keyframes main-list-view-anim {
    0% {
        opacity: 0;
    }
    100% {}
}

.check {
    background-color: rgba(0, 255, 0, 0.1);
    border-radius: 6px;
}

.qa-answer-content p img {
    opacity: 1;
}

.logo img {
    padding: 15px;
}

.opened {
    display: block !important;
}

.closed {
    display: none !important;
}

.test-icon {
    height: 100px;
    width: 100px;
    background: #1ABC9C;
    border-radius: 50px;
    margin: 0 auto;
}

.padd-3 {
    padding: 3%;
}

.modal-dialog {
    margin: 150px auto !important;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.top-margin {
    margin-top: 160px !important
}


/*.tests {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    height: 800px;
    background: #aaa;
}

.tests-content {
    width: 100%;
    height: 100%;
    position: relative;
    /*background: #f00;*/


/*}*/

.tests-content-title {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

.tests-option {
    height: 36px;
    width: 250px;
    border-radius: 3px;
}

.changeColor_three {
    background-color: #1ABC9C;
}

#onhover_three:hover > div div.changeColor_three {
    background-color: #000 !important;
    border: 1px solid #000;
    border-collapse: separate;
    box-shadow: 0px 0px 0px 4px #fff inset;
}

.changeColor_twenty {
    background-color: #1ABC9C;
}

#onhover_twenty:hover > div div.changeColor_twenty {
    background-color: #000 !important;
    border: 1px solid #000;
    border-collapse: separate;
    box-shadow: 0px 0px 0px 4px #fff inset;
}

hr {
    margin-top: -10px;
}

.three_bottom {
    width: 30px;
    color: #000;
    background-color: #000;
    height: 3px;
    transition: width 110ms, height 110ms, margin-left 110ms, left 110ms, top 110ms;
    -moz-transition: width 110ms, height 110ms, margin-left 110ms, left 110ms, top 110ms;
    -ms-transition: width 110ms, height 110ms, margin-left 110ms, left 110ms, top 110ms;
    -o-transition: width 110ms, height 110ms, margin-left 110ms, left 110ms, top 110ms;
    -webkit-transition: width 110ms, height 110ms, margin-left 110ms, left 110ms, top 110ms;
}

#onhover_three:hover > .three_bottom {
    width: 60px !important;
}

.title_bottom {
    width: 60px;
    color: #000;
    background-color: #000;
    height: 3px;
}

.container {
    padding-bottom: 50px;
    /* border: 1px solid black;*/
}


/*
.test-icon {
    position: relative;
    margin-left: 39%;
    margin-top: 40%;
    height: 100px;
    width: 100px;
}
*/


/*.page-wrapper{
    min-height: 800px !important;
}*/


/******** Home*/

.border-div {
    height: 100%;
    width: 100%;
}


/*************/

.pane {
    height: 100%;
}

.modal-content-style {
    padding-top: 45px;
    padding-bottom: 45px;
}

.recent_uptest {
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px #dfdfdf;
}


/*** Login and Registrion mobile Media Query ***/

@media (max-width: 450px) {
    .popup-style-row1-text {
        margin: 0px;
        padding: 30px !important;
        font-size: 14px !important;
        color: #FFF;
    }
    .popup-style-row2-button {
        width: 100%;
        height: 35px !important;
        font-size: 16px !important;
        background: #478BDF none repeat scroll 0% 0%;
        color: #FFF;
    }
    .popup-style-container {
        width: 40%;
        position: fixed;
        margin: auto !important;
        top: -60px !important;
        bottom: 0;
        left: 0;
        right: 0;
        height: 200px !important;
    }
}

.popup-style-container {
    width: 40%;
    position: fixed;
    margin: auto !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px
}

.popup-style-row1 {
    text-align: center;
    background: #2F4050;
    margin: 0px;
}

.popup-style-row1-text {
    margin: 0px;
    padding: 38px;
    font-size: 20px;
    color: white;
}

.popup-style-row2 {
    text-align: center;
    margin: 0px;
}

.popup-style-row2-button {
    width: 100%;
    height: 50px;
    font-size: 22px;
    background: #478BDF;
    color: white;
}

.app_loader {
    height: 100px;
    width: 100px !important;
    background: black;
    opacity: 1;
    position: fixed;
    margin: auto !important;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.practice_submit {
    width: 150px;
    background: #1AB394 !important;
    border: none !important;
}
.change_color{
    background: #EF6776 !important;
}
.sep_button{
    border-right: 1px solid #56567D;
}